<section class="section info-policy">
  <div class="container info-policy__container">
    {% if info_policy.type == 'personal-data-processing' %}
      <div class="text-block">
        <h2>
          Общие положения
        </h2>
        <p>
          1. Настоящая Политика конфиденциальности действует в отношении всей информации, которую ООО КОМПАНИЯ «СИМПЛ» (далее - Компания) и/или его аффилированные лица, в том числе входящие в одну группу с ООО КОМПАНИЯ «СИМПЛ » могут получить о Пользователе во время использования им любого из сайтов, сервисов, служб, программ, продуктов или услуг Компании, и/или в ходе исполнения Компанией любых соглашений и договоров с Пользователем, включая возможность рассылки информации, в том числе и рекламного характера (далее – Использование).
        </p>
        <p>
          2. Использование Сервисов Компании означает безоговорочное согласие Пользователя с настоящими Правилами обработки персональных данных (далее – Правила) и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от Использования.
        </p>
        <p>
          3. Компания исходит из того, что Пользователь, инициирующий Использование, сознательно определяет свои запросы и контролирует технические параметры используемого им оборудования, а также ознакомился с настоящими Правилами в полном объеме. В случае несогласия Пользователя с Правилами Использование должно быть прекращено.
        </p>
        <h2>
          Персональная информация Пользователя
        </h2>
        <p>
          В рамках настоящих Правил под «персональной информацией Пользователя» понимаются:
        </p>
        <p>
          1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе участия в Использовании. Обязательная для предоставления Использования информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
        </p>
        <p>
          2. Данные, которые автоматически передаются в результате Использования Пользователем с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Использованию), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа, адреса запрашиваемых страниц и иная подобная информация.
        </p>
        <p>
          3. Иная информация о Пользователе, возможность получения которой обусловлена технически.
        </p>
        <p>
          4. Компания не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайтах Компании, в том числе в результатах поиска.Компания не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако Компания и Пользователь исходят из того, что Пользователь предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии.
        </p>
        <h2>
          Цели обработки персональной информации Пользователя
        </h2>
        <p>
          1. Компания собирает и хранит только ту часть персональной информации Пользователя, которая необходима Компании для предоставления/получения Использования, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
        </p>
        <p>
          Необходимо персональной информацией признается: <br>
          - Фамилия, Имя, Отчество Пользователя; <br>
          - Контактные данные Пользователя (номер мобильного телефона и/или адрес e-mail).
        </p>
        <p>
          2. Персональную информацию Пользователя Компания обрабатывает в следующих целях: <br>
          - Идентификация стороны в рамках Использования, соглашений и договоров с Компанией; <br>
          - Предоставление Пользователю возможности персонализированного Использования и исполнение соглашений и договоров; <br>
          - Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся Использования, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя, включая возможные рассылки информационного и рекламного характера; <br>
          - Улучшение качества Использования, удобства, разработка новых возможностей и опций Использования; <br>
          - Информирования о товарах, услугах и акциях Компании; <br>
          - Участия в программах лояльности Компании; <br>
          - Таргетирование рекламных материалов; <br>
          - Проведение статистических и иных исследований на основе обезличенных данных.
        </p>
        <p>
          3. Компания имеет право обрабатывать информацию о пользователях Интернета, полученную в результате обмена информацией с третьими лицами по протоколам OpenID и OAuth, при условии что последние получат предварительное согласие пользователей Интернета на указанную обработку.
        </p>
        <h2>
          Условия обработки персональной информации Пользователя и её передачи третьим лицам
        </h2>
        <p>
          1. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных опций Использования, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
        </p>
        <p>
          2. Компания вправе передать персональную информацию Пользователя третьим лицам в следующих случаях: <br>
          - Пользователь выразил согласие на такие действия; <br>
          - Передача необходима для использования Пользователем определенного вида опций Использования либо для исполнения определенного соглашения или договора с Пользователем; <br>
          - Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры; <br>
          - Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации; <br>
          - В результате обработки персональной информации Пользователя путем ее обезличивания могут быть получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению Компании.
        </p>
        <p>
          3. При обработке персональных данных Пользователей Компания руководствуется Федеральным законом РФ «О персональных данных».Компания вправе поручить обработку персональных данных третьим лицам (ООО «Нейро» ИНН: 7701094560, ООО «Фастком» ИНН: 7702764401, ООО «УИЛЛСТРИМ РУС» ИНН: 9705137770) на основании заключаемого с этими лицами договора, в соответствии с целями указанных в п.3.2. Лица, осуществляющие обработку персональных данных по поручению Компании, обязуются соблюдать принципы и правила обработки и защиты персональных данных, предусмотренные Федеральным законом № 152-ФЗ «О персональных данных». Для каждого лица определены перечень действий (операций) с персональными данными, которые будут совершаться юридическим лицом, осуществляющим обработку персональных данных, цели обработки, установлена обязанность такого лица соблюдать конфиденциальность и обеспечивать безопасность персональных данных при их обработке, а также указаны требования к защите обрабатываемых персональных данных.
        </p>
        <h2>
          Изменение и удаление персональной информации. Обязательное хранение данных
        </h2>
        <p>
          1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть.
        </p>
        <p>
          2. Пользователь также в любой момент может потребовать удалить предоставленную им в рамках определенной учетной записи персональную информацию.
        </p>
        <p>
          3. Права, предусмотренные пп. 5.1. и 5.2. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность Компании сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой уполномоченному государственному органу.
        </p>
        <h2>
          Обработка персональной информации при помощи файлов Cookie и счетчиков
        </h2>
        <p>
          1. Файлы cookie, имеющиеся на оборудовании Пользователя по любой причине, могут использоваться Компанией для предоставления Пользователю персонализированных опций использования, для таргетирования/рассылки информации/рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения опций Использования.
        </p>
        <p>
          2. Пользователь осознает, что оборудование и программное обеспечение, применяемое для Использования могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.
        </p>
        <p>
          3. Компания вправе установить, что предоставление определенных опций Использования возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.
        </p>
        <p>
          4. Структура файла cookie, его содержание и технические параметры определяются на усмотрение Компании и могут изменяться без предварительного уведомления Пользователя.
        </p>
        <p>
          5. Счетчики, размещенные Компанией при Использовании, могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации и других целей. Технические параметры работы счетчиков определяются Компанией и могут изменяться без предварительного уведомления Пользователя.
        </p>
        <h2>
          Меры, применяемые для защиты персональной информации Пользователя
        </h2>
        <p>
          1. Компания принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
        </p>
        <p>
          2. Компания использует для авторизации доступа к Использованию информацию из профиля Пользователя (логин и пароль, контрольные секретный вопрос и ответ). При этом Компания вправе предоставлять такие данные лицам, указанным в ст.4 настоящего документа. Ответственность за сохранность данной информации, включая логин и пароль, несет Пользователь. Любые действия, совершенные с ее использованием, считаются Компанией совершенными Пользователем. Передача собственного логина и пароля пользователем третьим лицам запрещена. <br>
          В случае, если Пользователю стали известны логин и пароль другого пользователя, а также иная конфиденциальная информация о последнем, он обязан уведомить об этом Компанию и не использовать ставшую известной ему указанную информацию.
        </p>
        <p>
          3. Доступ Пользователя к Использованию может вызывать обращение на Интернет-ресурсы третьих лиц и загрузку с них программного кода и/или графических объектов (в том числе, невидимых при отображении Интернет-страниц браузером), используемых в рекламных целях и в целях сбора статистики. Владельцы названных ресурсов имеют техническую возможность осуществлять сбор информации о Пользователе и самостоятельно определяют условия ее использования.
        </p>
        <p>
          Путем настройки программного обеспечения Пользователь имеет возможность заблокировать запросы на графические изображения, размещенные на серверах третьих лиц, однако это может привести к потере читаемости и появлению ошибок при отображении ресурсов.При переходе пользователей со страниц Использования Компании на страницы Интернет-ресурсов третьих лиц Пользователь самостоятельно определяет пределы использования информации о них в рамках условий и правил, определяемых владельцами соответствующих Интернет-ресурсов.
        </p>
        <p>
          4. Интернет-ресурсы (ресурсы (simple.ru, simplewine.ru, simplewaters.ru, grandcru.ru, enotria.ru, simplewinenews.ru, simpletravel, vinopolis.ru) Компании могут содержать ссылки на ресурсы третьих лиц, на которых настоящий документ не распространяется. СИМПЛ не несет ответственности за действия третьих лиц, использующих Интернет-ресурсы Компании в своей деятельности. СИМПЛ не несет ответственности за организацию использования протоколов OpenID и OAuth третьими лицами и надлежащее обеспечение последними защиты информации о пользователях.
        </p>
        <p>
          В случае совместных партнерских проектов и сервисов Компании в официальных документах последнего и/или документах партнеров, определяющих использование соответствующих Интернет-ресурсов, должно быть указано, как осуществляется обработка информации о пользователях всеми партнерами, включая информацию о том, кто хранит и обрабатывает персональные данные пользователей. Компания не несет ответственности за несоблюдение указанными лицами требований действующего законодательства Российской Федерации.
        </p>
        <p>
          5. Обеспечение безопасности персональных данных Пользователя достигается путем мониторинга на определение угроз безопасности персональных данных при их обработке; применению организационных и технических мер по обеспечению безопасности персональных данных при их обработки; путем оценки эффективности принимаемых мер по обеспечению безопасности персональных данных; путем обнаружения фактов несанкционированного доступа к Персональным данным и принятием мер по их устранению; путем установления правил доступа к персональным данным; путем контроля за принимаемыми мерами по обеспечению безопасности персональных данных.
        </p>
        <h2>
          Изменение Политики конфиденциальности. Применимое законодательство
        </h2>
        <p>
          1. Компания имеет право вносить изменения в настоящую Политику конфиденциальности с учетом требований действующего в Российской Федерации в области защиты персональных данных.
        </p>
        <p>
          2. К настоящей Политике и отношениям между Пользователем и Компанией, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
        </p>
        <h2>
          Обратная связь. Права и обязанности Сторон
        </h2>
        <p>
          1. Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в Службу поддержки Компании по адресу: Москва, улица 4-я Магистральная, д .11, стр. 2, ООО КОМПАНИЯ «СИМПЛ» (ИНН 7711078582 ОГРН 1027739484981) или по телефону +7 (495) 510-67-68 и электронному адресу cheers@simplewine.ru
        </p>
        <p>
          2. Пользователь Сайта имеет права, определяемые положениями действующего законодательства РФ.
        </p>
        <p>
          3. При посещении интернет-ресурсов Компании и Использовании Пользователь обязан: соблюдать положения действующего законодательства Российской Федерации и настоящего документа; возмещать убытки, понесенные Компанией, другими Пользователями или третьими лицами в результате нарушения Политики или законодательства Российской Федерации; соблюдать положения документов, регулирующих Использование, а также законодательство Российской Федерации; ознакомиться со всей информацией юридического характера, размещенной на Сайте или доступной на нем посредством ссылок.
        </p>
        <p>
          4. Пользователю при Использовании запрещается: публиковать и распространять любую информацию, которая: <br>
          - содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию, или нарушает неприкосновенность частной жизни других Пользователей Сайта или третьих лиц; <br>
          - нарушает права несовершеннолетних лиц; <br>
          - является непристойной, содержит нецензурную лексику, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних; <br>
          - содержит сцены насилия либо бесчеловечного обращения с животными;содержит описание средств и способов суицида, любое подстрекательство к его совершению;
          - пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства; <br>
          - содержит экстремистские материалы; <br>
          - пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий; <br>
          - содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц; <br>
          - содержит рекламу или описывает привлекательность употребления наркотических веществ, информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению; <br>
          - носит мошеннический характер;нарушает права третьих лиц на результаты интеллектуальной деятельности; <br>
          - нарушает права субъектов персональных данных; <br>
          - нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.
        </p>
        <p>
          5. Пользователю запрещается: <br>
          - осуществлять массовые рассылки сообщений;использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования технических возможностей и оборудования Компании; <br>
          - публиковать и распространять на Сайте или иным образом использовать вирусы, трояны и другие вредоносные программы; <br>
          - размещать на Сайте коммерческую и политическую рекламу; <br>
          - осуществлять иные действия, которые могут нанести вред Компании, третьим лицам, Пользователям.
        </p>
      </div>
    {% elseif info_policy.type == 'conditions-corporate-clients' %}
      <div class="text-block">
        <h2>
          Давайте вместе сотрудничать
        </h2>
        <p>
          Уважаемые юридические лица с лицензией! Мы рады предложить вам уникальную возможность зарегистрироваться на нашем портале и получить доступ к особым условиям покупки товаров.
        </p>
        <p>
          Наш портал предоставляет юридическим лицам с лицензией уникальную возможность приобретать товары по выгодным ценам и получать доступ к эксклюзивным предложениям. Мы работаем только с проверенными поставщиками, что гарантирует высокое качество продукции и ее соответствие всем необходимым стандартам и требованиям.
        </p>
        <p>
          Мы понимаем, что для юридических лиц время - это деньги, поэтому мы уделяем особое внимание быстроте и качеству обслуживания. На нашем портале вы можете легко и удобно оформить заказы, отслеживать статусы и получать информацию о новинках и акциях. Кроме того, мы предлагаем гибкую систему оплаты и доставки, которая позволит вам выбрать наиболее удобный вариант.
        </p>
        <p>
          Регистрация на нашем портале - это простой и быстрый процесс, который займет всего несколько минут. После регистрации вы получите доступ к эксклюзивным предложениям и сможете начать сотрудничество с нами.
        </p>
        <p>
          Мы ценим каждого нашего клиента и готовы предложить индивидуальный подход к каждому заказу. Если у вас возникнут вопросы или пожелания, наши специалисты всегда готовы помочь и предоставить необходимую информацию.
        </p>
        <p>
          Присоединяйтесь к нашей команде и получите максимальную выгоду от сотрудничества с нами! Мы гарантируем, что ваше сотрудничество с нами будет приятным и выгодным.
        </p>
      </div>

      {% include "../../@atoms/button/button.twig" with {
        button: {
          href: "#",
          class: "btn--btn btn--tertiary info-policy__btn",
          text: {
            text: "Перейти на портал"
          }
        }
      } %}
    {% else %}
      <div class="text-block">
        <h2>
          Реквизиты
        </h2>
        <p>
          Общество с ограниченной ответственностью КОМПАНИЯ "СИМПЛ" <br>
          ЮРИДИЧЕСКИЙ АДРЕС: 125167Россия, Москва, ул. Степана Супруна, дом 3-5, строение 1 <br>
          ПОЧТОВЫЙ АДРЕС: 123007, Россия, г. Москва, 4-я Магистральная улица, дом 11, строение 2 <br>
          ОГРН: 1027739484981
        </p>
        <h2>
          Термины
        </h2>
        <p>
          Клиент — физическое лицо, размещающее Заказы на сайте https://simplewine.ru/ и приложениях SimpleWine, либо указанное в качестве получателя Товара, либо использующее Товары, исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.
        </p>
        <p>
          Продавец — ООО Компания «Симпл»Интернет-витрина — Интернет-сайт, принадлежащий Продавцу, где представлены товары, предлагаемые Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и доставки этих Заказов Клиентам.
        </p>
        <p>
          Сайт — https://simplewine.ru/.
        </p>
        <p>
          Приложения SimpleWine — приложения Компании, размещенные в App Store и Google Play.
        </p>
        <p>
          Товар — объект материального мира, не изъятый из гражданского оборота и представленный к продаже на Сайте.
        </p>
        <p>
          Заказ — должным образом, оформленный запрос Клиента на доставку по указанному адресу в винотеку перечня Товаров, выбранных на Сайте.
        </p>
        <p>
          Собственная служба доставки — сервис Продавца, оказывающий услуги по доставке Заказов с товарами из безалкогольного ассортимента Клиентам.
        </p>
        <h2>
          1. Общие положения
        </h2>
        <p>
          1.1. Сайт принадлежит и администрируется ООО КОМПАНИЯ «СИМПЛ».
        </p>
        <p>
          1.2. Заказывая товары через Интернет-витрину https://simplewine.ru/ и приложения SimpleWine, Клиент соглашается с Условиями продажи товаров (далее — Условия), изложенными ниже.
        </p>
        <p>
          1.3. Настоящие Условия, также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
        </p>
        <p>
          1.4. К отношениям между Клиентом и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.
        </p>
        <p>
          1.5. Продавец оставляет за собой право в одностороннем порядке вносить изменения в настоящие Условия, размещенные в разделе «Условия продажи», с последующим уведомлением Клиента по email.
        </p>
        <p>
          1.6. Клиент соглашается с Условиями нажатием кнопки «Завершить оформление» на последнем этапе оформления Заказа на Сайте и в приложениях SimpleWine.
        </p>
        <h2>
          2. Регистрация на Сайте и в приложениях SimpleWine
        </h2>
        <p>
          2.1. Для оформления Заказа Клиенту необходимо зарегистрироваться или авторизоваться на Сайте или в приложениях SimpleWine.
        </p>
        <p>
          2.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.
        </p>
        <p>
          2.3. Клиент, принимая настоящие Условия, осознает, что персональные данные, используемые для доступа к сайту продавца не следует сообщать третьим лицам. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в Службу по работе с клиентами или через форму обратной связи на сайте или в приложениях SimpleWine.
        </p>
        <h2>
          3. Оформление и сроки выполнения Заказа
        </h2>
        <p>
          3.1. Заказ Клиента может быть оформлен следующими способами: оформлен Клиентом самостоятельно на Сайте или приложениях SimpleWine, а также принят по телефону.
        </p>
        <p>
          3.2. При оформлении Заказа Клиент должен указать следующую информацию: <br>
          - Ф.И.О. Клиента; <br>
          - Адрес электронной почты; <br>
          - Контактный телефон.
        </p>
        <p>
          3.3. Продавец вправе отказать в заключении договора и оформлении Заказа, без указания причин.3.4. Конечные сроки получения Заказа Клиентом зависят от выбранного способа получения заказа, региона, а также даты заказа.
        </p>
        <p>
          3.4. Конечные сроки получения Заказа Клиентом зависят от выбранного способа получения заказа, региона, а также даты заказа.
        </p>
        <p>
          3.5 Все информационные материалы, представленные на Сайте и в приложениях SimpleWine, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цвета, объемы, количества, формы и органолептические свойства. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент должен обратиться к Продавцу.
        </p>
        <p>
          3.6. В случае отсутствия заказанных Товаров на складе Продавца, в том числе по причинам, не зависящим от Продавца, Продавец вправе аннулировать указанный Товар из Заказа Клиента и уведомить об этом Клиента путем направления электронного сообщения по адресу, указанному при регистрации, либо по телефону, указанному в заказе.
        </p>
        <h2>
          4. Получение заказа
        </h2>
        <p>
          4.1. Способы получения товаров указаны на Сайте и приложениях SimpleWine в разделе «Как получить заказ».
        </p>
        <p>
          4.2. Продавец приложит все усилия для соблюдения сроков получения заказов Клиентами, указанных на Сайте в приложениях SimpleWine, тем не менее, задержки возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
        </p>
        <p>
          4.3. Риск случайной гибели или повреждения Товара переходит к Клиенту с момента передачи ему Заказа и после его оплаты.
        </p>
        <p>
          4.4. При доставке безалкогольной продукции и стекла Заказ вручается Клиенту либо лицу, указанному в качестве Получателя Заказа. При невозможности получения Заказа, оформленного за наличный расчет, указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
        </p>
        <p>
          4.5. При передаче заказа Клиенту Продавец в праве потребовать предъявить документ, удостоверяющий личность.
        </p>
        <p>
          4.6. При передаче Заказа Клиент должен проверить внешний вид и упаковку Заказа, количество Товара в Заказе, комплектность, ассортимент.
        </p>
        <p>
          4.7. Срок хранения заказа указывается Продавцом в момент выбора способа и даты получения заказа на сайте и в приложениях SimpleWine.
        </p>
        <p>
          4.8. Неполучение Заказа в указанные в п.
        </p>
        <p>
          4.9 Условий сроки считается отказом Клиента от договора купли-продажи и является основанием для аннулирования Заказа Продавцом.
        </p>
        <h2>
          5. Оплата Товара
        </h2>
        <p>
          5.1. Цена Товара указывается на Сайте и в приложениях SimpleWine. В случае неверного указания цены заказанного Клиентом Товара, Продавец при первой возможности информирует об этом Клиента для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Клиентом данный Заказ считается аннулированным.
        </p>
        <p>
          5.2. Цена Товара может быть изменена Продавцом в одностороннем порядке. Цена Товара указывается на последнем этапе оформления Заказа и действительна на момент нажатия кнопки «Подтвердить заказ». При этом цена на заказанный Клиентом Товар изменению не подлежит.
        </p>
        <p>
          5.3. Способ оплаты устанавливается ООО КОМПАНИЯ «СИМПЛ» самостоятельно и индивидуально для каждого товара. Способы оплаты Товара указаны на Сайте и в приложениях SimpleWine в разделе «Как сделать заказ» и могут быть в любое время изменены ООО КОМПАНИЯ «СИМПЛ» в одностороннем порядке. Согласованным способом оплаты считается способ, выбранный Клиентом из доступных способов оплаты для данного Товара при оформлении Заказа.
        </p>
        <p>
          5.4. При предоплате Товаров юридическими лицами Заказ принимается в обработку только после зачисления денежных средств Клиента на расчетный счет Продавца. При этом Товар под Заказ не резервируется, и Продавец не может гарантировать доступность Товара на складе Продавца, указанную в момент оформления Заказа, как следствие, могут увеличиться сроки обработки Заказа.
        </p>
        <p>
          5.5. Особенности оплаты Товара с помощью банковских карт.
        </p>
        <p>
          5.5.1. В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
        </p>
        <p>
          5.6. Продавец вправе предоставлять Клиенту скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на Сайте и приложениях SimpleWine в разделе «Программа лояльности SimpleWine» и могут быть изменены Продавцом в одностороннем порядке.
        </p>
        <p>
          5.7. Продавец вправе устанавливать скидки в целях продвижения того либо иного способа оплаты или доставки Товара. При этом Продавец может ограничивать условия действия скидок.
        </p>
        <h2>
          6. Возврат Товара
        </h2>
        <p>
          6.1. Возврат товара надлежащего качества.
        </p>
        <p>
          6.1.1. Федеральному Закону «О защите прав потребителей», продовольственные товары не подлежат обмену или возврату, если они надлежащего качества.
        </p>
        <p>
          6.2. Возврат товара ненадлежащего качества.
        </p>
        <p>
          6.2.1. В случае подозрений, что товар ненадлежащего качества, клиенту следует обратиться с заявлением направив обращение через форму обратной связи, приложив копию документов, подтверждающих оплату. Товар необходимо сохранить для проведения экспертизы.
        </p>
        <p>
          6.3. Возврат денежных средств.
        </p>
        <p>
          6.3.1. Денежные средства подлежат возврату тем способом, который был использован Клиентом при оплате Товара.
        </p>
        <p>
          6.5. Порядок действий при нарушении Продавцом условия о количестве.
        </p>
        <p>
          6.5.1. При передаче Заказа Клиент обязан проверить количество Товаров в Заказе. Если при передаче Заказа Клиентом обнаружены расхождения по количеству Товара в Заказе, Клиент вправе отказаться от заказа.
        </p>
        <p>
          6.5.2. Если Продавец передал Клиенту меньшее количество Товара, чем определено Заказом (недовложение), Клиент при передаче Заказа вправе отказаться от Заказа.
        </p>
        <p>
          6.5.3. Передача недостающего Товара осуществляется Продавцом посредством оформления нового Заказа.
        </p>
        <p>
          6.5.4. В случае невозможности передать недостающий Товар, Продавец уведомляет об этом Клиента посредством направления сообщения на электронный адрес, указанный Клиентом при регистрации.
        </p>
        <h2>
          7. Интеллектуальная собственность
        </h2>
        <p>
          7.1. Вся текстовая информация и графические изображения, находящиеся на Сайте и в приложениях SimpleWine, являются собственностью Продавца и/или его контрагентов.
        </p>
        <h2>
          8. Гарантии и ответственность
        </h2>
        <p>
          8.1. Продавец не несет ответственности за ущерб, причиненный Клиенту вследствие ненадлежащего использования Товаров, заказанных на Сайте или в приложениях SimpleWine.
        </p>
        <p>
          8.2. Продавец не несет ответственности за содержание и функционирование сайтов, которые содержат ссылки на Сайт или в приложения SimpleWine.
        </p>
        <p>
          8.3. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Клиентом, третьим лицам.
        </p>
        <p>
          8.4. Клиент обязуется не использовать заказанный Товар в предпринимательских целях.
        </p>
        <p>
          8.5. В вопросах возврата продовольственных товаров надлежащего качества, Продавец и Клиент руководствуются нормами законодательства в сфере защиты прав потребителей.
        </p>
        <h2>
          9. Конфиденциальность и защита персональной информации
        </h2>
        <p>
          Вы можете ознакомиться с Политикой в отношении обработки персональных данных ООО КОМПАНИЯ «СИМПЛ», перейдя по ссылке https://simplewine.ru/privacy_policy/
        </p>
        <h2>
          10. Прочие условия
        </h2>
        <p>
          10.1. К отношениям между Клиентом и Продавцом применяется право Российской Федерации.
        </p>
        <p>
          10.2. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться в Службу по работе с клиентами Продавца по телефону или через форму Обратной связи на Сайте и приложениях SimpleWine. Все возникающее споры стороны будут стараться решить путем переговоров, при не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.
        </p>
        <p>
          10.3. Признание судом недействительности какого-либо положения настоящих Условий и правил не влечет за собой недействительность остальных положений.
        </p>
      </div>
    {% endif %}
  </div>
</section>