.info-policy {
  max-width: rem(1090);
  margin: 0 auto;

  &__container {
    @include flex-column;

    align-items: flex-start;
  }

  &__btn {
    min-width: rem(320);
    margin-top: rem(56);

    @include media('600', max) {
      min-width: unset;
      width: 100%;
      margin-top: rem(30);
    }
  }
}
