.personal-account {
  $this: &;

  @include media('600', max) {
    padding-top: rem(12);
  }

  &__btns {
    @include flex-center-between;
    margin-bottom: rem(28);

    &-block {
      display: flex;
      width: max-content;
    }
  }

  &__profile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(10);

    @include media('1024', max) {
      display: block;
    }

    &-block {
      &--start {
        grid-column: span 4;
        align-self: start;

        @include media('1024', max) {
          margin-bottom: rem(16);
        }
      }

      &--end {
        display: grid;
        row-gap: rem(56);
        grid-column: span 8;

        @include media('600', max) {
          row-gap: rem(40);
        }
      }
    }
  }

  &__form {
    display: grid;
    row-gap: rem(28);

    @include media('600', max) {
      row-gap: rem(24);
    }
  }

  &__save-btn {
    min-width: rem(511);
    justify-self: start;

    @include media('600', max) {
      min-width: unset;
      width: 100%;
    }
  }

  &__change-password-btn {
    width: 100%;
  }

  .card-block {
    &__col {
      &-checkbox {
        display: flex;
        column-gap: rem(32);
      }
    }
  }

  &__filter {
    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: rem(16) rem(35);

      @include media('601', min) {
        align-items: flex-start;
      }

      @include media('600', max) {
        flex-direction: column;
      }
    }

    &-btn {
      padding: rem(20) rem(70);
      border-color: var(--pallette-biscay);
      color: var(--pallette-biscay);

      @include media('600', max) {
        margin-top: rem(10);
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-color: var(--pallette-athens-gray-2);
      }
    }
  }

  &__remove-file {
    @include font-size(14, 21);
    padding: rem(13.5) rem(25);
    border-color: var(--pallette-thunderbird);
    color: var(--pallette-thunderbird);
  }

  &__file-form {
    @include flex-center-column;
    row-gap: rem(24);
    width: 100%;
  }

  &__form-wrap {
    @include flex-column;
    row-gap: rem(8);
    width: 100%;
  }

  &__details-wrap {
    display: grid;
    row-gap: rem(10);
    margin-top: rem(40);

    @include media('600', max) {
      margin-top: rem(32);
    }
  }

  &__details {
    &::part(header) {
      position: relative;
      padding: rem(10) rem(20) rem(10) rem(24);

      @include media('600', max) {
        align-items: flex-start;
        padding: rem(12);
      }
    }

    &-title {
      @include media('600', max) {
        @include font-size(16, 24);
        padding-right: rem(35);
      }
    }

    &-icon {
      @include media('600', max) {
        position: absolute;
        top: rem(12);
        right: rem(12);
      }
    }

    &-btn {
      &--start {
        @include media('600', max) {
          display: none;
        }
      }

      &--end {
        @include media('601', min) {
          display: none;
        }
      }
    }
  }

  &__basket-card {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__selected {
    &-items {
      @include font-size(14, 21);
      display: flex;
      gap: rem(8);
      flex-wrap: wrap;
      margin-top: rem(20);
    }

    &-item {
      @include flex-center-y;
      column-gap: rem(8);
      padding: rem(10) rem(16);
      border-radius: var(--bdrs10);
      background-color: var(--pallette-athens-gray);
      font-weight: 600;
    }

    &-icon {
      width: rem(10);
      height: rem(10);
    }

    &-reset {
      font-weight: 600;
      color: var(--pallette-gray);
      margin-left: rem(16);

      @include media('1600', max) {
        margin-left: 0;
      }
    }
  }

  &__pagination {
    margin-top: rem(20);
  }

  &__no-js-form {
    margin-bottom: rem(20);
  }

  &__select {
    @include media('600', max) {
      &::part(form-control-input) {
        width: 100%;
      }
    }
  }
}

// drawer
.personal-account-drawer {
  $this: &;

  --sl-overlay-background-color: rgba(57, 57, 57, 0.2);
  --padding-right-left: #{rem(24)};

  @include media('600', max) {
    --size: 100%;
    --padding-right-left: #{rem(16)};
  }

  &:not(:defined) {
    display: block;
    max-width: rem(800);
    padding: rem(30);
    margin: rem(40) auto 0;
    border: rem(1) solid var(--pallette-athens-gray-2);
    border-radius: var(--bdrs10);
  }

  &::part(body) {
    @include flex-column;
    padding: rem(24) var(--padding-right-left) rem(16);
    overflow-x: hidden;
  }

  &__title {
    @include font-size(36, 54);
    font-weight: 600;

    @include media('600', max) {
      @include font-size(20, 30);
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: currentColor;

      @include media('601', min) {
        display: none;
      }
    }

    @at-root {
      #{$this}__title-wrap {
        @include flex-center-y;
        position: relative;
        margin-bottom: rem(16);
        column-gap: rem(16);

        @include media('600', max) {
          padding: 0 var(--padding-right-left) rem(20);
          margin-bottom: rem(24);
          border-bottom: rem(1) solid var(--pallette-athens-gray-2);
          color: var(--pallette-biscay);
          width: calc(100% + var(--padding-right-left) * 2);
          margin-left: calc(var(--padding-right-left) * -1);
        }
      }
    }
  }

  &__form {
    @include flex-column;
    height: 100%;
  }

  &__wrap {
    @include flex-column;
    row-gap: rem(32);
  }

  &__item {
    display: grid;
    row-gap: rem(16);

    &-title {
      @include font-size(20, 30);
      font-weight: 600;

      @include media('600', max) {
        @include font-size(18, 27);
      }
    }
  }

  &__close {
    position: absolute;
    right: 0;
    display: flex;
    color: var(--pallette-gray);

    @include media('600', max) {
      right: rem(16);
      color: var(--pallette-mine-shaft);
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: currentColor;

      @include media('600', max) {
        width: rem(15);
        height: rem(15);
      }
    }
  }

  &__submit {
    margin: rem(24) 0;
  }

  &__reset {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(5);
    width: calc(100% + var(--padding-right-left) * 2);
    margin-left: calc(var(--padding-right-left) * -1);
    margin-top: auto;
    padding: rem(12) var(--padding-right-left) 0;
    border-top: rem(1) solid var(--pallette-athens-gray-2);
  }

  &__result {
    @include font-size(24, 34);
    font-weight: 700;
    color: var(--pallette-international-orange);

    @include media('374', max) {
      font-size: rem(20);
    }

    &-text {
      @include font-size(14, 21);
      font-weight: 600;
      color: var(--pallette-gray);
    }
  }

  &__label {
    font-weight: 600;
  }
}
