<div id="choice-town" class="choice-town">
  <sl-dropdown distance="8" placement="top-end">
    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "choice-town__trigger",
        text: {
          text: "Санкт-Петербург"
        },
        right_icon: {
          class: "choice-town__trigger-icon",
          name: "sprite-mono.svg#arrow-down"
        },
        attrs: "slot='trigger'"
      }
    } %}
    <div class="choice-town__wrapper">
      {% include "../../&organisms/search_box/search_box.twig" with {
        search_box: {
          class: "search-box--secondary search-box--fouternary",
          placeholder: "Введите название города",
        }
      } %}

      {% set items = [{
        text: {
          text: "Москва и МО"
        }
      }, {
        text: {
          text: "Санкт-Петербург"
        },
        right_icon: {
          class: "choice-town__btn-icon",
          name: "sprite-mono.svg#chevron-down"
        }
      }, {
        text: {
          text: "Сочи"
        }
      }, {
        text: {
          text: "Краснодар"
        }
      }, {
        text: {
          text: "Ростов-на-Дону"
        }
      }, {
        text: {
          text: "Нижний Новгород"
        }
      }, {
        text: {
          text: "Казань"
        }
      }] %}

      <ul class="choice-town__menu">
        {% for item in items %}
          <li>
            {% include "../../@atoms/button/button.twig" with {
              button: item|default({})|merge({
                class: "choice-town__btn btn--link",
                href: "#",
              })
            } %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </sl-dropdown>
</div>