<section class="section banner">
  <div class="container">
    <div class="banner__content">
      {% include "../../@atoms/title/title.twig" with {
        title: {
          class: "banner__title",
          level: 2,
          text: "Воспользуйтесь нашим удобным приложением для совершения покупок"
        }
      } %}

      <div class="banner__text">
        Проект Garnachas de España («Испанская Гарнача») призван возродить традиционный испанский сорт винограда, который был недооценен и практически забыт из-за трудностей в возделывании и винификации, и интерес к которому возрождается в...
      </div>

      <div class="banner__btns">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "#",
            class: "btn--btn btn--quinary banner__btn",
            text: {
              text: "Скачать в Google Play"
            },
            icon: {
              name: "sprite-mono.svg#google-play"
            }
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "#",
            class: "btn--btn btn--quinary banner__btn",
            text: {
              text: "Скачать в App Store"
            },
            icon: {
              name: "sprite-mono.svg#app-store"
            }
          }
        } %}
      </div>
    </div>
  </div>
</section>