<section class="about-marquee section">
  <div class="container">
    {% include "../../@atoms/title/title.twig" with {
      title: {
        level: 2,
        class: "about-marquee__title",
        text: "Компания «Ритейл Логистик» это надежный партнер и проводник в мир качественных алкогольных напитков без завышенных наценок"
      }
    } %}
  </div>

  {% include "../../^molecules/marquee/marquee.twig" %}
</section>