<div class="age-confirm">
  <img class="age-confirm__img" src="./assets/images/age-confirm/wine-glass.svg" alt="">
  <div class="age-confirm__title">
    {{ age_confirm.title }}
  </div>
  <div class="age-confirm__text">
    {{ age_confirm.text }}
  </div>
  {% include "../../@atoms/button/button.twig" with {
    button: {
      class: "btn--btn btn--sixanary age-confirm__btn age-confirm__btn--confirm",
      text: {
        text: "Да, мне есть 18 лет"
      }
    }
  } %}
</div>