.age-confirm {
  @include flex-center-column;
  position: relative;
  padding: rem(70) rem(40) rem(40);
  background-color: var(--pallette-san-juan);
  color: var(--pallette-white);
  text-align: center;
  border-radius: var(--bdrs15);
  background-image: url('../../assets/images/age-confirm/graphic.svg');
  background-repeat: no-repeat;

  @include media('600', max) {
    padding: rem(80) rem(16);
  }

  &::before {
    @include flex-center;
    @include font-size(30, 45);
    position: absolute;
    top: rem(115);
    left: rem(57);
    font-weight: 600;
    color: var(--pallette-biscay);
    min-width: rem(80);
    min-height: rem(80);
    background-color: var(--pallette-white);
    border-radius: 50%;
    content: '18+';

    @include media('600', max) {
      @include font-size(24, 36);
      min-width: rem(60);
      min-height: rem(60);
      top: rem(121);
      left: rem(15);
    }
  }

  &__img {
    margin-bottom: rem(40);

    @include media('600', max) {
      width: rem(234);
      height: rem(300);
      margin-bottom: rem(32);
    }
  }

  &__title {
    @include font-size(32, 48);
    font-weight: 600;
    margin-bottom: rem(16);
  }

  &__text {
    @include font-size(16, 24);
    font-weight: 600;
    max-width: rem(410);
    margin-bottom: rem(40);

    @include media('600', max) {
      @include font-size(14, 21);
    }
  }

  &__btn {
    width: 100%;
  }
}
