<section class="section content-info">
  <div class="container">
    {% include "../../^molecules/section_header/section_header.twig" with {
      section_header: content_info.section_header
    } %}

    <div class="content-info__grid">
      {% for item in content_info.content.items %}
        {% include "../../^molecules/sales_rep_card/sales_rep_card.twig" with {
          sales_rep_card: item
        } %}
      {% endfor %}
    </div>
  </div>
</section>