<section class="basket-block">
  {% include "../../^molecules/section_header/section_header.twig" with {
    section_header: {
      class: "section-header--portal",
      title: {
        level: 2,
        class: "section-header__title",
        text: "Моя корзина",
        label: "1500 товаров"
      },
      clean_basket_btn: true
    }
  } %}

  {% include "../../&organisms/products_block/products_block.twig" with {
    products_block: {
      class: "products-block--secondary",
      list: {
        items: [{
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          quantity: {
            type: "portal",
          },
          btns: true
        }]
      }
    }
  } %}
</section>