.news-slider {
  &__slider {
    &:not(.swiper-initialized) {
      > .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(10);
      }
    }
  }
}
