<section class="news-slider section {{ news_slider.class }}">
  <div class="container">
    {% include "../../^molecules/section_header/section_header.twig" with {
      section_header: news_slider.section_header
    } %}

    <div class="swiper news-slider__slider">
      <div class="swiper-wrapper">
        {% for item in news_slider.items %}
          <div class="swiper-slide">
            {% include "../../^molecules/info_card/info_card.twig" with {
              info_card: item|default({})|merge({
                class: "info-card--secondary"
              })
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>