<div class="card-grid section">
  <div class="container card-grid__container">
    <ul class="card-grid__list card-grid__list--{{ card_grid.type }}">
      {% for item in card_grid.items %}
        <li>
          {% if card_grid.type == 'review' %}
            {% include "../../^molecules/review_card/review_card.twig" with {
              review_card: item
            } %}
          {% elseif card_grid.type == 'brand' %}
            {% include "../../^molecules/brand_card/brand_card.twig" with {
              brand_card: item
            } %}
          {% elseif card_grid.type == 'partner' %}
            {% include "../../^molecules/partner_card/partner_card.twig" with {
              partner_card: item
            } %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "btn--btn btn--tertiary card-grid__more",
        text: {
          text: "Показать еще"
        }
      }
    } %}

    {% include "../../^molecules/pagination/pagination.twig" with {
      pagination: {
        class: "card-grid__pagination",
        items: [{
          href: "",
          text: {
            text: "1"
          },
          current_page: true
        }, {
          href: "#",
          text: {
            text: "2"
          }
        }, {
          href: "#",
          text: {
            text: "3"
          }
        }, {
          href: "#",
          text: {
            text: "..."
          }
        }, {
          href: "#",
          text: {
            text: "15"
          }
        }]
      }
    } %}
  </div>
</div>