.card-grid {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'list list list list list list list list list list list list'
      '. . . . more more more more pagination pagination pagination pagination';
    gap: rem(56) rem(10);

    @include media('1400', max) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'list list list list'
        'more more more more'
        'pagination pagination pagination pagination';
      gap: rem(24) rem(10);
    }
  }

  &__list {
    grid-area: list;

    &--review {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10);

      @include media('767', max) {
        grid-template-columns: 1fr;
      }
    }

    &--brand {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(10);

      @include media('1200', max) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media('600', max) {
        grid-template-columns: 1fr;
      }
    }

    &--partner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(10);

      @include media('1200', max) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media('600', max) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__more {
    grid-area: more;
    justify-self: center;
    min-width: rem(320);

    @include media('600', max) {
      min-width: unset;
      width: 100%;
      margin-top: rem(8);
    }
  }

  &__pagination {
    grid-area: pagination;
    justify-self: end;

    @include media('1400', max) {
      justify-self: center;
    }
  }
}
