{% set nav_items = [{
  button: {
    text: {
      text: "Вино"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-1'",
  },
  menu: {
    id: "menu-1",
    is_skip_link: true
  }
}, {
  button: {
    text: {
      text: "Игристое вино"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-2'"
  },
  menu: {
    id: "menu-2"
  }
}, {
  button: {
    text: {
      text: "Ликер"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-4'"
  },
  menu: {
    id: "menu-4"
  }
}, {
  button: {
    text: {
      text: "Виски"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-5'"
  },
  menu: {
    id: "menu-5"
  }
}, {
  button: {
    text: {
      text: "Текила"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-6'"
  },
  menu: {
    id: "menu-6"
  }
}, {
  button: {
    text: {
      text: "Коньяк"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-7'"
  },
  menu: {
    id: "menu-7"
  }
}, {
  button: {
    text: {
      text: "Водка"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-8'"
  },
  menu: {
    id: "menu-8"
  }
}, {
  button: {
    text: {
      text: "Пиво"
    },
    attrs: "aria-haspopup='true' aria-controls='menu-9'"
  },
  menu: {
    id: "menu-9"
  }
}] %}

<header class="header">
  <div class="container header__container">
    {% include "../../@atoms/logo/logo.twig" with {
      logo: {
        class: "header__logo"
      }
    } %}

    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "header__burger",
        text: {
          text: "Меню"
        },
        icons: [{
          class: "header__burger-icon header__burger-icon--menu",
          name: "sprite-multi.svg#menu"
        }, {
          class: "header__burger-icon header__burger-icon--close",
          name: "sprite-mono.svg#close"
        }]
      }
    } %}

    <nav class="header__nav" aria-label="Главная">
      <ul class="header__list">
        {% for nav_item in nav_items %}
          <li class="header__item">
            {% include "../../@atoms/button/button.twig" with {
              button: nav_item.button|default({})|merge({
                href: "#",
                class: "header__btn"
              })
            } %}

            {% include "../../&organisms/menu/menu.twig" with {
              menu: nav_item.menu
            } %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    {% include "../../^molecules/choice_town/choice_town.twig" %}

    {% include "../../@atoms/button/button.twig" with {
      button: {
        href: "tel:+74997540910",
        class: "btn--link header__phone",
        text: {
          text: "+7 (499) 754-09-10"
        }
      }
    } %}

    <div class="header__meta">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "header__meta-btn header__meta-btn--search",
          icon: {
            class: "header__meta-icon",
            name: "sprite-multi.svg#loupe"
          },
          attrs: "aria-label='Открыть поиск'"
        }
      } %}

      {% include "../../&organisms/search_box/search_box.twig" with {
        search_box: {
          class: "header__search-box js-search-box",
          dropdown: {
            categories: true
          },
          form: true,
          num_product_result: "Найдено 0 товаров",
          placeholder: "Введите ваш поисковый запрос"
        }
      } %}

      <div class="header__meta-wrap">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "#",
            class: "header__meta-btn",
            icon: {
              class: "header__meta-icon",
              name: "sprite-multi.svg#user"
            },
            attrs: "aria-label='Авторизация' data-dialog='auth'"
          }
        } %}

        <!-- До авторизации -->
        <div class="header__dropdown">
          <div class="header__dropdown-text">
            Войдите в личный кабинет, чтобы управлять своими персональными данными, оформлять покупки и отслеживать статус заказов.
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary header__dropdown-btn",
              text: {
                text: "Войти или зарегистрироваться"
              },
              attrs: 'data-dialog="auth"'
            }
          } %}
        </div>
        <!-- /.До авторизации -->

        <!-- После авторизации -->
        <!--
        <div class="header__dropdown">
          <div class="header__dropdown-title">
            Добро пожаловать, Александр!
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--link header__dropdown-link",
              href: "#",
              text: {
                text: "Мой профиль"
              },
              icon: {
                class: "header__dropdown-icon",
                name: "sprite-mono.svg#user"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--link header__dropdown-link",
              href: "#",
              text: {
                text: "Мои заказы"
              },
              icon: {
                class: "header__dropdown-icon",
                name: "sprite-mono.svg#package"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--link header__dropdown-link header__dropdown-link--exit",
              href: "#",
              text: {
                text: "Выйти из личного кабинета"
              },
              icon: {
                class: "header__dropdown-icon",
                name: "sprite-mono.svg#exit-2"
              }
            }
          } %}
        </div>
        -->
        <!-- /.После авторизации -->
      </div>

      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "header__meta-btn",
          href: "#",
          icon: {
            class: "header__meta-icon",
            name: "sprite-multi.svg#heart"
          },
          attrs: "aria-label='Избранное'"
        }
      } %}

      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "header__meta-btn header__meta-btn--basket",
          href: "#",
          text: {
            text: 10
          },
          icon: {
            class: "header__meta-icon",
            name: "sprite-multi.svg#basket"
          },
          attrs: "aria-label='Корзина'"
        }
      } %}
    </div>
  </div>
</header>