.feedback {
  $this: &;

  &__form {
    @include media('600', max) {
      margin-bottom: rem(24);
    }

    &-btn {
      width: 100%;
    }
  }

  &__textarea {
    @include media('600', max) {
      grid-row: 4 / 5;

      textarea {
        height: rem(251);
      }
    }
  }
}
