<a href="/" class="logo {{ logo.class }}" aria-label="Главная страница">
  {% if logo.type == 'footer' %}
    <img class="logo__img" src="./assets/images/icons/logo-footer.svg" alt="" width="288" height="70">
  {% elseif logo.type == 'sidebar-portal' %}
    <img class="logo__img" src="./assets/images/icons/logo-sidebar-portal.svg" alt="" width="147" height="36">
  {% else %}
    <img class="logo__img" src="./assets/images/icons/logo.svg" alt="" width="164" height="40">
  {% endif %}
</a>