<section class="detail-news section">
  <div class="container detail-news__container">
    <aside class="detail-news__sidebar">
      <div class="detail-news__card">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            class: "detail-news__title",
            level: 2,
            text: "Содержание новости"
          }
        } %}

        <ul class="detail-news__list">
          <li class="detail-news__list-item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#text_block_heading_1",
                class: "btn--link detail-news__list-link",
                text: {
                  text: "Белый зинфандель"
                },
                attrs: "data-href='text_block_heading_1'"
              }
            } %}
          </li>
          <li class="detail-news__list-item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#text_block_heading_2",
                class: "btn--link detail-news__list-link",
                text: {
                  text: "История сорта: из Италии в Балканы"
                },
                attrs: "data-href='text_block_heading_2'"
              }
            } %}
          </li>
          <li class="detail-news__list-item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#text_block_heading_3",
                class: "btn--link detail-news__list-link",
                text: {
                  text: "География"
                },
                attrs: "data-href='text_block_heading_3'"
              }
            } %}
          </li>
          <li class="detail-news__list-item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link detail-news__list-link",
                text: {
                  text: "Сочетания с едой"
                }
              }
            } %}
          </li>
        </ul>
      </div>

      <div class="detail-news__card detail-news__card--tags">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            class: "detail-news__title",
            level: 2,
            text: "Теги новости"
          }
        } %}

        <ul class="detail-news__tags">
          <li class="detail-news__tag">
            #Вино
          </li>
          <li class="detail-news__tag">
            #Алкоголь
          </li>
          <li class="detail-news__tag">
            #Зинфандель
          </li>
          <li class="detail-news__tag">
            #Дегустация
          </li>
          <li class="detail-news__tag">
            #Сомелье
          </li>
        </ul>
      </div>

      <div class="detail-news__card">
        <div class="detail-news__author">
          {% include "../../@atoms/image/image.twig" with {
            image: {
              picture: {
                class: "detail-news__author-picture"
              },
              class: "detail-news__author-img",
              name: "detail-news/01.png",
              sizes: {
                width: 50,
                height: 50
              },
              alt: ""
            }
          } %}

          <div class="detail-news__author-name">
            Степаненко Алексей
          </div>

          <div class="detail-news__author-position">
            Автор статьи
          </div>
        </div>
      </div>
    </aside>
    <div class="detail-news__content">
      <div class="detail-news__promo">
        {% include "../../@atoms/image/image.twig" with {
          image: {
            class: "detail-news__promo-img",
            name: "detail-news/02.png",
            sizes: {
              width: 1090,
              height: 500
            },
            alt: ""
          }
        } %}

        <div class="detail-news__promo-info">
          <time class="detail-news__time" datetime="2021-10-10">
            10.10.2021
          </time>
          <div class="detail-news__num-views">
            251
          </div>
        </div>
      </div>
      <div class="text-block">
        <h2 id="text_block_heading_1">
          H2 - Зинфандель
        </h2>
        <p>
          Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии. Был завезен в США из Европы и нашел свое пристанище в калифорнийских районах Напа и Сонома, которые и сегодня остаются его главными территориями.Зинфандель — это вино со средними танинами, высокой кислотностью и значительным содержанием алкоголя (от 14% до 17%). В его аромате — джем, черника, черная смородина, вишня, изюм, малина, слива, клюква, солодка, черный перец, табак.
        </p>
        <h2 id="text_block_heading_2">
          H2 - Белый зинфандель
        </h2>
        <p>
          С самого начала сорт использовался для производства самых разных вин, будь то красные (сухие и сладкие) или блаш (от англ. blush — «румянец», принятое в США обозначение розовых вин из темных сортов).
        </p>
        <p>
          Белый зинфандель — как раз розовое вино, полученное в ходе экспериментов Боба Тринчеро, владельца винодельни Sutter Home. Пытаясь сделать более интенсивное вино, Тринчеро слил около 500 галлонов (1 900 л) только-только забродившего сока, чтобы оставшаяся жидкость получилась более насыщенной. Затем возник вопрос: что делать со слитым винным материалом, очень сухим на вкус? Sutter Home продали эти остатки по низкой цене, но что-то пошло не так: брожение остановилось раньше, чем весь сахар превратился в спирт, и в итоге на выходе получилось очень сладкое вино. Никто в 1975 году и не ожидал, что эта случайность обернется триумфом.
        </p>
        <p>
          Это розе стало настоящим хитом, сделав Sutter Home лидером в производстве дешёвых сладких вин (за 10 лет объем продаж их белого зина вырос до 30 млн бутылок), а ее владельцев — миллионерами.Такая популярность белого зина привела к мощному росту объемов посадок сорта. Ирония заключалась в том, что белый зинфандель появился для спасения уже существующих виноградников, урожайность которых явно превышала спрос. Так или иначе, это розе обеспечило востребованность сорта, отодвинув при этом на второй план красные вина зинфандель. К 90-ым годам, однако, интерес к сухим красным зинам стал расти (хотя до позиций блаша им было далеко).
        </p>
        <p>
          Высокий спрос на белый зин в конечном итоге обернулся против него. «Низкие цены и сладкий вкус ударили по репутации белого зинфанделя. Все больше людей пробовало сухие розовые вина, те же французские, вина освежающие, идеально сочетавшиеся с едой. Сладкие розовые им сильно уступали», — рассказывает критик Адам Титер.
        </p>
        <p>
          Удивительно, но хоть белый зин сегодня и вышел из моды, продажи его остаются высокими (в 2017 году Sutter Home White Zin был самым продаваемым розовым вином в США в ценовом диапазоне до $10).
        </p>
        <h2 id="text_block_heading_3">
          H2 - История сорта: из Италии в Балканы
        </h2>
        <p>
          «История зинфанделя похожа на триллер, на загадку, которая была отгадана совсем недавно», — писала винный критик Дженсис Робинсон. Запутанное происхождение и география перемещений сорта, который американцы считали своим, и вправду достойны отдельной повести.
        </p>

        {% if detail_news.type == 'template' %}
          <h3>
            H3 - Шварценеггер против
          </h3>
          <p>
            В 2006 году тогдашнему губернатору Калифорнии Арнольду Шварценеггеру был представлен законопроект, объявляющий зинфандель официальным историческим вином штата. Шварценеггер идею не поддержал: «Неправильно, если Калифорнию будут знать в мире только по одному сорту». С ним согласились и производители, отдававшие предпочтение другим сортам — каберне совиньону и шардоне. Кроме того, калифорнийское происхождение зинфанделя оспаривали итальянцы и хорваты. И имели на это полное право.
          </p>
          <h3>
            H3 - С американского востока на запад
          </h3>
          <p>
            В 2006 году тогдашнему губернатору Калифорнии Арнольду Шварценеггеру был представлен законопроект, объявляющий зинфандель официальным историческим вином штата. Шварценеггер идею не поддержал: «Неправильно, если Калифорнию будут знать в мире только по одному сорту». С ним согласились и производители, отдававшие предпочтение другим сортам — каберне совиньону и шардоне. Кроме того, калифорнийское происхождение зинфанделя оспаривали итальянцы и хорваты. И имели на это полное право.
          </p>
          <p>
            При этом ещё в 70-е винный историк Чарльз Салливан выяснил, что сорт прибыл в Калифорнию с востока страны. В 1820-х годах Джордж Гиббс, владелец виноградников на Лонг-Айленде (штат Нью-Йорк) привез и высадил 28 сортов, купленных в Австрии. Среди них был и зинфандель. Вскоре этот виноград (в архивах 1832 года он упоминался под именем зинфардель) стали выращивать в теплицах Бостона, а в середине XIX века его черенки приехали в Калифорнию. Климат штата оптимально подходил для сорта, который быстро распространился по виноградникам.
          </p>
          <h4>
            H4 - Текстовые колонки
          </h4>

          <!-- Блок с двумя колонками -->
          <div class="two-col-block">
            <div class="two-col-block__item">
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии. Был завезен в США из Европы и нашел свое пристанище в калифорнийских районах Напа и Сонома, которые и сегодня остаются его главными территориями.Зинфандель — это вино со средними танинами, высокой кислотностью и значительным содержанием алкоголя (от 14% до 17%). В его аромате — джем, черника, черная смородина, вишня, изюм, малина, слива, клюква, солодка, черный перец, табак.
              </p>
            </div>
            <div class="two-col-block__item">
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии. Был завезен в США из Европы и нашел свое пристанище в калифорнийских районах Напа и Сонома, которые и сегодня остаются его главными территориями.Зинфандель — это вино со средними танинами, высокой кислотностью и значительным содержанием алкоголя (от 14% до 17%). В его аромате — джем, черника, черная смородина, вишня, изюм, малина, слива, клюква, солодка, черный перец, табак.
              </p>
            </div>
          </div>
          <!-- ./ Блок с двумя колонками -->

          <h4>
            H4 - Текстовые колонки с заголовками
          </h4>

          <!-- Блок с двумя колонками -->
          <div class="two-col-block">
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
            <div class="two-col-block__item">
              <h5 class="two-col-block__heading">
                H5 - Заголовок
              </h5>
              <p class="two-col-block__text">
                Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии
              </p>
            </div>
          </div>
          <!-- ./ Блок с двумя колонками -->

          <h2>
            H2 - Жирность, курсив, подчеркивание текста
          </h2>
          <p>
            Все эти <b>внутриамериканские миграции</b> <a href="#">зинфанделя</a> никак не объясняли корни сорта. Но в 1967 году энолог Остин Гоин, будучи в Апулии (юг Италии), попробовал <i>вино примитиво</i> и нашел его похожим на зинфандель. По <strong>возвращении домой</strong> в Штаты, он плотно занялся этим вопросом и сделал выводы об идентичности сортов.
          </p>
          <p>
            ДНК-исследование, проведенное в 90-х годах Кэрол Мередит, коллегой Гоина по Калифорнийскому университету, подтвердило, что зинфандель схож с итальянским примитиво. Но хоть это исследование и поставило точку в спорах о связи двух сортов, оно открыло еще более древнюю главу истории зинфанделя.
          </p>
          <h3>
            H3 - Хорватские корни
          </h3>
          <p>
            «Итальянские исследователи сообщили мне, что примитиво родился не в Италии», — говорила Кэрол Мередит. Действительно, в одном из документов упоминалось, что католические монахи Далмации (часть Балканского полуострова, территория нынешних Черногории и Хорватии), бежавшие в XVIII веке от религиозных преследований в Италию, привезли лозы примитиво с собой.
          </p>
          <h4>
            H4 - Детальное описание
          </h4>
          <p>
            Фокус исследований сместился в Хорватию. Главным «подозреваемым» в истории зинфанделя сначала был знаменитый местный сорт плавац мали. Несколько лет Мередит потратила на изучение сорта, однако при всей близости плавац мали не был идентичен зинфанделю. Есть несколько видов:
          </p>
          <h5>
            H5 - Описание первого вида
          </h5>
          <p>
            Загадка была решена с помощью хорватских коллег, вместе с которыми Кэрол Мередит установила прямого родственника зина. Это почти вымерший сорт црленак каштелянский (crljenak kastelanski, другое его имя — трибидраг), который обитает в районе Сплита на побережье Далмации.
          </p>
          <h6>
            H6 - Описание второго вида
          </h6>
          <p>
            Заодно выяснилось, как связаны зинфандель и плавац мали. Последний, возникший в результате скрещивания црленака каштелянского и сорта добричич, был не родителем, а сводным братом зина:
          </p>
          <h6>
            H6 - Описание второго вида
          </h6>
          <ul>
            <li>
              Первый пункт
            </li>
            <li>
              Второй пункт
            </li>
            <li>
              Третий пункт
            </li>
            <li>
              Четвертый пункт
            </li>
            <li>
              Пятый пункт
            </li>
            <li>
              Шестой пункт
            </li>
            <li>
              Седьмой пункт
            </li>
            <li>
              Восьмой пункт
            </li>
          </ul>
          <h6>
            H6 - Во второй вид входят
          </h6>
          <ol>
            <li>
              Первый пункт
            </li>
            <li>
              Второй пункт
            </li>
            <li>
              Третий пункт
            </li>
            <li>
              Четвертый пункт
            </li>
            <li>
              Пятый пункт
            </li>
            <li>
              Шестой пункт
            </li>
            <li>
              Седьмой пункт
            </li>
            <li>
              Восьмой пункт
            </li>
          </ol>
          <h2>
            H2 - Основные преимущества
          </h2>
          <!-- Список с двумя колонками -->
          <ol class="two-col-list">
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
            <li class="two-col-list__item">
              Первое крутое преимущество нашей компании
            </li>
          </ol>
          <!-- ./ Список с двумя колонками -->
          <h3>
            H3 - Цитата
          </h3>
          <p>
            «Итальянские исследователи сообщили мне, что примитиво родился не в Италии», — говорила Кэрол Мередит. Действительно, в одном из документов упоминалось, что католические монахи Далмации (часть Балканского полуострова, территория нынешних Черногории и Хорватии), бежавшие в XVIII веке от религиозных преследований в Италию, привезли лозы примитиво с собой.
          </p>
          <p>
            При этом ещё в 70-е винный историк Чарльз Салливан выяснил, что сорт прибыл в Калифорнию с востока страны. В 1820-х годах Джордж Гиббс, владелец виноградников на Лонг-Айленде (штат Нью-Йорк) привез и высадил 28 сортов, купленных в Австрии. Среди них был и зинфандель. Вскоре этот виноград (в архивах 1832 года он упоминался под именем зинфардель) стали выращивать в теплицах Бостона, а в середине XIX века его черенки приехали в Калифорнию. Климат штата оптимально подходил для сорта, который быстро распространился по виноградникам.
          </p>
          <blockquote>
            <p>
              «Никто не знал «родословной» зинфанделя. Мы могли проследить происхождение других сортов, тех же каберне совиньона или шардоне, но не зинфанделя. Калифорния была единственным местом, где выращивали зин», — объяснял эксперт и винный судья штата Род Байерс
            </p>
          </blockquote>
          <div>
            <span>Род Байерс</span>
            <span>Эксперт и винный судья штата</span>
          </div>
          <p>
            При этом ещё в 70-е винный историк Чарльз Салливан выяснил, что сорт прибыл в Калифорнию с востока страны. В 1820-х годах Джордж Гиббс, владелец виноградников на Лонг-Айленде (штат Нью-Йорк) привез и высадил 28 сортов, купленных в Австрии. Среди них был и зинфандель. Вскоре этот виноград (в архивах 1832 года он упоминался под именем зинфардель) стали выращивать в теплицах Бостона, а в середине XIX века его черенки приехали в Калифорнию. Климат штата оптимально подходил для сорта, который быстро распространился по виноградникам.
          </p>
          <h3>
            H3 - Фото с подписью
          </h3>

          <!-- Изображение с поясняющей подписью -->
          <figure class="photo-block">
            {% include "../../@atoms/image/image.twig" with {
              image: {
                name: "detail-news/03.png",
                sizes: {
                  width: 1090,
                  height: 500
                },
                alt: ""
              }
            } %}

            <figcaption>
              <p>
                Заголовок фотографии
              </p>
              <p>
                Вскоре этот виноград (в архивах 1832 года он упоминался под именем зинфардель) стали выращивать в теплицах Бостона
              </p>
            </figcaption>
          </figure>
          <!-- ./ Изображение с поясняющей подписью -->

          <p>
            В 2006 году тогдашнему губернатору Калифорнии Арнольду Шварценеггеру был представлен законопроект, объявляющий зинфандель официальным историческим вином штата. Шварценеггер идею не поддержал: «Неправильно, если Калифорнию будут знать в мире только по одному сорту». С ним согласились и производители, отдававшие предпочтение другим сортам — каберне совиньону и шардоне. Кроме того, калифорнийское происхождение зинфанделя оспаривали итальянцы и хорваты. И имели на это полное право.
          </p>
          <h3>
            H3 - Шварценеггер против
          </h3>
          <p>
            В 2006 году тогдашнему губернатору Калифорнии Арнольду Шварценеггеру был представлен законопроект, объявляющий зинфандель официальным историческим вином штата. Шварценеггер идею не поддержал: «Неправильно, если Калифорнию будут знать в мире только по одному сорту». С ним согласились и производители, отдававшие предпочтение другим сортам — каберне совиньону и шардоне. Кроме того, калифорнийское происхождение зинфанделя оспаривали итальянцы и хорваты. И имели на это полное право.
          </p>

          <h3>
            H3 - Фотогалерея
          </h3>

          <!-- Фотогалерея -->
          <div class="photo-gallery" aria-labelledby="photo_gallery">
            <div class="swiper">
              {% include "../../@atoms/button/button.twig" with {
                button: {
                  class: "swiper-button-prev photo-gallery__btn photo-gallery__btn--prev",
                  icon: {
                    class: "photo-gallery__btn-icon",
                    name: "sprite-mono.svg#arrow-prev"
                  },
                  attrs: "aria-label='Предыдущий слайд'"
                }
              } %}

              {% include "../../@atoms/button/button.twig" with {
                button: {
                  class: "swiper-button-next photo-gallery__btn photo-gallery__btn--next",
                  icon: {
                    class: "photo-gallery__btn-icon",
                    name: "sprite-mono.svg#arrow-next"
                  },
                  attrs: "aria-label='Следующий слайд'"
                }
              } %}
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  {% include "../../@atoms/image/image.twig" with {
                    image: {
                      name: "detail-news/04.png",
                      sizes: {
                        width: 540,
                        height: 400
                      },
                      alt: ""
                    }
                  } %}
                </div>
                <div class="swiper-slide">
                  {% include "../../@atoms/image/image.twig" with {
                    image: {
                      name: "detail-news/05.png",
                      sizes: {
                        width: 540,
                        height: 400
                      },
                      alt: ""
                    }
                  } %}
                </div>
                <div class="swiper-slide">
                  {% include "../../@atoms/image/image.twig" with {
                    image: {
                      name: "detail-news/04.png",
                      sizes: {
                        width: 540,
                        height: 400
                      },
                      alt: ""
                    }
                  } %}
                </div>
              </div>
            </div>
            <p id="photo_gallery">
              Небольшое описание фотографий, представленных на текущих слайдах галереи
            </p>
          </div>
          <!-- /. Фотогалерея -->
          <h3>
            H3 - Таблица
          </h3>
          <p>
            «Итальянские исследователи сообщили мне, что примитиво родился не в Италии», — говорила Кэрол Мередит. Действительно, в одном из документов упоминалось, что католические монахи Далмации (часть Балканского полуострова, территория нынешних Черногории и Хорватии), бежавшие в XVIII веке от религиозных преследований в Италию, привезли лозы примитиво с собой.
          </p>
          <!-- Таблица -->
          <div class="table-wrap">
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>
                      Заголовок 1
                    </th>
                    <th>
                      Заголовок 2
                    </th>
                    <th>
                      Заголовок 3
                    </th>
                    <th>
                      Заголовок 4
                    </th>
                    <th>
                      Заголовок 5
                    </th>
                    <th>
                      Заголовок 6
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Параметр 1
                    </td>
                    <td>
                      Параметр 1
                    </td>
                    <td>
                      Параметр 1
                    </td>
                    <td>
                      Параметр 1
                    </td>
                    <td>
                      Параметр 1
                    </td>
                    <td>
                      Параметр 1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Параметр 2
                    </td>
                    <td>
                      Параметр 2
                    </td>
                    <td>
                      Параметр 2
                    </td>
                    <td>
                      Параметр 2
                    </td>
                    <td>
                      Параметр 2
                    </td>
                    <td>
                      Параметр 2
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Параметр 3
                    </td>
                    <td>
                      Параметр 3
                    </td>
                    <td>
                      Параметр 3
                    </td>
                    <td>
                      Параметр 3
                    </td>
                    <td>
                      Параметр 3
                    </td>
                    <td>
                      Параметр 3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Параметр 4
                    </td>
                    <td>
                      Параметр 4
                    </td>
                    <td>
                      Параметр 4
                    </td>
                    <td>
                      Параметр 4
                    </td>
                    <td>
                      Параметр 4
                    </td>
                    <td>
                      Параметр 4
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Параметр 5
                    </td>
                    <td>
                      Параметр 5
                    </td>
                    <td>
                      Параметр 5
                    </td>
                    <td>
                      Параметр 5
                    </td>
                    <td>
                      Параметр 5
                    </td>
                    <td>
                      Параметр 5
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>
              Вскоре этот виноград (в архивах 1832 года он упоминался под именем зинфардель) стали выращивать в теплицах Бостона
            </p>
          </div>
          <!-- /.Таблица -->
        {% endif %}
      </div>
    </div>
  </div>
</section>