{% set table = {
  thead: {
    items: [{
      text: "Фото"
    }, {
      text: "Название товара"
    }, {
      text: "Страна"
    }, {
      text: "Артикул"
    }, {
      text: "Процент скидки"
    }, {
      text: "Рейтинг товара"
    }, {
      text: "Литраж"
    }, {
      text: "Полная стоимость"
    }, {
      text: "Стоимость со&nbsp;скидкой"
    }, {
      text: "Добавление в корзину"
    }]
  },
  tbody: {
    rows: [{
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }, {
      items: [{
        image: true
      }, {
        title_link: true,
      }, {
        text: "Франция"
      }, {
        text: "2562689"
      }, {
        text: "35%"
      }, {
        rating: true,
        text: "4.8"
      }, {
        text: "0,75л"
      }, {
        text: "1 500 ₽"
      }, {
        text: "1 085 ₽"
      }, {
        basket_block: true
      }, {
        favorite: true
      }]
    }]
  }
} %}

<div class="catalog-table-wrap section--portal">
  <div class="catalog-table">
    <div class="container">
      <table>
        <thead>
          <tr>
            {% for item in table.thead.items %}
              <th>
                {{ item.text }}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in table.tbody.rows %}
            <tr>
              {% for item in row.items %}
                <td>
                  {% if item.image %}
                    {% include "../../@atoms/image/image.twig" with {
                      image: {
                        class: "catalog-table__img",
                        name: "catalog-table/01.png",
                        sizes: {
                          width: 60,
                          height: 40,
                        },
                        alt: ""
                      }
                    } %}
                  {% elseif item.basket_block %}
                    <div class="catalog-table__basket">
                      <div class="catalog-table__basket-item">
                        {% include "../../@atoms/icon/icon.twig" with {
                          icon: {
                            class: "catalog-table__basket-icon",
                            name: "sprite-multi.svg#box"
                          }
                        } %}

                        <div class="catalog-table__basket-text">
                          В&nbsp;коробках&nbsp;(12шт.)
                        </div>

                        {% include "../../@atoms/quantity/quantity.twig" with {
                          quantity: {
                            class: "quantity--secondary quantity--catalog-table",
                          }
                        } %}
                      </div>

                      <div class="catalog-table__basket-item">
                        {% include "../../@atoms/icon/icon.twig" with {
                          icon: {
                            class: "catalog-table__basket-icon",
                            name: "sprite-multi.svg#wine-piece"
                          }
                        } %}

                        <div class="catalog-table__basket-text">
                          В&nbsp;штуках
                        </div>

                        {% include "../../@atoms/quantity/quantity.twig" with {
                          quantity: {
                            class: "quantity--secondary quantity--catalog-table",
                          }
                        } %}
                      </div>
                    </div>
                  {% elseif item.favorite %}
                    {% include "../../@atoms/button/button.twig" with {
                      button: {
                        href: "#",
                        class: "btn--favorite btn--icon catalog-table__favorite",
                        icons: [{
                          class: "btn__icon--favorite",
                          name: "sprite-mono.svg#heart"
                        }, {
                          class: "btn__icon--favorite-fill",
                          name: "sprite-mono.svg#heart-fill"
                        }],
                        attrs: "aria-label='Добавить в избранное'"
                      }
                    } %}
                  {% elseif item.rating %}
                    <div class="catalog-table__rating">
                      {{ item.text }}
                    </div>
                  {% elseif item.title_link %}
                    {% include "../../@atoms/button/button.twig" with {
                      button: {
                        href: "#",
                        class: "btn--link catalog-table__link",
                        text: {
                          text: "Вино Лыхны красное полусладкое"
                        }
                      }
                    } %}
                  {% else %}
                    {{ item.text }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include "../../^molecules/pagination/pagination.twig" with {
    pagination: {
      class: "catalog-table-wrap__pagination",
      prev_btn: true,
      next_btn: true,
      items: [{
        href: "",
        text: {
          text: "1"
        },
        current_page: true
      }, {
        href: "#",
        text: {
          text: "2"
        }
      }, {
        href: "#",
        text: {
          text: "3"
        }
      }, {
        href: "#",
        text: {
          text: "..."
        }
      }, {
        href: "#",
        text: {
          text: "15"
        }
      }]
    }
  } %}
</div>
