.text-card {
  @include flex-column;
  padding: rem(24) rem(32) rem(32);
  height: 100%;
  background-image: url('../assets/images/text-card/decorative-element.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: var(--pallette-wild-sand);
  border-radius: var(--bdrs15);

  @include media('600', max) {
    padding: rem(20) rem(16) rem(16);
  }

  &__title {
    @include font-size(18, 27);
    margin-bottom: rem(12);
    font-weight: 600;

    @include media('600', max) {
      margin-bottom: rem(8);
    }
  }

  &__text {
    p {
      @include font-size(14, 21);
    }

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__btn {
    width: 100%;
    margin-top: auto;
  }
}
