.not-found {
  margin-top: rem(80);

  @include media('600', max) {
    margin-top: rem(24);
  }

  &__container {
    @include flex-center-column;

    row-gap: rem(24);
  }

  &__media {
    margin-bottom: rem(24);

    @include media('600', max) {
      margin-bottom: rem(12);
    }
  }

  // &__img-block {
  //   position: relative;
  //   margin-bottom: rem(24);

  //   @include media('600', max) {
  //     margin-bottom: rem(12);
  //   }

  //   &::before {
  //     position: absolute;
  //     top: 0;
  //     left: 50%;
  //     z-index: -1;
  //     transform: translateX(-50%);
  //     width: rem(841);
  //     height: rem(368);
  //     background-image: url('../../assets/images/not-found/num.svg');
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     content: '';

  //     @include media('900', max) {
  //       width: rem(580);
  //     }

  //     @include media('600', max) {
  //       width: rem(342);
  //       height: rem(167);
  //     }

  //     @include media('374', max) {
  //       width: rem(300);
  //       height: rem(150);
  //     }
  //   }
  // }

  // &__img {
  //   width: rem(320);

  //   @include media('600', max) {
  //     width: rem(130);
  //   }
  // }

  &__text {
    max-width: rem(343);
    text-align: center;

    @include media('600', max) {
      @include font-size(14, 21);
    }
  }

  &__link {
    font-weight: 600;
    color: var(--pallette-biscay);
  }

  &__btn {
    min-width: rem(320);

    @include media('600', max) {
      min-width: unset;
      width: 100%;
    }
  }
}
