<sl-drawer class="portal-burger-menu" placement="start" no-header>
  <div class="portal-burger-menu__container">
    <div class="portal-burger-menu__top">
      {% set cols = [{
        items: [{
          title: {
            text: "Каталог"
          },
          links: [{
            text: {
              text: "Вино"
            }
          }, {
            text: {
              text: "Игристое вино"
            }
          }, {
            text: {
              text: "Винный напиток"
            }
          }, {
            text: {
              text: "Ликер"
            }
          }, {
            text: {
              text: "Виски"
            }
          }, {
            text: {
              text: "Текила"
            }
          }, {
            text: {
              text: "Коньяк"
            }
          }, {
            text: {
              text: "Водка"
            }
          }, {
            text: {
              text: "Пиво"
            }
          }, {
            text: {
              text: "Бренди"
            }
          }, {
            text: {
              text: "Самогон"
            }
          }, {
            text: {
              text: "Джин"
            }
          }, {
            text: {
              text: "Бальзам"
            }
          }, {
            text: {
              text: "Кагор"
            }
          }, {
            text: {
              text: "Портвейн"
            }
          }, {
            text: {
              text: "Настойка"
            }
          }, {
            text: {
              text: "Ром"
            }
          }, {
            text: {
              text: "Вермут"
            }
          }, {
            text: {
              text: "Аперитив"
            }
          }]
        }]
      }, {
        items: [{
          links: [{
            text: {
              text: "Энергетики"
            }
          }, {
            text: {
              text: "Слабый алкоголь"
            }
          }, {
            text: {
              text: "Сироп"
            }
          }, {
            text: {
              text: "Жвачка"
            }
          }, {
            text: {
              text: "Конфеты"
            }
          }, {
            text: {
              text: "Лапша"
            }
          }, {
            text: {
              text: "Чипсы"
            }
          }, {
            text: {
              text: "Печенье и бисквиты"
            }
          }, {
            text: {
              text: "Консервы"
            }
          }, {
            text: {
              text: "Шоколад"
            }
          }]
        }]
      }, {
        items: [{
          title: {
            text: "Покупателям"
          },
          links: [{
            text: {
              text: "Корпоративным клиентам"
            }
          }, {
            text: {
              text: "Программа лояльности"
            }
          }, {
            text: {
              text: "Калькулятор"
            }
          }, {
            text: {
              text: "Обратная связь"
            }
          }, {
            text: {
              text: "Акционные предложения"
            }
          }, {
            text: {
              text: "Вопрос-ответ"
            }
          }]
        }, {
          title: {
            text: "О Vintegra"
          },
          links: [{
            text: {
              text: "О компании"
            }
          }, {
            text: {
              text: "Новости"
            }
          }, {
            text: {
              text: "Статьи"
            }
          }, {
            text: {
              text: "Контакты"
            }
          }, {
            text: {
              text: "Пункты выдачи заказов"
            }
          }, {
            text: {
              text: "Бренды"
            }
          }, {
            text: {
              text: "Партнеры"
            }
          }, {
            text: {
              text: "Отзывы"
            }
          }]
        }]
      }] %}

      {% for col in cols %}
        <div class="portal-burger-menu__col">
          {% for item in col.items %}
            <div class="portal-burger-menu__col-item">
              {% if item.title %}
                {% include "../../@atoms/title/title.twig" with {
                  title: item.title|default({})|merge({
                    class: "portal-burger-menu__title",
                    level: 2,
                  })
                } %}
              {% endif %}

              {% for link in item.links %}
                {% include "../../@atoms/button/button.twig" with {
                  button: link|default({})|merge({
                    href: "#",
                    class: "btn--link portal-burger-menu__link",
                  })
                } %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="portal-burger-menu__bottom">
      <div class="portal-burger-menu__grid">
        <div class="portal-burger-menu__grid-item portal-burger-menu__grid-item--consultation">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "portal-burger-menu__grid-title",
              text: "Получить консультацию"
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--sixanary portal-burger-menu__grid-link",
              text: {
                text: "Обратная связь"
              }
            }
          } %}
        </div>
        <div class="portal-burger-menu__grid-item portal-burger-menu__grid-item--mobile-app">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "portal-burger-menu__grid-title",
              text: "Наше мобильное приложение"
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--sixanary portal-burger-menu__grid-link",
              text: {
                text: "Скачать в Google Play"
              },
              icon: {
                name: "sprite-mono.svg#google-play"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--sixanary portal-burger-menu__grid-link",
              text: {
                text: "Скачать в App Store"
              },
              icon: {
                name: "sprite-mono.svg#app-store"
              }
            }
          } %}
        </div>
        <div class="portal-burger-menu__grid-item portal-burger-menu__grid-item--socials">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "portal-burger-menu__grid-title",
              text: "Мы в социальных сетях"
            }
          } %}

          {% include "../../@atoms/socials/socials.twig" with {
            socials: {
              items: [{
                attrs: "aria-label='Инстаграм'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#instagram"
                }
              }, {
                attrs: "aria-label='Ютуб'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#youtube"
                }
              }, {
                attrs: "aria-label='Вконтакте'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#vk"
                }
              }, {
                attrs: "aria-label='Фейсбук'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#fb"
                }
              }]
            }
          } %}
        </div>
      </div>
    </div>
  </div>
</sl-drawer>