<div class="more-and-pagination-block">
  <div class="more-and-pagination-block__start">
    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "btn--btn btn--tertiary more-and-pagination-block__btn",
        text: {
          text: "Показать еще"
        }
      }
    } %}
  </div>
  <div class="more-and-pagination-block__end">
    {% include "../../^molecules/pagination/pagination.twig" with {
      pagination: {
        class: "more-and-pagination-block__navigation",
        items: [{
          href: "",
          text: {
            text: "1"
          },
          current_page: true
        }, {
          href: "#",
          text: {
            text: "2"
          }
        }, {
          href: "#",
          text: {
            text: "3"
          }
        }, {
          href: "#",
          text: {
            text: "..."
          }
        }, {
          href: "#",
          text: {
            text: "15"
          }
        }]
      }
    } %}
  </div>
</div>