.more-and-pagination-block {
  @include flex-between;
  gap: rem(10);
  margin-top: rem(56);

  &__start {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }

  &__btn {
    min-width: rem(320);
  }
}