.profile-dropdown {
  $this: &;

  &__dropdown {
    &[open] {
      #{$this}__trigger {
        &-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__trigger {
    @include font-size(16, 24);
    @include flex-center-y;
    column-gap: rem(4);
    font-weight: 600;
    color: var(--pallette-biscay);

    &-picture {
      flex-shrink: 0;
    }

    &-img {
      width: rem(50);
      height: rem(50);
      object-fit: cover;
      border-radius: 50%;
      margin-right: rem(10);

      @include media('1600', max) {
        margin-right: 0;
      }
    }

    &-icon {
      width: rem(8);
      height: rem(4);
      fill: currentColor;
    }
  }

  &__menu {
    width: rem(235);
    padding: rem(10) 0;
    border-radius: var(--bdrs10);
    border: rem(1) solid var(--pallette-athens-gray-2);

    &-item {
      --sl-color-primary-600: var(--pallette-international-orange);
      --sl-color-neutral-1000: var(--pallette-mine-shaft);
      outline: none;

      &::part(checked-icon) {
        display: none;
      }

      &::part(base) {
        @include font-size(14, 21);
        font-weight: 600;
        font-family: inherit;
        padding: rem(6) rem(16);
      }

      &--orders {
        &::part(base) {
          margin-bottom: rem(6);
        }
      }

      &--exit {
        border-top: rem(1) solid var(--pallette-athens-gray-2);

        &::part(base) {
          margin-top: rem(6);
          color: var(--pallette-gray);
        }
      }
    }
  }
}
