<div class="profile-dropdown">
  <sl-dropdown class="profile-dropdown__dropdown" distance="28">
    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "profile-dropdown__trigger",
        text: {
          text: "Александр"
        },
        image: {
          picture: {
            class: "profile-dropdown__trigger-picture",
          },
          name: "profile-dropdown/01.png",
          class: "profile-dropdown__trigger-img",
          sizes: {
            width: 50,
            height: 50
          },
          alt: ""
        },
        right_icon: {
          class: "profile-dropdown__trigger-icon",
          name: "sprite-mono.svg#arrow-down-p"
        },
        attrs: "slot='trigger'"
      }
    } %}
    <sl-menu class="profile-dropdown__menu">
      <sl-menu-item class="profile-dropdown__menu-item" value="my-profile">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "profile-dropdown__btn",
            href: "#",
            text: {
              text: "Мой профиль"
            }
          }
        } %}
      </sl-menu-item>
      <sl-menu-item class="profile-dropdown__menu-item" value="my-pvz">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "profile-dropdown__btn",
            href: "#",
            text: {
              text: "Мои ПВЗ"
            }
          }
        } %}
      </sl-menu-item>
      <sl-menu-item class="profile-dropdown__menu-item profile-dropdown__menu-item--orders" value="my-orders">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "profile-dropdown__btn",
            href: "#",
            text: {
              text: "Мои заказы"
            }
          }
        } %}
      </sl-menu-item>
      <sl-menu-item class="profile-dropdown__menu-item profile-dropdown__menu-item--exit" value="exit">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "profile-dropdown__btn",
            href: "#",
            text: {
              text: "Выйти"
            }
          }
        } %}
      </sl-menu-item>
    </sl-menu>
  </sl-dropdown>
</div>