<div class="hero">
	<div class="container">
		<h1 class="visually-hidden">
			Интернет-магазин Vintegra
		</h1>
		<div class="hero__wrap">
			<div class="hero__banner-wrap">
				<div class="swiper hero__slider">
					{% include "../../@atoms/button/button.twig" with {
            button: {
              class: "swiper-button-prev hero__slider-btn hero__slider-btn--prev",
              icon: {
                class: "hero__slider-btn-icon",
                name: "sprite-mono.svg#arrow-prev"
              },
              attrs: "aria-label='Предыдущий слайд'"
            }
          } %}

					{% include "../../@atoms/button/button.twig" with {
            button: {
              class: "swiper-button-next hero__slider-btn hero__slider-btn--next",
              icon: {
                class: "hero__slider-btn-icon",
                name: "sprite-mono.svg#arrow-next"
              },
              attrs: "aria-label='Следующий слайд'"
            }
          } %}
					<div class="swiper-wrapper">
						<div class="swiper-slide hero__slide" style="background-image: url('./assets/images/hero/01.png');">
							<div class="hero__slide-content">
								<img class="hero__slide-logo" src="./assets/images/icons/logo-banner.svg" alt="" width="240" height="60">

								{% include "../../@atoms/title/title.twig" with {
                  title: {
                    class: "hero__slide-title",
                    level: 2,
                    text: "Для теплой встречи на праздники"
                  }
                } %}

								<div class="hero__slide-text">
									Мы гарантируем высокое качество продукии, так как мы работаем только с проверенными поставщиками
								</div>

								{% include "../../@atoms/button/button.twig" with {
                  button: {
                    href: "#",
                    class: "btn--btn btn--tertiary hero__slide-btn",
                    text: {
                      text: "Посмотреть коллекцию"
                    }
                  }
                } %}
							</div>
						</div>

						<div class="swiper-slide hero__slide" style="background-image: url('./assets/images/hero/01.png');">
							<div class="hero__slide-content">
								<img class="hero__slide-logo" src="./assets/images/icons/logo-banner.svg" alt="" width="240" height="60">

								{% include "../../@atoms/title/title.twig" with {
                  title: {
                    class: "hero__slide-title",
                    level: 2,
                    text: "Для теплой встречи на праздники"
                  }
                } %}

								<div class="hero__slide-text">
									Мы гарантируем высокое качество продукии, так как мы работаем только с проверенными поставщиками
								</div>

								{% include "../../@atoms/button/button.twig" with {
                  button: {
                    href: "#",
                    class: "btn--btn btn--tertiary hero__slide-btn",
                    text: {
                      text: "Посмотреть коллекцию"
                    }
                  }
                } %}
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination hero__pagination"></div>
			</div>

			{% include "../../^molecules/product_card/product_card.twig" with {
        product_card: {
          class: "hero__card",
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 2,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }
      } %}

			<ul class="hero__benefits">
				<li class="hero__benefits-item">
					<img class="hero__benefits-img" src="./assets/images/benefits/01.svg" alt="" width="50" height="50">

					{% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "hero__benefits-title",
              text: "Широкий ассортимент"
            }
          } %}

					<div class="hero__benefits-text">
						Наша компания предлагает широкий выбор эксклюзивных алкогольных напитков, которые невозможно найти
					</div>
				</li>
				<li class="hero__benefits-item">
					<img class="hero__benefits-img" src="./assets/images/benefits/02.svg" alt="" width="50" height="50">

					{% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "hero__benefits-title",
              text: "Высокое качество"
            }
          } %}

					<div class="hero__benefits-text">
						Мы гарантируем высокое качество продукии, так как мы работаем только с проверенными поставщиками
					</div>
				</li>
				<li class="hero__benefits-item">
					<img class="hero__benefits-img" src="./assets/images/benefits/03.svg" alt="" width="50" height="50">

					{% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "hero__benefits-title",
              text: "Конкурентные цены"
            }
          } %}

					<div class="hero__benefits-text">
						Мы предлагаем вам конкурентные цены на все товары, что делает нашу компанию одним из лучших выборов
					</div>
				</li>
				<li class="hero__benefits-item">
					<img class="hero__benefits-img" src="./assets/images/benefits/04.svg" alt="" width="50" height="50">

					{% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "hero__benefits-title",
              text: "Корпоративные скидки"
            }
          } %}

					<div class="hero__benefits-text">
						Сделайте заказ на большое количество товаров и получите дополнительную скидку
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
