.partner-card {
  $this: &;

  @include flex-center-column;
  row-gap: rem(10);
  position: relative;
  padding: rem(70) rem(10) rem(24);
  border-radius: var(--bdrs15);
  border: rem(1) solid var(--pallette-seashell);

  @include media('600', max) {
    padding: rem(16) rem(14) rem(32);
    row-gap: rem(16);
  }

  @media (hover: hover) {
    #{$this}__title {
      &:hover {
        color: var(--pallette-international-orange);
      }
    }
  }

  &__title {
    @include font-size(24, 36);
    font-weight: 600;
    transition: color var(--transition300ms);

    @include media('600', max) {
      @include font-size(16, 24);
    }
  }
}
