.about-promo {
  margin-bottom: rem(112);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--pallette-white);

  @include media('900', max) {
    margin-bottom: rem(60);
  }

  .breadcrumbs {
    margin-top: 0;
  }

  &__container {
    padding: rem(16) var(--container-padding) rem(48);

    @include media('600', max) {
      padding: rem(12) var(--container-padding) rem(32);
    }
  }

  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(48);

      @include media('600', max) {
        margin-bottom: rem(24);
      }
    }
  }

  &__header {
    max-width: rem(460);
    margin: 0 auto;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(241);

      @include media('600', max) {
        margin-bottom: rem(120);
      }
    }

    &-text {
      font-weight: 600;
    }
  }

  &__title {
    @include font-size(45, 58.5);

    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: rem(20);

      @include media('600', max) {
        margin-bottom: rem(16);
      }
    }
  }

  &__middle {
    @include flex-center-between;
    @include font-size(18, 27);

    font-weight: 600;

    @include media('1024', max) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: rem(357);

      @include media('600', max) {
        margin-bottom: 0;
      }
    }

    &-text {
      max-width: rem(422);

      @include media('1024', max) {
        margin-bottom: rem(20);
        text-align: center;
      }

      @include media('600', max) {
        @include font-size(14, 21);

        margin-bottom: rem(200);
      }
    }
  }

  &__footer {
    max-width: rem(265);
    margin: 0 auto;
    text-align: center;

    @include media('600', max) {
      display: none;
    }

    &-text {
      font-weight: 600;
    }
  }

  &__benefits {
    @include flex-column;

    row-gap: rem(27);

    @include media('1024', max) {
      text-align: center;
    }

    @include media('600', max) {
      @include font-size(16, 24);

      row-gap: rem(8);
    }
  }

  &__benefit {
    &::before,
    &::after {
      color: var(--pallette-international-orange);
    }

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}
