<div class="marquee">
  <div class="marquee__wrap">
    <span class="marquee__item">
      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/01.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/02.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/03.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}
    </span>

    <span class="marquee__item">
      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/01.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/02.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-marquee/03.png",
          class: "marquee__img",
          sizes: {
            width: 680,
            height: 524
          },
          alt: ""
        }
      } %}
    </span>
  </div>
</div>
