.marquee {
  $this: &;

  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;

  &:hover {
    #{$this}__wrap {
      animation-play-state: paused;
    }
  }

  &__wrap {
    display: flex;
    width: 200%;
    column-gap: rem(10);
    animation: marquee 10s linear infinite;

    @include media('600', max) {
      width: 400%;
    }
  }

  &__item {
    display: flex;
    column-gap: rem(10);
    justify-content: space-around;
  }

  &__img {
    border-radius: var(--bdrs15);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
