<section class="section basket">
  <div class="container basket__container grid-block">
    <ul class="basket__cards grid-block__item grid-block__item--1">
      {% for item in basket.items %}
        <li class="basket__card">
          {% include "../../^molecules/basket_card/basket_card.twig" with {
            basket_card: item
          } %}
        </li>
      {% endfor %}
    </ul>

    {% include "../../^molecules/order_card/order_card.twig" with {
      order_card: {
        class: "basket__results grid-block__item grid-block__item--2",
        btn: {
          text: {
            text: "Перейти к оформлению заказа"
          }
        }
      }
    } %}
  </div>
</section>