{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Калькулятор расчета алкоголя",
    "description": "Калькулятор расчета алкоголя"
  }
} %}

{% block content %}
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Калькулятор расчета алкоголя"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: true,
      title: {
        text: "Калькулятор расчета алкоголя"
      },
    }
  } %}

  {% include "../blocks/&organisms/calculator/calculator.twig" %}

  {% include "../blocks/&organisms/products/products.twig" with {
    products: {
      is_preloader: true,
      section_header: {
        class: "section-header--secondary section-header--tertiary",
        title: {
          level: 2,
          class: "section-header__title",
          text: "Крепкие напитки"
        },
        slider_btns: true,
        toggle_group: {
          items: [{
            text: {
              text: "Водка"
            },
            attrs: "aria-pressed='true'"
          }, {
            text: {
              text: "Коньяк"
            },
            attrs: "aria-pressed='false'"
          }, {
            text: {
              text: "Виски"
            },
            attrs: "aria-pressed='false'"
          }]
        }
      },
      content: {
        items: [{
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }]
      }
    }
  } %}

  {% include "../blocks/&organisms/products/products.twig" with {
    products: {
      section_header: {
        class: "section-header--secondary section-header--tertiary",
        title: {
          level: 2,
          class: "section-header__title",
          text: "Слабоалкогольные напитки"
        },
        slider_btns: true,
        toggle_group: {
          items: [{
            text: {
              text: "Вино"
            },
            attrs: "aria-pressed='true'"
          }, {
            text: {
              text: "Вино игристое"
            },
            attrs: "aria-pressed='false'"
          }, {
            text: {
              text: "Винные напитки"
            },
            attrs: "aria-pressed='false'"
          }]
        }
      },
      content: {
        items: [{
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }]
      }
    }
  } %}

  <sl-alert class="alert alert--center" variant="danger" open closable>
    <strong>Произошла какая-то ошибка...</strong>
  </sl-alert>
{% endblock %}