{% extends "../blocks/layout/base_3.twig" %}

{% set page_data = {
  "meta": {
    "title": "Каталог",
    "description": "Каталог"
  }
} %}

{% block content %}

{% include "../blocks/&organisms/portal_header/portal_header.twig" with {
  portal_header: {
    class: "portal-block__header",
    title: {
      text: "Каталог"
    }
  }
} %}

<main id="main" class="main portal-block__main">
  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      sort_panel: {
        select: {
          view: "select",
          select: {
            label: "Сортировать по:",
            initial_value: "option-4",
            options: [{
              value: "option-1",
              text: "По популярности"
            }, {
              value: "option-2",
              text: "Сначала дорогие"
            }, {
              value: "option-3",
              text: "Сначала дешевые"
            }, {
              value: "option-4",
              text: "По новизне"
            }]
          }
        },
        filter_btn_portal: true,
        view_portal: {
          tile: {
            text: {
              text: "Плиткой"
            },
          },
          list: {
            text: {
              text: "Списком"
            },
            attrs: "aria-current='true'"
          },
          table: {
            text: {
              text: "Таблица"
            },
          }
        },
      },
      smartfiltres: true
    }
  } %}

  {% include "../blocks/&organisms/products_block/products_block.twig" with {
    products_block: {
      class: "section--portal",
      more_and_pagination_block: true,
      container: true,
      list2: true
    },
  } %}
</main>

{% include "../blocks/&organisms/catalog_filter_drawer/catalog_filter_drawer.twig" %}

{% endblock %}