{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Детальная страница акции",
    "description": "Детальная страница акции"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Детальная страница акции"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: true,
      title: {
        text: "Счастливые дни с 22 по 24 июня"
      },
      prev_btn: {
        text: {
          text: "Назад к акциям"
        },
      },
    }
  } %}

  {% include "../blocks/&organisms/detail_promotional_offers/detail_promotional_offers.twig" %}

  {% include "../blocks/&organisms/products_block/products_block.twig" with {
    products_block: {
      section_header: {
        class: "section-header--secondary",
        title: {
          level: 2,
          class: "section-header__title",
          text: "Наши рекомендации",
          label: "Найдено 20 товаров"
        },
        select: true
      },
      more: true,
      container: true,
      list: {
        items: [{
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }]
      }
    }
  } %}

  {% include "../blocks/&organisms/news_slider/news_slider.twig" with {
    news_slider: {
      section_header: {
        class: "section-header--secondary",
        title: {
          level: 2,
          class: "section-header__title",
          text: "Другие акции"
        },
        slider_btns: true,
      },
      items: [{
        image: {
          name: "promotional-offers/01.png",
          sizes: {
            width: 540,
            height: 240
          },
          alt: ""
        },
        date: {
          time: {
            text: "21.03.2017",
            datetime: "2017-03-21"
          }
        },
        title: {
          level: 2,
          text: "Правильный коктейль",
        }
      }, {
        image: {
          name: "promotional-offers/02.png",
          sizes: {
            width: 540,
            height: 240
          },
          alt: ""
        },
        date: {
          time: {
            text: "21.03.2017",
            datetime: "2017-03-21"
          }
        },
        title: {
          level: 2,
          text: "Правильный коктейль",
        }
      }, {
        image: {
          name: "promotional-offers/03.png",
          sizes: {
            width: 540,
            height: 240
          },
          alt: ""
        },
        date: {
          time: {
            text: "21.03.2017",
            datetime: "2017-03-21"
          }
        },
        title: {
          level: 2,
          text: "Правильный коктейль",
        }
      }]
    }
  } %}
</main>
{% endblock %}