{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Вопрос-ответ",
    "description": "Вопрос-ответ"
  }
} %}

{% block content %}
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Вопрос-ответ"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: true,
      title: {
        text: "Вопрос-ответ"
      },
    }
  } %}

  {% include "../blocks/&organisms/faq/faq.twig" %}
{% endblock %}