{% extends "../blocks/layout/base_2.twig" %}

{% set page_data = {
  "meta": {
    "title": "Разводная",
    "description": "Разводная"
  },
  "pages": [{
    "title": {
      "level": 2,
      "text": "Физическое лицо"
    },
    "items": [{
      "text": "Главная (+)",
      "link": "home"
    }, {
      "text": "Каталог (+)",
      "link": "catalog"
    }, {
      "text": "Карточка товара (+)",
      "link": "product"
    }, {
      "text": "Модальные окна с формой (+)",
      "link": "popups"
    }, {
      "text": "Корзина (+)",
      "link": "basket"
    }, {
      "text": "Оформление заказа (+)",
      "link": "ordering"
    }, {
      "text": "Вопрос-ответ (+)",
      "link": "faq"
    }, {
      "text": "Статьи (+)",
      "link": "articles"
    }, {
      "text": "Новости (+)",
      "link": "news"
    }, {
      "text": "Акционные предложения (+)",
      "link": "promotional_offers"
    }, {
      "text": "Обратная связь (+)",
      "link": "feedback"
    }, {
      "text": "Избранное (+)",
      "link": "favorite"
    }, {
      "text": "Пункты выдачи заказов (+)",
      "link": "sales_rep"
    }, {
      "text": "Контакты (+)",
      "link": "contacts"
    }, {
      "text": "Отзывы (+)",
      "link": "reviews"
    }, {
      "text": "О компании (+)",
      "link": "about_shop"
    }, {
      "text": "Страница поиска (+)",
      "link": "search"
    }, {
      "text": "Детальная страница новости (+)",
      "link": "detail_news"
    }, {
      "text": "Текстовая страница (как шаблон) (+)",
      "link": "text_page"
    }, {
      "text": "Личный кабинет - Мой профиль (+)",
      "link": "personal_account"
    }, {
      "text": "Личный кабинет - Мой профиль - Заполненное фото (+)",
      "link": "personal_account_with_photo"
    }, {
      "text": "Личный кабинет - Мой профиль - Текущие заказы (+)",
      "link": "personal_account_current_orders"
    }, {
      "text": "Личный кабинет - Мой профиль - История заказов (+)",
      "link": "personal_account_history_orders"
    }, {
      "text": "Личный кабинет - Мой профиль - Выбранные параметры фильтров (+)",
      "link": "personal_account_selected_filters"
    }, {
      "text": "Калькулятор + прелоадер и оповещение (+)",
      "link": "calculator"
    }, {
      "text": "Детальная страница акций (+)",
      "link": "detail_promotional_offers"
    }, {
      "text": "Бренды (+)",
      "link": "brands"
    }, {
      "text": "Партнеры (+)",
      "link": "partners"
    }, {
      "text": "Условия для корпоративных клиентов (+)",
      "link": "conditions_corporate_clients"
    }, {
      "text": "Политика обработки персональных данных (+)",
      "link": "personal_data_processing"
    }, {
      "text": "Пользовательское соглашение и условия (+)",
      "link": "user_agreement"
    }, {
      "text": "404 (+)",
      "link": "not_found"
    }]
  }, {
    "title": {
      "level": 2,
      "text": "Юридическое лицо"
    },
    "items": [{
      "text": "Главная (+)",
      "link": "home"
    }, {
      "text": "Каталог (+)",
      "link": "catalog"
    }, {
      "text": "Карточка товара (+)",
      "link": "product"
    }, {
      "text": "Модальные окна с формой (+)",
      "link": "popups"
    }, {
      "text": "Корзина (+)",
      "link": "basket"
    }, {
      "text": "Вопрос-ответ (+)",
      "link": "faq"
    }, {
      "text": "Статьи (+)",
      "link": "articles"
    }, {
      "text": "Новости (+)",
      "link": "news"
    }, {
      "text": "Акционные предложения (+)",
      "link": "promotional_offers"
    }, {
      "text": "Обратная связь (+)",
      "link": "feedback"
    }, {
      "text": "Избранное (+)",
      "link": "favorite"
    }, {
      "text": "Оформление заказа (+)",
      "link": "ordering_ur"
    }, {
      "text": "Пункты выдачи заказов (+)",
      "link": "sales_rep"
    }, {
      "text": "Контакты (+)",
      "link": "contacts"
    }, {
      "text": "Отзывы (+)",
      "link": "reviews"
    }, {
      "text": "О компании (+)",
      "link": "about_shop"
    }, {
      "text": "Страница поиска (+)",
      "link": "search"
    }, {
      "text": "Детальная страница новости (+)",
      "link": "detail_news"
    }, {
      "text": "Текстовая страница (как шаблон) (+)",
      "link": "text_page"
    }, {
      "text": "Личный кабинет - Мой профиль (+)",
      "link": "personal_account_ur"
    }, {
      "text": "Личный кабинет - Мой профиль - Заполненное фото (+)",
      "link": "personal_account_ur_with_photo"
    }, {
      "text": "Личный кабинет - Мой профиль - Текущие заказы (+)",
      "link": "personal_account_ur_current_orders"
    }, {
      "text": "Личный кабинет - Мой профиль - История заказов (+)",
      "link": "personal_account_ur_history_orders"
    }, {
      "text": "Личный кабинет - Мой профиль - Выбранные фильтры (+)",
      "link": "personal_account_ur_selected_filters"
    }, {
      "text": "Калькулятор + прелоадер и оповещение (+)",
      "link": "calculator"
    }, {
      "text": "Детальная страница акций (+)",
      "link": "detail_promotional_offers"
    }, {
      "text": "Бренды (+)",
      "link": "brands"
    }, {
      "text": "Партнеры (+)",
      "link": "partners"
    }, {
      "text": "Условия для корпоративных клиентов (+)",
      "link": "conditions_corporate_clients"
    }, {
      "text": "Политика обработки персональных данных (+)",
      "link": "personal_data_processing"
    }, {
      "text": "Пользовательское соглашение и условия (+)",
      "link": "user_agreement"
    }, {
      "text": "404 (+)",
      "link": "not_found"
    }]
  }, {
    "title": {
      "level": 2,
      "text": "Портал"
    },
    "items": [{
      "text": "Рабочий стол",
      "link": "work_table"
    }, {
      "text": "Результаты поиска",
      "link": "search_page"
    }, {
      "text": "Каталог (отображение плитками)",
      "link": "catalog_portal_view_tile"
    }, {
      "text": "Каталог (отображение таблицей)",
      "link": "catalog_portal_view_table"
    }, {
      "text": "Каталог (отображение списком)",
      "link": "catalog_portal_view_list"
    }]
  }],
} %}

{% block content %}
  <main id="main" class="main">
    <div class="start-page">
      <div class="container">
        <p class="start-page__update">
          Последнее обновление
          -
          <span class="start-page__update-date">{{ date().toLocaleString("ru", { year: 'numeric', month: 'numeric', day: 'numeric'}) }}</span>
        </p>

        {% include "../blocks/@atoms/title/title.twig" with {
          title: {
            class: "start-page__title",
            text: "Навигация по сайту"
          }
        } %}

        <div class="start-page__wrap">
          {% for page in page_data.pages %}
            {% if page.title %}
              {% include "../blocks/@atoms/title/title.twig" with {
                title: page.title|merge({
                  class: "start-page__second-title"
                })
              } %}
            {% endif %}

            <ul class="start-page__list">
              {% for item in page.items %}
                <li class="start-page__item">
                  <a class="btn start-page__link" href="{{ item.link }}.html">
                    {{ item.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
