{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Партнеры",
    "description": "Партнеры"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Партнеры"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched page-top--banner-title-and-btn",
      grid: {
        btn: {
          href: "#",
          class: "btn--btn btn--secondary page-top__banner-btn",
          text: {
            text: "Хочу стать партнером"
          },
        }
      },
      title: {
        text: "Партнеры"
      },
      sort_panel: {
        select: {
          view: "select",
          select: {
            label: "Сортировать по:",
            initial_value: "option-1",
            options: [{
              value: "option-1",
              text: "Алфавиту"
            }, {
              value: "option-2",
              text: "Алфавиту 2"
            }]
          }
        },
        pagination: true
      },
    }
  } %}

  {% include "../blocks/&organisms/card_grid/card_grid.twig" with {
    card_grid: {
      type: "partner",
      items: [{
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }, {
        title: {
          level: 2,
          text: "Wine State"
        }
      }]
    }
  } %}
</main>
{% endblock %}