{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Личный кабинет - Мой профиль - История заказов",
    "description": "Личный кабинет - Мой профиль - История заказов"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Личный кабинет"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched page-top--banner-title-and-btn",
      grid: {
        btn: {
          class: "btn--btn btn--secondary page-top__banner-btn",
          text: {
            text: "Выйти из личного кабинета"
          },
          icon: {
            name: "sprite-mono.svg#exit"
          }
        }
      },
      title: {
        text: "Личный кабинет"
      }
    }
  } %}

  {% include "../blocks/&organisms/personal_account/personal_account.twig" with {
    personal_account: {
      type: "history_orders",
      is_ur: true,
      status: {
        type: "completed",
        text: "Выполнен"
      },
      btns: {
        btns_block_1: {
          btn_2: {
            attrs: "aria-current='page'"
          }
        }
      }
    }
  } %}
</main>
{% endblock %}