{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Карточка товара",
    "description": "Карточка товара"
  }
} %}

{% block content %}
<main id="main" class="main main--product">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          href: "#",
          class: "btn--link",
          text: {
            text: "Вино"
          }
        }, {
          text: "Вино Hanewald Schwerdt Grauburgunder белое сухое, 0,75 л."
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      prev_btn: {
        text: {
          text: "Назад в каталог"
        },
      },
    }
  } %}

  {% include "../blocks/&organisms/product_info/product_info.twig" %}

  <sl-dialog id="review-product" class="dialog dialog--review-product" no-header>
    {% include "../blocks/&organisms/form_block/form_block.twig" with {
      form_block: {
        class: "form-block-review",
        type: "review_product",
        title: {
          text: "Ваш отзыв"
        }
      }
    } %}
  </sl-dialog>

  {% include "../blocks/&organisms/products/products.twig" with {
    products: {
      section_header: {
        title: {
          level: 2,
          class: "section-header__title",
          text: "Похожие товары"
        },
        slider_btns: true,
      },
      content: {
        items: [{
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 3,
            text: "Вино Лыхны красное полусладкое",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/02.png",
          },
          title: {
            level: 3,
            text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
          },
          price: {
            current: "6 054 ₽",
            old: "7 500 ₽",
          },
          rating: {
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            percent: {
              text: "-15%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/03.png",
          },
          title: {
            level: 3,
            text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
          },
          price: {
            current: "3 061 ₽",
          },
          rating: {
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.7"
            }
          },
          tags: {
            type: {
              text: "Новинка"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-pink",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/04.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }, {
          image: {
            name: "product-card/05.png",
          },
          title: {
            level: 3,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "1 085 ₽",
            old: "1 500 ₽",
          },
          rating: {
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
            }
          },
          tags: {
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          },
          basket_btn: true,
          favorite_btn: true
        }]
      }
    }
  } %}

  {% include "../blocks/&organisms/news/news.twig" with {
    news: {
      section_header: {
        title: {
          level: 2,
          class: "section-header__title",
          text: "Новости"
        },
        link_another_page: true
      },
      content: {
        items: [{
          image: {
            name: "news/01.png",
            sizes: {
              width: 540,
              height: 662
            },
            alt: ""
          },
          date: {
            time: {
              text: "21.03.2017",
              datetime: "2017-03-21"
            }
          },
          title: {
            level: 3,
            text: "Как читать винную этикетку?",
          }
        }, {
          image: {
            name: "news/02.png",
            sizes: {
              width: 540,
              height: 240
            },
            alt: ""
          },
          date: {
            time: {
              text: "21.03.2017",
              datetime: "2017-03-21"
            }
          },
          title: {
            level: 3,
            text: "Правильный коктейль",
          }
        }, {
          image: {
            name: "news/03.png",
            sizes: {
              width: 540,
              height: 240
            },
            alt: ""
          },
          date: {
            time: {
              text: "21.03.2017",
              datetime: "2017-03-21"
            }
          },
          title: {
            level: 3,
            text: "Правильный коктейль",
          }
        }, {
          image: {
            name: "news/04.png",
            sizes: {
              width: 540,
              height: 240
            },
            alt: ""
          },
          date: {
            time: {
              text: "21.03.2017",
              datetime: "2017-03-21"
            }
          },
          title: {
            level: 3,
            text: "Правильный коктейль",
          }
        }, {
          image: {
            name: "news/05.png",
            sizes: {
              width: 540,
              height: 240
            },
            alt: ""
          },
          date: {
            time: {
              text: "21.03.2017",
              datetime: "2017-03-21"
            }
          },
          title: {
            level: 3,
            text: "Правильный коктейль",
          }
        }]
      }
    }
  } %}
</main>
{% endblock %}