{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Отзывы",
    "description": "Отзывы"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Отзывы"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched page-top--banner-title-and-btn",
      grid: {
        btn: {
          class: "btn--btn btn--secondary page-top__banner-btn",
          text: {
            text: "Оставить отзыв о компании"
          },
          attrs: "data-dialog='review-company'"
        }
      },
      title: {
        text: "Отзывы"
      },
      sort_panel: {
        select: {
          view: "select",
          select: {
            label: "Дата:",
            initial_value: "option-1",
            options: [{
              value: "option-1",
              text: "Самые новые в начале"
            }, {
              value: "option-2",
              text: "Самые старые в начале"
            }]
          }
        },
        pagination: true
      },
    }
  } %}

  {% include "../blocks/&organisms/card_grid/card_grid.twig" with {
    card_grid: {
      type: "review",
      items: [{
        image: {
          name: "review-card/01.png",
        },
        title: {
          level: 2,
          text: "Коваленко Марина"
        },
        rating: {
          text: {
            text: 4.5
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/03.png",
        },
        title: {
          level: 2,
          text: "Денисенко Елизавета"
        },
        rating: {
          text: {
            text: 4.3
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/04.png",
        },
        title: {
          level: 2,
          text: "Григорьев Николай"
        },
        rating: {
          text: {
            text: 4.4
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/02.png",
        },
        title: {
          level: 2,
          text: "Воробьев Алексей"
        },
        rating: {
          text: {
            text: 4.8
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/01.png",
        },
        title: {
          level: 2,
          text: "Коваленко Марина"
        },
        rating: {
          text: {
            text: 4.5
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/03.png",
        },
        title: {
          level: 2,
          text: "Денисенко Елизавета"
        },
        rating: {
          text: {
            text: 4.3
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/04.png",
        },
        title: {
          level: 2,
          text: "Григорьев Николай"
        },
        rating: {
          text: {
            text: 4.4
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/02.png",
        },
        title: {
          level: 2,
          text: "Воробьев Алексей"
        },
        rating: {
          text: {
            text: 4.8
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/01.png",
        },
        title: {
          level: 2,
          text: "Коваленко Марина"
        },
        rating: {
          text: {
            text: 4.5
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/03.png",
        },
        title: {
          level: 2,
          text: "Денисенко Елизавета"
        },
        rating: {
          text: {
            text: 4.3
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/04.png",
        },
        title: {
          level: 2,
          text: "Григорьев Николай"
        },
        rating: {
          text: {
            text: 4.4
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }, {
        image: {
          name: "review-card/02.png",
        },
        title: {
          level: 2,
          text: "Воробьев Алексей"
        },
        rating: {
          text: {
            text: 4.8
          }
        },
        text: "<p>Я купил бутылку вина в вашем магазине и остался очень доволен. Вино было отличного качества и имело приятный аромат. Я рекомендую ваш магазин всем своим друзьям и знакомым, которые любят настоящее вино. Спасибо за отличный продукт и качественное обслуживание!</p>",
        list: {
          plus: {
            key: "Преимущества компании:",
            value: "Приятный аромат"
          },
          minus: {
            key: "Недостатки компании:",
            value: "Нету"
          }
        }
      }]
    }
  } %}
</main>

<sl-dialog id="review-company" class="dialog" no-header>
  {% include "../blocks/&organisms/form_block/form_block.twig" with {
    form_block: {
      class: "form-block-review",
      type: "review_company",
      title: {
        text: "Ваш отзыв"
      }
    }
  } %}
</sl-dialog>
{% endblock %}