{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Пункты выдачи заказов",
    "description": "Пункты выдачи заказов"
  },
  "ymaps": true
} %}

{% block content %}
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Пункты выдачи заказов"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: true,
      title: {
        text: "Пункты выдачи заказов"
      }
    }
  } %}

  {% include "../blocks/^molecules/sales_rep_grid/sales_rep_grid.twig" %}
{% endblock %}