{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Страница поиска",
    "description": "Страница поиска"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Поиск"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: {
        num_product: true,
      },
      sort_panel: {
        select: {
          view: "select",
          select: {
            label: "Сортировать по:",
            initial_value: "option-4",
            options: [{
              value: "option-1",
              text: "По популярности"
            }, {
              value: "option-2",
              text: "Сначала дорогие"
            }, {
              value: "option-3",
              text: "Сначала дешевые"
            }, {
              value: "option-4",
              text: "По новизне"
            }]
          }
        },
        select2: {
          view: "select",
          select: {
            class: "page-top__select page-top__select--secondary",
            label: "Отобразить:",
            initial_value: "option-1",
            options: [{
              value: "option-1",
              text: "Вино"
            }, {
              value: "option-2",
              text: "Коньяк"
            }, {
              value: "option-3",
              text: "Виски"
            }]
          }
        },
        view: true,
        pagination: true,
        filter_btn: true,
      },
      title: {
        text: "По запросу «Грузинское вино» мы нашли:",
        label: "Найдено 1500 товаров"
      },
    }
  } %}

  {% include "../blocks/&organisms/catalog/catalog.twig" with {
    catalog: {
      cards: [{
        image: {
          name: "product-card/01.png",
        },
        title: {
          level: 2,
          text: "Вино Лыхны красное полусладкое",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "1 085 ₽",
          old: "1 500 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/02.png",
        },
        title: {
          level: 2,
          text: "Вино Chateau De La Thebaudiere Muscadet De",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "6 541 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.9"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.9"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-white",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/03.png",
        },
        title: {
          level: 2,
          text: "Вино Petit Chablis AOC Domaine Garnier & Fils",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "6 541 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.5"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.5"
          }
        },
        tags: {
          percent: {
            text: "Новинка"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/04.png",
        },
        title: {
          level: 2,
          text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "6 054 ₽",
          old: "7 500 ₽"
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.3"
          }
        },
        tags: {
          percent: {
            text: "Новинка"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/05.png",
        },
        title: {
          level: 2,
          text: "Вино Beauroy Chablis 1er Cru AOC Maison Olivier Tricon",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "3 054 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.1"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.1"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/06.png",
        },
        title: {
          level: 2,
          text: "Вино Petit F... Pouilly-Fume AOC Michel Redde et Fils , 0.75 л",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "8 000 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.1"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.1"
          }
        },
        tags: {
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-pink",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/07.png",
        },
        title: {
          level: 2,
          text: "Вино Chardonnay Bourgogne AOC Lugny L’aurore, 0.75л",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "2 444 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.5"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.5"
          }
        },
        tags: {
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/08.png",
        },
        title: {
          level: 2,
          text: "Вино Tour de Mandelotte Bordeaux AOC Ginestet, 0.75л",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "4 444 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
          percent: {
            text: "-20%"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-red",
            text: "0.75л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/01.png",
        },
        title: {
          level: 2,
          text: "Вино Chablis AОС Domaine Garnier & Fils, 0.75л",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "4 065 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.9"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.9"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/02.png",
        },
        title: {
          level: 2,
          text: "Вино Vaudesir Chablis Grand Cru AOC Jean-Paul & Benoît",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "20 065 ₽",
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>5.0"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>5.0"
          }
        },
        tags: {
          type: {
            text: "Новинка"
          },
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/03.png",
        },
        title: {
          level: 2,
          text: "Вино Chardonnay Arbois AOC Domaine Rijckaert, 0.75л",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "10 065 ₽"
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>5.0"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>5.0"
          }
        },
        tags: {
          type: {
            text: "Топ продаж"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }, {
        image: {
          name: "product-card/04.png",
        },
        title: {
          level: 2,
          text: "Вино Vaudesir Chablis Grand Cru AOC Jean-Paul & Benoît",
        },
        list: {
          items: [{
            term: "Артикул:",
            descr: "4260470690309"
          }, {
            term: "Страна:",
            descr: "Франция"
          }, {
            term: "Объем:",
            descr: "0,75л"
          }, {
            term: "Сахар:",
            descr: "Сухое"
          }, {
            term: "Цвет:",
            descr: "Красное"
          }, {
            term: "Регион происхождения:",
            descr: "Пфальц"
          }, {
            term: "Сорт винограда:",
            descr: "Граубургундер (Пино гри)"
          }, {
            term: "Крепость%:",
            descr: "13"
          }]
        },
        price: {
          current: "10 065 ₽",
          old: "12 000 ₽"
        },
        rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        second_rating: {
          href: "#",
          text: {
            text: "<span class='visually-hidden'>Рейтинг:</span>4.8"
          }
        },
        tags: {
          percent: {
            text: "-10%"
          },
          volume: {
            type: "with_round",
            class: "tag--volume tag--type-pink",
            text: "1л"
          }
        },
        basket_btn: true,
        favorite_btn: true
      }]
    }
  } %}
</main>
{% endblock %}