{% extends "../blocks/layout/base.twig" %}

{% set page_data = {
  "meta": {
    "title": "Пользовательское соглашение и условия",
    "description": "Пользовательское соглашение и условия"
  }
} %}

{% block content %}
<main id="main" class="main">
  <div class="container">
    {% include "../blocks/^molecules/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        items: [{
          href: "#",
          class: "btn--link",
          text: {
            text: "Главная"
          }
        }, {
          text: "Пользовательское соглашение и условия"
        }]
      }
    } %}
  </div>

  {% include "../blocks/&organisms/page_top/page_top.twig" with {
    page_top: {
      class: "page-top--banner-stretched",
      grid: true,
      title: {
        text: "Пользовательское соглашение и условия"
      },
    }
  } %}

  {% include "../blocks/&organisms/info_policy/info_policy.twig" %}
</main>
{% endblock %}