<article class="info-card {{ info_card.class }}">
  {% if info_card.tag %}
    <div class="info-card__tags">
      {% include "../../@atoms/tag/tag.twig" with {
        tag: info_card.tag|default({})|merge({
          class: info_card.tag.class ~ " info-card__img-tag"
        })
      } %}
    </div>
  {% endif %}

  {% include "../../@atoms/image/image.twig" with {
    image: info_card.image|default({})|merge({
      class: "info-card__img"
    })
  } %}

  <div class="info-card__body">
    <div class="info-card__inner">
      {% include "../../@atoms/tag/tag.twig" with {
        tag: {
          class: "tag--read",
          text: "Читать"
        }
      } %}

      <div class="info-card__date">
        {% if info_card.date.text %}
          <span class="info-card__date-text">
            Действует до
          </span>
        {% endif %}

        <time class="info-card__time" datetime="{{ info_card.date.time.datetime }}">
          {{ info_card.date.time.text }}
        </time>
      </div>
    </div>

    {% include "../../@atoms/title/title.twig" with {
      title: info_card.title|default({})|merge({
        class: "info-card__title",
        link: true
      })
    } %}

    <div class="info-card__text">
      История компании «Бодегас и Винедос де Агирре» началась еще в 16 веке, когда испанский колонизатор Франсиско...
    </div>
  </div>
</article>