<div
  class="quantity {{ quantity.class }}"
  {{ quantity.attrs }}
>
  {% include "../../@atoms/button/button.twig" with {
    button: {
      class: "quantity__btn quantity__btn--decrease " ~ quantity.btns.decrease.class,
      icon: {
        class: "quantity__icon",
        name: "sprite-mono.svg#minus"
      },
      attrs: "aria-label='Уменьшить' type='button'"
    }
  } %}

  {% include "../../@atoms/form_control/form_control.twig" with {
    form_control: {
      class: "quantity__form-control",
      input: {
        class: "quantity__input " ~ quantity.input.class,
        type: "number",
        name: "quantity",
        placeholder: "1",
        attrs: "value='1'"
      }
    }
  } %}

  {% include "../../@atoms/button/button.twig" with {
    button: {
      class: "quantity__btn quantity__btn--increase " ~ quantity.btns.increase.class,
      icon: {
        class: "quantity__icon",
        name: "sprite-mono.svg#plus"
      },
      attrs: "aria-label='Увеличить' type='button' " ~ quantity.btns.increase.attrs
    }
  } %}

  {% if quantity.info %}
    <div class="tooltip quantity__tooltip" role="tooltip">
      Невозможно добавить больше, так как товара не хватает в наличии
    </div>
  {% endif %}
</div>