.reminders-card {
  $this: &;

  @include flex-column;

  align-items: flex-start;
  position: relative;
  padding: rem(25) rem(20);
  height: 100%;
  border-radius: var(--bdrs15);
  border: rem(1) solid var(--pallette-athens-gray-2);

  @media (hover: hover) {
    &:hover {
      #{$this}__title {
        color: var(--pallette-international-orange);
      }
    }
  }

  &__status {
    margin-bottom: rem(16);
  }

  &__title {
    @include font-size(20, 30);

    font-weight: 600;
    margin-bottom: rem(10);
    transition: color var(--transition300ms);
  }

  &__text {
    @include font-size(14, 21);

    margin-bottom: rem(12);
  }

  &__btn {
    @include font-size(14, 21);

    position: relative;
    padding: rem(14) rem(25);
    margin-top: auto;
  }

  &__place {
    font-weight: 600;
    color: var(--pallette-biscay);
  }
}
