.price-info {
  @include flex-center-y;
  flex-wrap: wrap;
  column-gap: rem(12);
  font-weight: 700;

  &__current {
    @include font-size(32, 44);

    @include media('600', max) {
      @include font-size(18, 25);
    }
  }

  &__old {
    @include font-size(24, 32);
    color: var(--pallette-alto);
    position: relative;

    @include media('600', max) {
      @include font-size(14, 20);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: rem(1);
      transform: translateY(-50%);
      background-color: currentColor;
      content: "";
    }
  }
}
