<section class="detail-promotional-offers detail-news section">
  <div class="container detail-promotional-offers__container">
    <div class="detail-news__content">
      <div class="detail-news__promo">
        {% include "../../@atoms/image/image.twig" with {
          image: {
            class: "detail-news__promo-img",
            name: "detail-news/02.png",
            sizes: {
              width: 1090,
              height: 500
            },
            alt: ""
          }
        } %}

        <div class="detail-news__promo-info">
          <time class="detail-news__time" datetime="2021-10-10">
            10.10.2021
          </time>
          <div class="detail-news__num-views">
            251
          </div>
        </div>
      </div>
      <div class="text-block detail-news__text-block">
        <h2>
          Немного об акции
        </h2>
        <p>
          Зинфандель (или зин, как его называют в США) — темнокожий сорт красного винограда, очень популярный в Калифорнии. Был завезен в США из Европы и нашел свое пристанище в калифорнийских районах Напа и Сонома, которые и сегодня остаются его главными территориями.Зинфандель — это вино со средними танинами, высокой кислотностью и значительным содержанием алкоголя (от 14% до 17%). В его аромате — джем, черника, черная смородина, вишня, изюм, малина, слива, клюква, солодка, черный перец, табак.
        </p>
        <h2>
          Условия акции
        </h2>
        <p>
          С самого начала сорт использовался для производства самых разных вин, будь то красные (сухие и сладкие) или блаш (от англ. blush — «румянец», принятое в США обозначение розовых вин из темных сортов).
        </p>
        <p>
          Белый зинфандель — как раз розовое вино, полученное в ходе экспериментов Боба Тринчеро, владельца винодельни Sutter Home. Пытаясь сделать более интенсивное вино, Тринчеро слил около 500 галлонов (1 900 л) только-только забродившего сока, чтобы оставшаяся жидкость получилась более насыщенной. Затем возник вопрос: что делать со слитым винным материалом, очень сухим на вкус? Sutter Home продали эти остатки по низкой цене, но что-то пошло не так: брожение остановилось раньше, чем весь сахар превратился в спирт, и в итоге на выходе получилось очень сладкое вино. Никто в 1975 году и не ожидал, что эта случайность обернется триумфом.
        </p>
        <p>
          Это розе стало настоящим хитом, сделав Sutter Home лидером в производстве дешёвых сладких вин (за 10 лет объем продаж их белого зина вырос до 30 млн бутылок), а ее владельцев — миллионерами.Такая популярность белого зина привела к мощному росту объемов посадок сорта. Ирония заключалась в том, что белый зинфандель появился для спасения уже существующих виноградников, урожайность которых явно превышала спрос. Так или иначе, это розе обеспечило востребованность сорта, отодвинув при этом на второй план красные вина зинфандель. К 90-ым годам, однако, интерес к сухим красным зинам стал расти (хотя до позиций блаша им было далеко).
        </p>
        <p>
          Высокий спрос на белый зин в конечном итоге обернулся против него. «Низкие цены и сладкий вкус ударили по репутации белого зинфанделя. Все больше людей пробовало сухие розовые вина, те же французские, вина освежающие, идеально сочетавшиеся с едой. Сладкие розовые им сильно уступали», — рассказывает критик Адам Титер.
        </p>
        <p>
          Удивительно, но хоть белый зин сегодня и вышел из моды, продажи его остаются высокими (в 2017 году Sutter Home White Zin был самым продаваемым розовым вином в США в ценовом диапазоне до $10).
        </p>
        <h2>
          Как участвовать
        </h2>
        <p>
          «История зинфанделя похожа на триллер, на загадку, которая была отгадана совсем недавно», — писала винный критик Дженсис Робинсон. Запутанное происхождение и география перемещений сорта, который американцы считали своим, и вправду достойны отдельной повести.
        </p>
      </div>
    </div>
  </div>
</section>