.form-block {
  $this: &;

  position: relative;
  padding: rem(16) rem(24) rem(24);
  border-radius: var(--bdrs15);
  overflow-x: hidden;

  @include media('600', max) {
    padding: rem(32) rem(16) rem(16);
  }

  &__title {
    @include font-size(32, 44);
    @include flex-center;

    column-gap: rem(16);
    padding-bottom: rem(31);
    margin-bottom: rem(36);
    font-weight: 600;
    border-bottom: rem(1) solid var(--pallette-athens-gray-2);

    @include media('600', max) {
      @include font-size(24, 36);

      margin: rem(8) 0 rem(20);
    }

    &::before {
      width: rem(25);
      height: rem(25);
      flex-shrink: 0;
      background-image: url('../assets/images/icons/user.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';

      @include media('600', max) {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(16);
    right: rem(16);
    display: flex;

    &-icon {
      width: rem(15);
      height: rem(15);
      pointer-events: none;
    }
  }

  &__controls {
    display: grid;
    row-gap: rem(24);

    @include media('600', max) {
      row-gap: rem(20);
    }
  }

  &__btn {
    width: 100%;
    margin-top: rem(32);

    @include media('600', max) {
      margin-top: rem(24);
    }
  }

  &__info {
    @include flex-center-column;

    text-align: center;

    @include media('600', max) {
      margin-top: rem(36);
    }

    &-title {
      @include font-size(24, 36);
      @include flex-center-column;

      row-gap: rem(16);
      font-weight: 600;
      margin-bottom: rem(8);

      @include media('600', max) {
        margin-bottom: rem(5);
      }

      &::before {
        width: rem(80);
        height: rem(80);
        background-image: url('../assets/images/icons/circle-check.svg');
        background-repeat: no-repeat;
        content: '';
      }
    }

    &-text {
      @include font-size(14, 21);

      max-width: rem(340);

      @include media('600', max) {
        max-width: rem(280);
      }
    }
  }

  &__footer {
    @include font-size(14, 20);

    width: calc(100% + #{rem(48)});
    margin-left: rem(-24);
    padding: rem(20);
    margin-top: rem(48);
    background-color: var(--pallette-athens-gray);
    border-radius: 0 0 var(--bdrs15) var(--bdrs15);
    text-align: center;

    a {
      color: var(--pallette-international-orange);
      font-weight: 600;
    }
  }

  &__checkboxes {
    display: grid;
    row-gap: rem(12);
    margin-top: rem(32);

    @include media('600', max) {
      margin-top: rem(20);
    }

    &-wrap {
      padding: rem(20) 0;
      margin-bottom: rem(24);
      border: rem(1) solid var(--pallette-athens-gray-2);
      border-left: 0;
      border-right: 0;
    }

    &-title {
      @include font-size(14, 20);

      font-weight: 600;
      margin-bottom: rem(12);
      padding-right: rem(20);
      background-image: url('../assets/images/icons/info-circle-gray.svg');
      background-repeat: no-repeat;
      background-position: center right rem(5);

      @include media('600', max) {
        font-size: rem(13);
        margin-bottom: rem(10);
      }
    }
  }

  &__checkbox {
    align-items: flex-start;
  }

  &__socials {
    margin-bottom: rem(40);

    @include media('600', max) {
      margin-bottom: rem(30);
    }

    &-block {
      margin-bottom: rem(30);

      .socials__btn {
        background-color: transparent;
        border: rem(1) solid var(--pallette-biscay);
      }
    }

    &-title {
      @include font-size(14, 20);

      font-weight: 600;
      margin-bottom: rem(16);

      @include media('600', max) {
        font-size: rem(13);
        margin-bottom: rem(14);
      }
    }

    &-more {
      @include flex-center-y;

      column-gap: rem(26);
      text-align: center;

      &::before,
      &::after {
        height: rem(1);
        width: 100%;
        background-color: var(--pallette-athens-gray-2);
        content: '';
      }
    }
  }

  &__tab {
    &:not(:defined) {
      @include font-size(20, 27);

      font-weight: 600;
      margin: rem(10) 0;
      display: block;
    }

    &::part(base) {
      @include media('600', max) {
        @include font-size(13, 20);

        padding: rem(15) rem(16.5);
      }
    }
  }

  &__licence-info {
    @include font-size(14, 20);

    font-weight: 400;
    margin-top: rem(10);

    .btn--link {
      font-weight: 600;
      color: var(--pallette-biscay);
    }
  }

  &__textarea {
    @include media('600', max) {
      height: rem(240);
    }
  }
}

// success
.form-block-success {
  padding: rem(16) rem(24) 0;

  @include media('600', max) {
    padding: rem(32) rem(16) 0;
  }
}

// auth
.form-block-auth {
  padding: rem(16) rem(24) 0;

  @include media('600', max) {
    padding: rem(32) rem(16) 0;
  }

  &__link {
    @include font-size(14, 20);

    display: block;
    padding: rem(16) 0;
    text-align: center;
    margin-top: rem(24);
    border: rem(1) solid var(--pallette-athens-gray-2);
    border-left: 0;
    border-right: 0;
  }
}

// registration
.form-block-registration {
  padding: rem(16) rem(24) 0;

  @include media('600', max) {
    padding: rem(32) rem(16) 0;
  }
}

// forgot-password
.form-block-forgot-password {
  &__wrap {
    display: flex;
    gap: rem(12) rem(20);
    margin-top: rem(32);

    > * {
      width: 50%;
    }

    @include media('600', max) {
      flex-direction: column-reverse;
      margin-top: rem(24);

      > * {
        width: 100%;
      }
    }
  }

  &__btn {
    border-color: var(--pallette-biscay);
    color: var(--pallette-biscay);
  }
}

// review
.form-block-review {
  $this: this;

  .form-block__title {
    &::before {
      content: none;
    }
  }

  &__wrap {
    display: flex;
    column-gap: rem(48);

    @include media('900', max) {
      column-gap: rem(12);
    }
  }

  &__form {
    width: 55%;

    @include media('900', max) {
      width: 50%;
    }

    @include media('600', max) {
      width: 100%;
    }
  }

  &__card {
    width: 45%;

    @include media('900', max) {
      width: 50%;
    }

    @include media('600', max) {
      display: none;
    }
  }
}
