<div class="form-block {{ form_block.class }}">
  {% include "../../@atoms/button/button.twig" with {
    button: {
      class: "form-block__close dialog__close",
      icon: {
        class: "form-block__close-icon",
        name: "sprite-mono.svg#close"
      },
      attrs: "aria-label='Закрыть'"
    }
  } %}

  {% include "../../@atoms/title/title.twig" with {
    title: form_block.title|default({})|merge({
      level: 2,
      class: "form-block__title"
    })
  } %}

  {% if form_block.type == 'forgot_password_3' or form_block.type == 'registration_2' %}
    <div class="form-block__info">
      {% include "../../@atoms/title/title.twig" with {
        title: {
          level: 2,
          class: "form-block__info-title",
          text: "Поздравляем!"
        }
      } %}

      <div class="form-block__info-text">
        {{ form_block.info.text }}
      </div>
    </div>

    <div class="form-block__footer">
      Перейти на {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "dialog__close",
          href: "#",
          text: {
            text: "Главную страницу"
          }
        }
      } %}
    </div>
  {% endif %}

  {% if form_block.type == 'forgot_password' %}
    <form action="/" method="get" class="form-block__form validation-form">
      <div class="form-block__controls">
        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "forgot_password_email",
            class: "form-control--col",
            input: {
              type: "text",
              placeholder: "Введите ваш e-mail",
              name: "email",
              attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='100' data-pristine-custom-email required"
            },
            label: {
              text: "Введите Ваш e-mail *"
            }
          }
        } %}
      </div>

      <div class="form-block-forgot-password__wrap">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--outline form-block-forgot-password__btn dialog__close",
            text: {
              text: "Отмена"
            },
            attrs: "type='button'"
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--primary",
            text: {
              text: "Продолжить"
            },
          }
        } %}
      </div>
    </form>
  {% elseif form_block.type == 'forgot_password_2' %}
    <form action="/" method="get" class="form-block__form validation-form">
      <div class="form-block__controls">
        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "forgot_password",
            class: "form-control--col",
            input: {
              type: "password",
              placeholder: "Введите новый пароль",
              name: "password",
              attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' required data-pristine-at-least-lower-and-upper-letter-and-digit"
            },
            label: {
              text: "Введите новый пароль *"
            }
          }
        } %}

        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "forgot_password_repeat",
            class: "form-control--col",
            input: {
              type: "password",
              placeholder: "Повторите новый пароль",
              name: "password_repeat",
              attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-equals='#forgot_password_default' data-pristine-equals-message='Пароли не совпадают' required data-pristine-at-least-lower-and-upper-letter-and-digit"
            },
            label: {
              text: "Повторите новый пароль *"
            }
          }
        } %}

        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "secret_key",
            class: "form-control--col",
            input: {
              type: "text",
              placeholder: "Введите секретный код",
              name: "secret_key",
              attrs: "data-pristine-required-message='Это поле является обязательным' required"
            },
            label: {
              text: "Ввведите секретный код *"
            }
          }
        } %}
      </div>

      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "btn--btn btn--primary form-block__btn",
          text: {
            text: "Сменить пароль"
          },
        }
      } %}
    </form>
  {% elseif form_block.type == 'auth' %}
    <sl-tab-group class="tabs form-block__tabs" no-scroll-controls>
      <sl-tab class="tabs__tab form-block__tab" slot="nav" panel="phys_person">Физическое лицо</sl-tab>
      <sl-tab-panel class="tabs__panel form-block__tab-panel" name="phys_person">
        <div class="form-block__socials">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              class: "form-block__socials-title",
              level: 3,
              text: "Авторизоваться через социальные сети"
            }
          } %}

          {% include "../../@atoms/socials/socials.twig" with {
            socials: {
              class: "form-block__socials-block",
              items: [{
                attrs: "aria-label='Вконтакте'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#vk"
                }
              }, {
                attrs: "aria-label='Одноклассники'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#odnoklassniki"
                }
              }, {
                attrs: "aria-label='Яндекс.почта'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#yandex"
                }
              }]
            }
          } %}

          <div class="form-block__socials-more">
            Или
          </div>
        </div>
        <form action="/" method="get" class="form-block__form validation-form">
          <div class="form-block__controls">
            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "auth_email",
                class: "form-control--col",
                input: {
                  type: "text",
                  placeholder: "Введите свой логин (e-mail)",
                  name: "email",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='100' data-pristine-custom-email required"
                },
                label: {
                  text: "Логин (e-mail) *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "auth_password",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Введите ваш пароль",
                  name: "password",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' required data-pristine-at-least-lower-and-upper-letter-and-digit"
                },
                label: {
                  text: "Пароль *"
                }
              }
            } %}
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary form-block__btn",
              text: {
                text: "Войти"
              },
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--link form-block-auth__link",
              text: {
                text: "Забыли пароль?"
              },
              attrs: "data-dialog='forgot_password'"
            }
          } %}

          <div class="form-block__footer">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                text: {
                  text: "Зарегистрироваться"
                },
                attrs: "data-dialog='registration'"
              }
            } %} в личном кабинете
          </div>
        </form>
      </sl-tab-panel>

      <sl-tab class="tabs__tab form-block__tab" slot="nav" panel="ur_person">Юридическое лицо</sl-tab>
      <sl-tab-panel class="tabs__panel form-block__tab-panel" name="ur_person">
        <form action="/" method="get" class="form-block__form validation-form">
          <div class="form-block__controls">
            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "auth_ur_email",
                class: "form-control--col",
                input: {
                  type: "text",
                  placeholder: "Введите свой логин (e-mail)",
                  name: "email",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='100' data-pristine-custom-email required"
                },
                label: {
                  text: "Логин (e-mail) *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "auth_ur_password",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Введите ваш пароль",
                  name: "password",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' required data-pristine-at-least-lower-and-upper-letter-and-digit"
                },
                label: {
                  text: "Пароль *"
                }
              }
            } %}
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary form-block__btn",
              text: {
                text: "Войти"
              },
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--link form-block-auth__link",
              text: {
                text: "Забыли пароль?"
              },
              attrs: "data-dialog='forgot_password'"
            }
          } %}

          <div class="form-block__footer">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                text: {
                  text: "Зарегистрироваться"
                },
                attrs: "data-dialog='registration'"
              }
            } %} в личном кабинете
          </div>
        </form>
      </sl-tab-panel>
    </sl-tab-group>
  {% elseif form_block.type == 'registration' %}
    <sl-tab-group class="tabs form-block__tabs" no-scroll-controls>
      <sl-tab class="tabs__tab form-block__tab" slot="nav" panel="phys_person">Физическое лицо</sl-tab>

      <sl-tab-panel class="tabs__panel form-block__tab-panel" name="phys_person">
        <div class="form-block__socials">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              class: "form-block__socials-title",
              level: 3,
              text: "Зарегистрироваться через социальные сети"
            }
          } %}

          {% include "../../@atoms/socials/socials.twig" with {
            socials: {
              class: "form-block__socials-block",
              items: [{
                attrs: "aria-label='Вконтакте'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#vk"
                }
              }, {
                attrs: "aria-label='Одноклассники'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#odnoklassniki"
                }
              }, {
                attrs: "aria-label='Яндекс.почта'",
                icon: {
                  class: "socials__icon",
                  name: "sprite-mono.svg#yandex"
                }
              }]
            }
          } %}

          <div class="form-block__socials-more">
            Или
          </div>
        </div>

        <form action="/" method="get" class="form-block__form validation-form">
          <div class="form-block__controls">
            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "registration_name",
                class: "form-control--col",
                input: {
                  placeholder: "Введите ваше имя",
                  name: "name",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='50' data-pristine-hyphen data-pristine-space data-pristine-only-letters required"
                },
                label: {
                  text: "Ваше имя *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "registration_tel",
                class: "form-control--col",
                input: {
                  class: "phone-mask",
                  type: "tel",
                  name: "tel",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-phone required",
                  placeholder: "+7 (__)___-__-__"
                },
                label: {
                  text: "Номер телефона *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "registration_email",
                class: "form-control--col",
                input: {
                  type: "text",
                  placeholder: "Введите ваш e-mail",
                  name: "email",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='100' minlength='5' data-pristine-minlength-message='Минимальная длина - 5 символов' data-pristine-custom-email required"
                },
                label: {
                  text: "E-mail *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "registration_password",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Введите пароль",
                  name: "password",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' required data-pristine-at-least-lower-and-upper-letter-and-digit"
                },
                label: {
                  text: "Пароль *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "registration_password_repeat",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Повторите пароль",
                  name: "password_repeat",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-equals='#registration_password_default' data-pristine-equals-message='Пароли не совпадают' required"
                },
                label: {
                  text: "Повторите пароль *"
                }
              }
            } %}
          </div>

          <div class="form-block__checkboxes">
            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "check_reg_policy",
                  input: {
                    type: "checkbox",
                    name: "check_reg_policy",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked required"
                  },
                  label: {
                    text: "Я подтверждаю свое совершеннолетие и соглашаюсь с условиями <a class='btn btn--link' href='#'>Политики обработки персональных данных</a>"
                  }
                }
              } %}
            </div>

            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "check_reg_user_agreement",
                  input: {
                    type: "checkbox",
                    name: "check_reg_user_agreement",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked required"
                  },
                  label: {
                    text: "Я подтверждаю свое совершеннолетие и соглашаюсь с условиями <a class='btn btn--link' href='#'>Пользовательского соглашения</a>"
                  }
                }
              } %}
            </div>

            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "check_info_discount",
                  input: {
                    type: "checkbox",
                    name: "check_info_discount",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked"
                  },
                  label: {
                    text: "Я соглашаюсь с получением информации по скидкам и акциям"
                  }
                }
              } %}
            </div>
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary form-block__btn",
              text: {
                text: "Зарегистрироваться"
              },
            }
          } %}
        </form>

        <div class="form-block__footer">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              text: {
                text: "Войти"
              },
              attrs: "data-dialog='auth'"
            }
          } %} в личный кабинет
        </div>
      </sl-tab-panel>

      <sl-tab class="tabs__tab form-block__tab" slot="nav" panel="ur_person">Юридическое лицо</sl-tab>

      <sl-tab-panel class="tabs__panel form-block__tab-panel" name="ur_person">
        <form action="/" method="get" class="form-block__form validation-form">
          <div class="form-block__checkboxes-wrap">
            <div class="form-block__checkboxes-title">
              Наличие лицензии для продажи алкоголя
            </div>

            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "ur_check_license",
                  input: {
                    class: "js-check",
                    type: "checkbox",
                    name: "ur_check_license",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' data-hidden-block='licence_info'"
                  },
                  label: {
                    text: "Лицензия есть"
                  }
                }
              } %}
            </div>

            <div id="licence_info" class="form-block__licence-info" hidden>
              Если у вас есть лицензия на продажу алкоголя, то просим Вас зарегистрироваться на <a class="btn btn--link" href="#">нашем портале</a>, где мы предлагаем выгодные условия для сотрудничества с нами!
            </div>
          </div>

          <div class="form-block__controls">
            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_name",
                class: "form-control--col",
                input: {
                  placeholder: "Введите ваше имя",
                  name: "name",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='50' data-pristine-hyphen data-pristine-space data-pristine-only-letters required"
                },
                label: {
                  text: "Ваше имя *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_organization",
                class: "form-control--col",
                input: {
                  placeholder: "Введите полное наименование организации",
                  name: "name",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='50' required"
                },
                label: {
                  text: "Организация *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_tel",
                class: "form-control--col",
                input: {
                  class: "phone-mask",
                  type: "tel",
                  name: "tel",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-phone required",
                  placeholder: "+7 (__)___-__-__"
                },
                label: {
                  text: "Номер телефона *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_email",
                class: "form-control--col",
                input: {
                  type: "text",
                  placeholder: "Введите ваш e-mail",
                  name: "email",
                  attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='100' data-pristine-custom-email required"
                },
                label: {
                  text: "E-mail *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_password",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Введите пароль",
                  name: "password",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' required data-pristine-at-least-lower-and-upper-letter-and-digit"
                },
                label: {
                  text: "Пароль *"
                }
              }
            } %}

            {% include "../../@atoms/form_control/form_control.twig" with {
              form_control: {
                name: "ur_registration_password_repeat",
                class: "form-control--col",
                input: {
                  type: "password",
                  placeholder: "Повторите пароль",
                  name: "ur_password_repeat",
                  attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-equals='#ur_registration_password_default' data-pristine-equals-message='Пароли не совпадают' required"
                },
                label: {
                  text: "Повторите пароль *"
                }
              }
            } %}
          </div>

          <div class="form-block__checkboxes">
            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "check_ur_policy",
                  input: {
                    type: "checkbox",
                    name: "check_ur_policy",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked required"
                  },
                  label: {
                    text: "Я подтверждаю свое совершеннолетие и соглашаюсь с условиями <a class='btn btn--link' href='#'>Политики обработки персональных данных</a>"
                  }
                }
              } %}
            </div>

            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "check_ur_user_agreement",
                  input: {
                    type: "checkbox",
                    name: "check_ur_user_agreement",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked required"
                  },
                  label: {
                    text: "Я подтверждаю свое совершеннолетие и соглашаюсь с условиями <a class='btn btn--link' href='#'>Пользовательского соглашения</a>"
                  }
                }
              } %}
            </div>

            <div class="form-control form-control--checkbox">
              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  view: "check",
                  class: "form-block__checkbox",
                  name: "ur_check_info_discount",
                  input: {
                    type: "checkbox",
                    name: "ur_check_info_discount",
                    attrs: "data-pristine-required-message='Чекбокс не отмечен' checked"
                  },
                  label: {
                    text: "Я соглашаюсь с получением информации по скидкам и акциям"
                  }
                }
              } %}
            </div>
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary form-block__btn",
              text: {
                text: "Зарегистрироваться"
              },
            }
          } %}
        </form>

        <div class="form-block__footer">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              text: {
                text: "Войти"
              },
              attrs: "data-dialog='auth'"
            }
          } %} в личный кабинет
        </div>
      </sl-tab-panel>
    </sl-tab-group>
  {% elseif form_block.type == 'review_company' %}
    <form action="/" method="get" class="form-block__form validation-form">
      <div class="form-block__controls">
        <div class="form-control form-control--col">
          <div class="form-control__label">
            Оценка компании *
          </div>
          <sl-rating class="rating-block" label="Рейтинг" value="1"></sl-rating>
          <input type="hidden" name="rating_company_review" value="1">
        </div>

        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "company_advantages",
            class: "form-control--col",
            input: {
              placeholder: "Введите плюсы компании",
              name: "company_advantages",
            },
            label: {
              text: "Преимущества компании"
            }
          }
        } %}

        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            name: "company_disadvantages",
            class: "form-control--col",
            input: {
              placeholder: "Введите минусы компании",
              name: "company_disadvantages",
            },
            label: {
              text: "Недостатки компании"
            }
          }
        } %}

        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            view: "textarea",
            class: "form-control--col",
            name: "review_company_comment",
            input: {
              class: "form-block__textarea",
              placeholder: "Введите ваш отзыв",
              name: "review_comment",
              attrs: "rows='6' maxlength='500'"
            },
            label: {
              text: "Ваш отзыв"
            }
          }
        } %}
      </div>

      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "btn--btn btn--primary form-block__btn",
          text: {
            text: "Отправить"
          },
        }
      } %}
    </form>
  {% elseif form_block.type == 'review_product' %}
    <div class="form-block-review__wrap">
      <form action="/" method="get" class="form-block__form form-block-review__form validation-form">
        <div class="form-block__controls">
          <div class="form-control form-control--col">
            <div class="form-control__label">
              Оценка товара *
            </div>
            <sl-rating class="rating-block" label="Рейтинг" value="1"></sl-rating>
            <input type="hidden" name="rating_product_review" value="1">
          </div>

          {% include "../../@atoms/form_control/form_control.twig" with {
            form_control: {
              name: "product_advantages",
              class: "form-control--col",
              input: {
                placeholder: "Введите плюсы товара",
                name: "product_advantages",
              },
              label: {
                text: "Плюсы товара"
              }
            }
          } %}

          {% include "../../@atoms/form_control/form_control.twig" with {
            form_control: {
              name: "product_disadvantages",
              class: "form-control--col",
              input: {
                placeholder: "Введите минусы товара",
                name: "product_disadvantages",
              },
              label: {
                text: "Минусы товара"
              }
            }
          } %}

          {% include "../../@atoms/form_control/form_control.twig" with {
            form_control: {
              view: "textarea",
              class: "form-control--col",
              name: "review_product_comment",
              input: {
                class: "form-block__textarea",
                placeholder: "Введите ваш отзыв на товар",
                name: "review_product_comment",
                attrs: "rows='6' maxlength='500'"
              },
              label: {
                text: "Ваш отзыв на товар"
              }
            }
          } %}
        </div>

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--primary form-block__btn",
            text: {
              text: "Отправить"
            },
          }
        } %}
      </form>

      {% include "../../^molecules/product_card/product_card.twig" with {
        product_card: {
          class: "form-block-review__card",
          image: {
            name: "product-card/01.png",
          },
          title: {
            level: 2,
            text: "Вино Grand Elevage Vieilles Vignes Arbois AOC Domaine",
          },
          price: {
            current: "7 378 ₽",
          },
          rating: {
            href: "#",
            text: {
              text: "<span class='visually-hidden'>Рейтинг:</span>4.6"
            }
          },
          tags: {
            percent: {
              text: "-35%"
            },
            volume: {
              type: "with_round",
              class: "tag--volume tag--type-red",
              text: "0.75л"
            }
          }
        }
      } %}
    </div>
  {% endif %}
</div>