.order-card {
  --padding-right-left: #{rem(32)};

  display: grid;
  row-gap: rem(20);
  padding: rem(25) var(--padding-right-left) rem(32);
  border-radius: var(--bdrs15);
  border: rem(1) solid var(--pallette-seashell);
  background-color: var(--pallette-white);

  @include media('1200', max) {
    --padding-right-left: #{rem(16)};

    padding: rem(19) var(--padding-right-left) rem(16);
  }

  &__title {
    @include font-size(20, 27);
    font-weight: 600;

    @include media('600', max) {
      @include font-size(16, 24);
    }
  }

  &__center {
    display: grid;
    row-gap: rem(10);
    width: calc(100% + var(--padding-right-left) * 2);
    margin-left: calc(var(--padding-right-left) * -1);
    padding: rem(16) var(--padding-right-left) rem(20);
    border: rem(1) solid var(--pallette-seashell);
    border-left: 0;
    border-right: 0;

    @include media('600', max) {
      row-gap: rem(8);
    }
  }

  &__titles,
  &__discount {
    @include flex-between;
    gap: rem(10);
    flex-wrap: wrap;

    @include media('600', max) {
      @include font-size(14, 21);
    }

    &-text {
      font-weight: 600;
    }
  }

  &__discount {
    color: var(--pallette-international-orange);
  }

  &__footer {
    display: grid;
    row-gap: rem(24);

    @include media('600', max) {
      row-gap: rem(16);
    }

    &-item {
      @include flex-between;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: rem(10);
    }
  }

  &__total {
    &-num {
      @include font-size(32, 44);
      font-weight: 700;

      @include media('600', max) {
        @include font-size(20, 28);
      }
    }

    &-text {
      &--big {
        @include font-size(32, 44);
        font-weight: 700;

        @include media('600', max) {
          @include font-size(20, 28);
        }
      }

      &--small {
        @include font-size(14, 19);
        font-weight: 600;
        color: var(--pallette-silver);

        @include media('600', max) {
          @include font-size(12, 18);
        }
      }
    }
  }
}
