.brand-card {
  $this: &;

  @include flex-center-column;
  row-gap: rem(46);
  position: relative;
  padding: rem(59) rem(10) rem(32);
  border-radius: var(--bdrs15);
  border: rem(1) solid var(--pallette-seashell);

  @include media('600', max) {
    row-gap: rem(20);
    padding: rem(40) rem(10);
  }

  @media (hover: hover) {
    #{$this}__title {
      &:hover {
        color: var(--pallette-international-orange);
      }
    }
  }

  &__title {
    @include font-size(18, 27);
    font-weight: 600;
    transition: color var(--transition300ms);

    @include media('600', max) {
      @include font-size(16, 24);
    }
  }
}
