.category-products {
  overflow-x: hidden;

  &__slider {
    @include media('600', max) {
      padding-left: var(--container-padding);
    }

    &:not(.swiper-initialized) {
      > .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(#{rem(393)}, 1fr));
        gap: rem(10);

        @include media('600', max) {
          display: block;

          > * {
            &:not(:last-child) {
              margin-bottom: rem(10);
            }
          }
        }
      }
    }

    &-slide {
      height: auto;
    }
  }

  &__container {
    @include media('600', max) {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
    }
  }

  &__section-header {
    padding: 0 var(--container-padding);
  }
}
