<section class="section category-products {{ category_products.class }}">
  <div class="container category-products__container">
    {% include "../../^molecules/section_header/section_header.twig" with {
      section_header: category_products.section_header
    } %}

    <div class="swiper category-products__slider">
      <div class="swiper-wrapper">
        {% for item in category_products.content.items %}
          <div class="swiper-slide category-products__slider-slide">
            {% include "../../^molecules/category_card/category_card.twig" with {
              category_card: item
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>