<div class="search-order-card">
  <div class="search-order-card__left">
    {% include "../../@atoms/title/title.twig" with {
      title: {
        class: "search-order-card__title",
        level: 2,
        text: "Заказ №365 от 14.09.2023г.",
        link: true
      }
    } %}

    <div class="status status--in-process">
      В обработке
    </div>
  </div>
  <div class="search-order-card__right">
    <div class="search-order-card__price">
      <div class="search-order-card__price-text">
        Итого со скидкой
      </div>

      {% include "../../@atoms/price_info/price_info.twig" with {
        price_info: {
          current: "10 080 ₽"
        }
      } %}
    </div>

    {% include "../../@atoms/button/button.twig" with {
      button: {
        class: "btn--btn search-order-card__btn",
        href: "#link",
        text: {
          text: "Посмотреть счет"
        }
      }
    } %}
  </div>
</div>