.search-order-card {
  $this: &;

  @include flex-center-between;

  position: relative;
  padding: rem(10) rem(20);
  border-radius: var(--bdrs15);
  border: rem(1) solid var(--pallette-seashell);

  @media (hover: hover) {
    &:hover {
      #{$this}__title {
        color: var(--pallette-international-orange);
      }
    }
  }

  &__left {
    @include flex-center-y;

    column-gap: rem(24);
  }

  &__right {
    @include flex-center-y;

    column-gap: rem(36);
  }

  &__title {
    @include font-size(20, 30);

    font-weight: 600;
    transition: color var(--transition300ms);
  }

  &__price {
    &-text {
      @include font-size(14, 21);

      font-weight: 600;
      color: var(--pallette-silver);
    }
  }

  &__btn {
    @include font-size(14, 19);

    position: relative;
    font-weight: 600;
    color: var(--pallette-biscay);
    background-color: var(--pallette-athens-gray);
  }
}
