.breadcrumbs {
  margin-top: rem(16);

  @include media('600', max) {
    margin-top: rem(12);
  }

  &__list {
    @include font-size(14, 19);
    @include flex-center-y;

    flex-wrap: wrap;
    row-gap: rem(3);
  }

  &__btn {
    @include flex-center-y;

    &::after {
      margin: 0 rem(8);
      width: rem(4);
      height: rem(4);
      background-color: var(--pallette-international-orange);
      border-radius: 50%;
      content: '';
    }
  }

  [aria-current='page'] {
    color: var(--pallette-alto);
  }
}
