.burger-menu {
  $this: &;

  --size: #{rem(447)};
  --sl-z-index-drawer: 10;

  @include media('1200', max) {
    --size: 100%;
  }

  &::part(base) {
    top: var(--header-size);
  }

  &::part(overlay) {
    top: inherit;
    background-color: rgba(var(--pallette-black-rgb), 0.2);
  }

  &::part(panel) {
    // * todo: разобраться, почему без этих двух свойств происходит странный баг с поиском
    position: fixed;
    top: inherit;
    box-shadow: none;
  }

  &::part(body) {
    padding: rem(28) 0 rem(32);

    @include media('1200', max) {
      padding: 0 0 rem(96);
    }
  }

  &__container {
    @include flex-between;

    gap: rem(20);

    @include media('1200', max) {
      flex-direction: column;
      padding: 0;
      gap: 0;
    }
  }

  &__btns {
    display: flex;
    border-bottom: rem(1) solid var(--pallette-athens-gray-2);

    @include media('1201', min) {
      display: none;
    }
  }

  &__auth-btn {
    @include font-size(16, 24);

    font-weight: 600;
    color: var(--pallette-biscay);
    width: 50%;
    padding: rem(18);

    &:first-child {
      border-right: rem(1) solid var(--pallette-athens-gray-2);
    }
  }

  &__section {
    display: flex;
    column-gap: rem(120);

    @include media('1200', max) {
      &:not(#{$this}__section--menu) {
        padding: rem(16) rem(20);
        border-bottom: rem(1) solid var(--pallette-athens-gray-2);
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    &--menu {
      #{$this}__title {
        @include media('1200', max) {
          display: none;
        }
      }

      #{$this}__item {
        @include media('1200', max) {
          @include flex-center-between;

          padding: rem(16);
          border-bottom: rem(1) solid var(--pallette-athens-gray-2);
        }
      }

      #{$this}__list {
        @include media('1200', max) {
          row-gap: 0;
        }
      }

      #{$this}__link {
        @include media('1200', max) {
          font-weight: 600;
        }
      }
    }

    @include media('1400', max) {
      column-gap: rem(60);
    }

    @include media('1200', max) {
      flex-direction: column;
    }
  }

  &__col {
    &--last {
      @include flex-column;

      row-gap: rem(45);

      @include media('1200', max) {
        row-gap: rem(32);
      }

      #{$this}__title {
        @include font-size(16, 24);
      }
    }
  }

  &__title {
    @include font-size(18, 27);

    font-weight: 600;
    margin-bottom: rem(12);
  }

  &__list {
    @include font-size(16, 24);

    display: grid;
    row-gap: rem(12);
  }

  &__link {
    text-align: left;
  }

  &__btn {
    min-width: rem(265);

    &:not(:last-child) {
      margin-bottom: rem(12);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-white);
        background-color: var(--pallette-international-orange);
      }
    }
  }

  &__toggle {
    display: flex;
    color: var(--pallette-silver);

    @include media('1201', min) {
      display: none;
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: currentcolor;
    }
  }

  &__item {
    &--menu {
      @include flex-center-between;
    }
  }

  &__town {
    @include flex-center-between;

    padding: rem(16);
    border-bottom: rem(1) solid var(--pallette-athens-gray-2);
    font-weight: 600;
    color: var(--pallette-biscay);

    @include media('1201', min) {
      display: none;
    }

    #{$this}__toggle {
      color: inherit;
    }
  }

  &__user-link {
    @include flex-center-between;

    padding: rem(16);
    font-weight: 600;
    color: var(--pallette-biscay);
    border-bottom: rem(1) solid var(--pallette-athens-gray-2);

    @include media('1201', min) {
      display: none;
    }

    #{$this}__toggle {
      color: inherit;
    }
  }
}
