<section class="about-content section">
  <div class="container">
    {% include "../../@atoms/title/title.twig" with {
      title: {
        level: 2,
        class: "about-content__title",
        text: "В 2023 году мы запустили первый в России алкогольный маркетплейс Vintegra.ru, с единственной на сегодня легальной доставкой — это уникальный сервис, который позволяет нашим клиентам, получать качественную продукцию по честным ценам"
      }
    } %}

    <div class="about-content__grid">
      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-content/01.png",
          class: "about-content__img",
          sizes: {
            width: 815,
            height: 560
          },
          alt: ""
        }
      } %}

      <div class="about-content__info">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 3,
            class: "about-content__info-title",
            text: "Наш ассортимент"
          }
        } %}

        <div class="about-content__info-text">
          <p>
            В нашем портфеле тщательно подобран ассортимент импортных игристых, шампанских, тихих вин и крепкого алкоголя.
          </p>
          <p>
            Более >2000 наименований алкогольных напитков со всего мира, представленных всеми известными зарубежными и отечественными брендами.
          </p>
          <p>
            А также внушительный список алкоголя разрешенного к параллельному импорту
          </p>
        </div>

        <div class="about-content__info-btns">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--tertiary about-content__info-btn",
              text: {
                text: "Перейти в каталог"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--tertiary about-content__info-btn",
              text: {
                text: "Перейти к брендам"
              }
            }
          } %}
        </div>
      </div>

      <div class="about-content__info about-content__info--secondary">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 3,
            class: "about-content__info-title",
            text: "История и партнеры"
          }
        } %}

        <div class="about-content__info-text">
          <p>
            Компания основана 1997 году и более 25 лет является крупным поставщиком и надежном партнером для тысяч партнеров в РФ и зарубежом.
          </p>
          <p>
            Торговая марка Alliance Vintegra — российский бренд алкогольной продукции, представленный разнообразием отечественного производства и множеством мировых вкусов. Продукция Alliance Vintegra производится на ведущих зарубежных и российских заводах с использованием новейших технологий по лучшим традициям.
          </p>
        </div>

        <div class="about-content__info-btns">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--quinary about-content__info-btn",
              text: {
                text: "Перейти к партнерам"
              }
            }
          } %}
        </div>
      </div>

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-content/02.png",
          class: "about-content__img",
          sizes: {
            width: 815,
            height: 560
          },
          alt: ""
        }
      } %}

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-content/03.png",
          class: "about-content__img",
          sizes: {
            width: 815,
            height: 560
          },
          alt: ""
        }
      } %}

      <div class="about-content__info">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 3,
            class: "about-content__info-title",
            text: "Обратная связь и контакты"
          }
        } %}

        <div class="about-content__properties">
          <div class="about-content__property">
            Телефон:
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "tel:+74957888860",
                class: "btn--link",
                text: {
                  text: "+7 (495) 788-88-60"
                }
              }
            } %}
          </div>
          <div class="about-content__property">
            Сайт:
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "www.vintegra.ru "
                }
              }
            } %}
          </div>
          <div class="about-content__property">
            E-mail:
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "mailto:info@vintegra.ru",
                class: "btn--link",
                text: {
                  text: "info@vintegra.ru"
                }
              }
            } %}
          </div>
          <div class="about-content__property">
            Офис: Москва Сормовский проезд, д.11/2 vintegra.ru
          </div>
        </div>

        <div class="about-content__info-btns">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--tertiary about-content__info-btn",
              text: {
                text: "Перейти к контактам"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--tertiary about-content__info-btn",
              text: {
                text: "Обратная связь"
              }
            }
          } %}
        </div>
      </div>

      <div class="about-content__info about-content__info--secondary">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 3,
            class: "about-content__info-title",
            text: "Социальные сети"
          }
        } %}

        <div class="about-content__info-text">
          <p>
            Присоединяйтесь к нашему онлайн-сообществу и будьте в курсе всех новостей, акций и специальных предложений! Подписывайтесь на наши социальные сети и получайте эксклюзивные преимущества, которые доступны только подписчикам. У нас вы найдете множество полезной информации, интересных статей, обзоров товаров и многое другое. Будьте вместе с нами и не пропустите ни одного шанса сэкономить или получить что-то особенное. Присоединяйтесь к нашему сообществу уже сегодня и будьте в курсе самых горячих новинок и трендов!
          </p>
        </div>

        {% include "../../@atoms/socials/socials.twig" with {
          socials: {
            class: "about-content__info-socials",
            items: [{
              attrs: "aria-label='Инстаграм'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#instagram"
              }
            }, {
              attrs: "aria-label='Ютуб'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#youtube"
              }
            }, {
              attrs: "aria-label='Вконтакте'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#vk"
              }
            }, {
              attrs: "aria-label='Фейсбук'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#fb"
              }
            }]
          }
        } %}
      </div>

      {% include "../../@atoms/image/image.twig" with {
        image: {
          name: "about-content/04.png",
          class: "about-content__img",
          sizes: {
            width: 815,
            height: 560
          },
          alt: ""
        }
      } %}
    </div>
  </div>
</section>