.catalog {
  $this: &;

  &--list {
    #{$this}__list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .product-card {
      display: grid;
      grid-template-columns: 33% minmax(0, 1fr);
      background-color: var(--pallette-white);
      border: rem(1) solid var(--pallette-athens-gray);
      border-radius: var(--bdrs15);

      &__header {
        border-radius: var(--bdrs15);
      }

      &__rating {
        &--tile-card {
          display: none;
        }

        &--list-card {
          display: inline-flex;
          margin-bottom: rem(12);
        }
      }

      &__text {
        margin-bottom: rem(16);
      }

      &__slider {
        height: 100%;
      }

      &__list {
        display: grid;
        row-gap: rem(12);

        @include media('900', max) {
          display: none;
        }
      }

      &__body {
        flex-direction: row;
        justify-content: space-between;
        padding: rem(20);
        column-gap: rem(20);
        border-radius: 0;
        box-shadow: none;
        border: none;
        background-color: transparent;

        @include media('900', max) {
          padding: rem(16);
        }

        &-start {
          width: 43%;
        }

        &-end {
          padding: rem(22) rem(33) rem(33);
          margin-top: unset;
          align-self: flex-start;
          border: rem(1) solid var(--pallette-athens-gray);
          border-radius: var(--bdrs15);
          flex-grow: 1;

          @include media('900', max) {
            padding: rem(16);
          }
        }
      }

      &__price {
        margin-bottom: rem(24);
      }

      &__inner {
        @include media('900', max) {
          flex-direction: column;
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 25% minmax(0, 1fr);
    gap: rem(10) rem(32);

    @include media('1200', max) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__filter {
    position: sticky;
    top: rem(90);
    z-index: 1;
    align-self: start;

    @include media('1200', max) {
      position: fixed;
      inset: 0;
      z-index: 100;
      padding: rem(16);
      transform: translateX(-100%);
      background-color: var(--pallette-white);
      overflow-y: auto;
      overflow-x: hidden;
      visibility: hidden;
      transition: all var(--transition300ms);

      &.active {
        transform: translateX(0);
        visibility: visible;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(10);
    margin-bottom: rem(60);

    @include media('1400', max) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: rem(32);
    }
  }

  &__cards {
    opacity: 0.999;

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include media('1400', max) {
        flex-direction: column;
      }
    }

    &-more {
      margin-right: rem(141);
      min-width: rem(322);

      @include media('1400', max) {
        margin-right: 0;
        margin-bottom: rem(24);
        width: 100%;
        min-width: unset;
      }
    }
  }
}
