.dialog {
  --width: #{rem(560)};

  &::part(panel) {
    border-radius: var(--bdrs15);
    border: rem(1) solid var(--pallette-athens-gray-2);
    box-shadow: none;
  }

  &::part(body) {
    padding: 0;

    // * todo: разобраться со стилизацией скролла
  }

  &--review-product {
    --width: #{rem(1011)};
  }

  &--age-confirm {
    &::part(panel) {
      border: 0;
      background-color: transparent;
    }
  }
}
