.pagination {
  $this: &;

  @include flex-center-y;
  column-gap: rem(32);

  &__toggle {
    @include flex-center;
    width: rem(48);
    height: rem(48);
    color: var(--pallette-mercury);
    border: rem(1) solid currentColor;
    border-radius: 50%;

    @media (hover: hover) {
      &:hover {
        &:not([disabled]) {
          border-color: var(--pallette-international-orange);
        }
      }
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: var(--pallette-gray);
    }

    &[disabled] {
      cursor: default;

      #{$this}__toggle-icon {
        fill: currentColor;
      }
    }
  }

  &__list {
    display: flex;
    gap: rem(8);

    @include media('600', max) {
      flex-wrap: wrap;
      gap: rem(10);
    }
  }

  &__btn {
    @include flex-center;
    @include font-size(14, 19);
    font-weight: 600;
    min-width: rem(60);
    min-height: rem(60);
    padding: rem(5);
    border: rem(1) solid var(--pallette-athens-gray-2);
    border-radius: var(--bdrs10);

    @media (hover: hover) {
      &:hover {
        &:not([aria-current="page"]) {
          border-color: var(--pallette-international-orange);
        }
      }
    }

    &[aria-current="page"] {
      border-color: var(--pallette-biscay);
      border-width: rem(2);
      cursor: default;
      font-weight: 700;
      color: var(--pallette-biscay);
    }
  }
}
