.tooltip {
  @include font-size(12, 16);

  font-weight: 400;
  position: absolute;
  z-index: 1;
  width: rem(252);
  padding: rem(10) rem(10) rem(10) rem(34);
  border-radius: var(--bdrs10);
  background-color: var(--pallette-white);
  box-shadow: 0 rem(4) rem(20) rgba(30, 61, 101, 0.06);
  background-image: url('../assets/images/icons/info-circle-gray.svg');
  background-repeat: no-repeat;
  background-position: left rem(10) center;
}
