.sidebar {
  $this: &;

  @include flex-column;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: var(--portal-sidebar-size, #{rem(320)});
  grid-area: sidebar;
  color: var(--pallette-white);
  background-color: var(--pallette-biscay);

  &__header {
    @include flex-center-between;
    padding: rem(22) rem(24) rem(22) rem(32);
    border-bottom: rem(1) solid rgba(var(--pallette-white-rgb), 0.1);
  }

  &__burger {
    display: flex;

    &.active {
      #{$this}__burger-icon {
        &--close {
          display: block;
        }

        &--menu {
          display: none;
        }
      }
    }

    &-icon {
      width: rem(25);
      height: rem(25);

      &--close {
        display: none;
        fill: currentColor;
      }
    }
  }

  &__list {
    @include flex-column;
    row-gap: rem(6);
  }

  &__btn {
    @include flex-center-y;
    @include font-size(16, 24);
    padding: rem(13) rem(16);
    column-gap: rem(12);
    border-radius: var(--bdrs8);

    @media (hover: hover) {
      &:hover {
        background-color: var(--pallette-san-juan);
      }
    }

    &[aria-current="true"] {
      background-color: var(--pallette-san-juan);
    }
  }

  &__icon {
    width: rem(20);
    height: rem(20);
    fill: currentColor;
  }

  &__body {
    padding: rem(19) rem(16);
  }

  &__footer {
    padding: 0 rem(32) rem(20);
    margin-top: auto;
  }

  &__time {
    font-weight: 600;
    margin-bottom: rem(4);
  }

  &__phone {
    @include font-size(24, 36);
    font-weight: 600;
    display: block;
    margin-bottom: rem(8);
  }

  &__mail {
    display: block;
    margin-bottom: rem(20);
    text-decoration: underline;
    text-underline-offset: rem(2);
  }

  &__copyright {
    @include font-size(14, 21);
    color: var(--pallette-alto);
  }
}
