<footer class="footer">
  <div class="footer__top">
    <div class="container footer__grid">
      <div class="footer__block footer__block--1">
        {% include "../../@atoms/logo/logo.twig" with {
          logo: {
            type: "footer",
            class: "footer__logo"
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "tel:+74997540910",
            class: "btn--link footer__phone",
            text: {
              text: "+7 (499) 754-09-10"
            }
          }
        } %}

        <div class="footer__timetable">
          с 09:00 до 18:00 по будням
        </div>

        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "mailto:info@vintegra.ru",
            class: "btn--link footer__mail",
            text: {
              text: "info@vintegra.ru"
            }
          }
        } %}

        {% include "../../@atoms/socials/socials.twig" with {
          socials: {
            class: "footer__socials",
            text: "Мы в социальных сетях",
            items: [{
              attrs: "aria-label='Инстаграм'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#instagram"
              }
            }, {
              attrs: "aria-label='Ютуб'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#youtube"
              }
            }, {
              attrs: "aria-label='Вконтакте'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#vk"
              }
            }, {
              attrs: "aria-label='Фейсбук'",
              icon: {
                class: "socials__icon",
                name: "sprite-mono.svg#fb"
              }
            }]
          }
        } %}
      </div>
      <section class="footer__block footer__block--2">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 2,
            class: "footer__title",
            text: "Каталог"
          }
        } %}

        <ul class="footer__list">
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Вино",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Игристое вино",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Винный напиток",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Ликер",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Виски",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Текила",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Коньяк",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Водка",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Пиво",
                }
              }
            } %}
          </li>
        </ul>
      </section>
      <section class="footer__block footer__block--3">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 2,
            class: "footer__title",
            text: "О Vintegra"
          }
        } %}

        <ul class="footer__list">
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "О компании",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Новости",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Статьи",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Контакты",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Пункты выдачи заказов",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Бренды",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Партнеры",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Отзывы",
                }
              }
            } %}
          </li>
        </ul>
      </section>
      <section class="footer__block footer__block--4">
        {% include "../../@atoms/title/title.twig" with {
          title: {
            level: 2,
            class: "footer__title",
            text: "Покупателям"
          }
        } %}

        <ul class="footer__list">
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Корпоративным клиентам",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Программа лояльности",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Калькулятор",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Обратная связь",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Акционные предложения",
                }
              }
            } %}
          </li>
          <li class="footer__item">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "btn--link",
                text: {
                  text: "Вопрос-ответ",
                }
              }
            } %}
          </li>
        </ul>
      </section>
      <section class="footer__block footer__block--5">
        <div class="footer__consultation">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "footer__title",
              text: "Получить консультацию"
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--secondary footer__block-btn",
              text: {
                text: "Обратная связь"
              }
            }
          } %}
        </div>
        <div class="footer__mobile-app">
          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "footer__title",
              text: "Наше мобильное приложение"
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--secondary footer__block-btn",
              text: {
                text: "Скачать в Google Play"
              },
              icon: {
                name: "sprite-mono.svg#google-play"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--secondary footer__block-btn",
              text: {
                text: "Скачать в App Store"
              },
              icon: {
                name: "sprite-mono.svg#app-store"
              }
            }
          } %}
        </div>
      </section>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__container">
      <div class="footer__copyright">
        <small>
          Copyright © Vintegra 2023
        </small>
      </div>
      <div class="footer__links">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "#",
            class: "btn--link",
            text: {
              text: "Карта сайта"
            }
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            href: "#",
            class: "btn--link",
            text: {
              text: "Политика обработки персональных данных"
            }
          }
        } %}
      </div>
    </div>
  </div>
</footer>