{% set items = [{
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: {
      href: "/stores/?point=123"
    }
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/01.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}, {
  image: {
    name: "sales-rep-card/02.png",
    class: "sales-rep-card__image",
    alt: "",
    sizes: {
      width: 815,
      height: 350
    }
  },
  title: {
    level: 2,
    class: "sales-rep-card__title",
    text: "Название пункта выдачи заказов",
    link: true,
  }
}] %}

<div class="sales-rep-grid section js-toggle-group-block">
  <div class="container sales-rep-grid__container">
    <div class="toggle-group sales-rep-grid__toggle-group" role="group" aria-label="Переключение вариантов выбора торговых предствителей">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "toggle-group__btn js-toggle-group-block__btn",
          text: {
            text: "Список"
          },
          attrs: "aria-pressed='true' type='button'"
        }
      } %}

      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "toggle-group__btn js-toggle-group-block__btn",
          text: {
            text: "Карта"
          },
          attrs: "aria-pressed='false' type='button'"
        }
      } %}
    </div>

    <div class="sales-rep-grid__search">
      {% include "../../&organisms/search_box/search_box.twig" with {
        search_box: {
          class: "search-box--secondary search-box--tertiary",
          num_product_result: "Найдено 0 пунктов выдачи заказов",
          placeholder: "Введите ваш поисковый запрос",
          num_product_result_mobile: "Найдено 0 пунктов выдачи заказов",
        }
      } %}
    </div>

    {% include "../../@atoms/form_control/form_control.twig" with {
      form_control: {
        view: "select",
        select: {
          label: "Город:",
          class: "sales-rep-grid__select",
          initial_value: "option-1",
          options: [{
            value: "option-1",
            text: "Москва и МО"
          }, {
            value: "option-2",
            text: "Санкт-Петербург"
          }]
        }
      }
    } %}

    <noscript class="sales-rep-grid__select">
      <form action="/" method="get" class="no-js-form">
        <div class="select-wrapper">
          <select class="select select--no-js">
            <option value="option-1">Москва и МО</option>
            <option value="option-2">Санкт-Петербург</option>
          </select>
        </div>
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--link no-js-form__btn",
            text: {
              text: "Отсортировать"
            }
          }
        } %}
      </form>
    </noscript>

    <div class="sales-rep-grid__content">
      <div class="sales-rep-grid__content-block js-toggle-group-block__content">
        <ul class="sales-rep-grid__content-list">
          {% for item in items %}
            <li>
              {% include "../../^molecules/sales_rep_card/sales_rep_card.twig" with {
                sales_rep_card: item
              } %}
            </li>
          {% endfor %}
        </ul>

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--tertiary sales-rep-grid__more",
            text: {
              text: "Показать еще"
            }
          }
        } %}

        {% include "../../^molecules/pagination/pagination.twig" with {
          pagination: {
            class: "sales-rep-grid__pagination",
            items: [{
              href: "",
              text: {
                text: "1"
              },
              current_page: true
            }, {
              href: "#",
              text: {
                text: "2"
              }
            }, {
              href: "#",
              text: {
                text: "3"
              }
            }, {
              href: "#",
              text: {
                text: "..."
              }
            }, {
              href: "#",
              text: {
                text: "15"
              }
            }]
          }
        } %}
      </div>
      <div class="js-toggle-group-block__content" hidden>
        <div class="map sales-rep-grid__map" id="map_with_balloon" data-coordinates="59.938784, 30.314997"></div>
        <template id="balloon">
          <div class="balloon">
            <button class="btn balloon__close" aria-label="Закрыть"></button>

            <h2 class="balloon__title">$[properties.heading]</h2>

            <dl class="balloon__list">
              <div class="balloon__property">
                <div class="balloon__key">
                  Адрес:
                </div>
                <div class="balloon__value">
                  $[properties.address]
                </div>
              </div>
              <div class="balloon__property">
                <div class="balloon__key">
                  Телефон:
                </div>
                <div class="balloon__value">
                  <a class="btn btn--link" href="tel:+74997540910">
                    $[properties.phone]
                  </a>
                </div>
              </div>
              <div class="balloon__property">
                <div class="balloon__key">
                  Время работы:
                </div>
                <div class="balloon__value">
                  $[properties.schedule]
                </div>
              </div>
              <div class="balloon__property">
                <div class="balloon__key">
                  Станция метро:
                </div>
                <div class="balloon__value">
                  $[properties.metro]
                </div>
              </div>
            </dl>

            {# <button class="btn btn--btn btn--primary balloon__btn">Выбрать</button> #}
          </div>
        </template>
      </div>
    </div>
  </div>
</div>