.sales-rep-grid {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(40) rem(10);
    grid-template-areas:
      'toggle-group toggle-group search search search search search search search select select select'
      'content content content content content content content content content content content content';

    @include media('1400', max) {
      gap: rem(16) rem(10);
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'toggle-group toggle-group select select'
        'search search search search'
        'content content content content';
    }

    @include media('767', max) {
      grid-template-areas:
        'toggle-group toggle-group toggle-group toggle-group'
        'select select select select'
        'search search search search'
        'content content content content';
    }
  }

  &__search {
    grid-area: search;

    @include media('600', max) {
      margin-bottom: rem(8);
    }
  }

  &__select {
    grid-area: select;
    justify-self: end;

    @include media('767', max) {
      justify-self: start;
    }
  }

  &__content {
    grid-area: content;
  }

  &__content-list {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24) rem(10);

    @include media('767', max) {
      grid-template-columns: 1fr;
      gap: rem(10);
    }
  }

  &__content-block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'list list list list list list list list list list list list'
      '. . . . more more more more pagination pagination pagination pagination';
    gap: rem(56) rem(10);

    @include media('1400', max) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'list list list list'
        'more more more more'
        'pagination pagination pagination pagination';
      gap: rem(24) rem(10);
    }
  }

  &__more {
    grid-area: more;
    justify-self: center;
    min-width: rem(320);

    @include media('600', max) {
      min-width: unset;
      width: 100%;
      margin-top: rem(8);
    }
  }

  &__pagination {
    grid-area: pagination;
    justify-self: end;

    @include media('1400', max) {
      justify-self: center;
    }
  }

  &__toggle-group {
    grid-area: toggle-group;
    width: max-content;

    @include media('600', max) {
      margin-bottom: rem(4);
    }
  }

  &__map {
    height: rem(686);

    @include media('600', max) {
      height: rem(700);
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
    }
  }
}
