<div class="page-top {{ page_top.class }}">
  <div class="container">
    {% if page_top.search_result %}
      <div class="page-top__search-result">
        По запросу {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--link",
            text: {
              text: "«Грузинское вино»"
            }
          }
        } %} мы нашли (1500):
      </div>
    {% endif %}

    {% if page_top.prev_btn %}
      {% include "../../@atoms/button/button.twig" with {
        button: page_top.prev_btn|default({})|merge({
          href: "#",
          class: "btn--arrow btn--link page-top__prev-btn",
          icon: {
            name: "sprite-mono.svg#arrow-prev"
          }
        })
      } %}
    {% endif %}

    {% if page_top.grid %}
      <div class="page-top__grid">
        <div class="page-top__banner">
          {% include "../../@atoms/title/title.twig" with {
            title: page_top.title|default({})|merge({
              class: "page-top__title"
            })
          } %}

          {% if page_top.grid.list %}
            <div class="page-top__list">
              <div class="page-top__list-item">
                Красные вина Франции
              </div>
              <div class="page-top__list-item">
                Сухие итальянские вина
              </div>
              <div class="page-top__list-item">
                Полусухие вина Италии
              </div>
            </div>
          {% endif %}

          {% if page_top.grid.btn %}
            {% include "../../@atoms/button/button.twig" with {
              button: page_top.grid.btn
            } %}
          {% endif %}
        </div>

        {% if page_top.grid.btn %}
          {% include "../../@atoms/button/button.twig" with {
            button: page_top.grid.btn|default({})|merge({
              class: "btn--btn btn--secondary page-top__banner-btn-mobile"
            })
          } %}
        {% endif %}

        {% if page_top.grid.attention %}
          <div class="page-top__attention">
            Внимание! Мы законопослушны и, следуя действующему законодательству и рекомендациям Росалкогольрегулирования от 25.06.18, уведомляем, что размещенная на нашем «сайте-витрине» продукция не подлежит реализации дистанционным способом и может быть приобретена непосредственно в наших магазинах.
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if page_top.smartfiltres %}
      <div class="page-top__smartfiltres">
        <div class="page-top__smartfiltres-start">
          <div class="form-check-btn">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "form-check-btn__label",
                text: {
                  text: "Российские вина"
                }
              }
            } %}
          </div>

          <div class="form-check-btn">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "form-check-btn__label",
                text: {
                  text: "Вина до 1000 руб."
                },
                attrs: "aria-current='true'"
              }
            } %}
          </div>

          <div class="form-check-btn">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "form-check-btn__label",
                text: {
                  text: "Грузинские вина"
                }
              }
            } %}
          </div>
        </div>
        <div class="page-top__smartfiltres-end">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "page-top__toggle",
              text: {
                text: "Добавленные товары"
              },
              right_icon: {
                wrap: {
                  class: "page-top__toggle-wrap-icon"
                },
                class: "page-top__toggle-icon",
                name: "sprite-mono.svg#arrow-down"
              },
            }
          } %}
        </div>
      </div>

      {% include "../../&organisms/basket_block/basket_block.twig" %}
    {% endif %}

    {% if page_top.sort_panel %}
      <div class="page-top__sort-panel">
        {% if page_top.sort_panel.select %}
          {% include "../../@atoms/form_control/form_control.twig" with {
            form_control: page_top.sort_panel.select
          } %}

          <noscript>
            <form class="no-js-form" action="/" method="get">
              <div class="select-wrapper">
                <select class="select select--no-js" name="sort">
                  <option value="option-1">По популярности</option>
                  <option value="option-2">Сначала дорогие</option>
                  <option value="option-3">Сначала дешевые</option>
                  <option value="option-4">По новизне</option>
                </select>
              </div>
              {% include "../../@atoms/button/button.twig" with {
                button: {
                  class: "btn--link no-js-form__btn",
                  text: {
                    text: "Отсортировать"
                  }
                }
              } %}
            </form>
          </noscript>
        {% endif %}

        {% if page_top.sort_panel.select2 %}
          {% include "../../@atoms/form_control/form_control.twig" with {
            form_control: page_top.sort_panel.select2
          } %}

          <noscript>
            <form class="no-js-form" action="/" method="get">
              <div class="select-wrapper">
                <select class="select select--no-js" name="sort_alcohol">
                  <option value="option-1">Вино</option>
                  <option value="option-2">Коньяк</option>
                  <option value="option-3">Виски</option>
                </select>
              </div>
              {% include "../../@atoms/button/button.twig" with {
                button: {
                  class: "btn--link no-js-form__btn",
                  text: {
                    text: "Отсортировать"
                  }
                }
              } %}
            </form>
          </noscript>
        {% endif %}

        {% if page_top.sort_panel.toggle_group %}
          <div class="toggle-group page-top__toggle-group" role="group" aria-label="Выбор новостей">
            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "toggle-group-block__btn page-top__toggle-btn",
                text: {
                  text: "Активные"
                },
                attrs: "aria-pressed='false' type='button'"
              }
            } %}

            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "toggle-group-block__btn page-top__toggle-btn",
                text: {
                  text: "Архивные"
                },
                attrs: "aria-pressed='true' type='button'"
              }
            } %}
          </div>
        {% endif %}

        {% if page_top.sort_panel.view %}
          <div class="page-top__view">
            <div class="page-top__view-text">
              Вид каталога:
            </div>

            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "page-top__view-toggler",
                text: {
                  text: "Плиткой"
                },
                icon: {
                  class: "page-top__view-icon",
                  name: "sprite-mono.svg#view-tile"
                },
                attrs: "disabled"
              }
            } %}

            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "page-top__view-toggler",
                text: {
                  text: "Списком"
                },
                icon: {
                  class: "page-top__view-icon",
                  name: "sprite-mono.svg#view-list"
                }
              }
            } %}
          </div>
        {% endif %}

        {% if page_top.sort_panel.view_portal %}
          <div class="page-top__view page-top__view-portal">
            <div class="page-top__view-text">
              Вид каталога:
            </div>

            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "page-top__view-portal-toggler",
                icon: {
                  class: "page-top__view-icon",
                  name: "sprite-mono.svg#view-tile"
                },
              }|default({})|merge(page_top.sort_panel.view_portal.tile)
            } %}

            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "page-top__view-portal-toggler",
                icon: {
                  class: "page-top__view-icon",
                  name: "sprite-mono.svg#view-list"
                },
              }|default({})|merge(page_top.sort_panel.view_portal.list)
            } %}

            {% include "../../@atoms/button/button.twig" with {
              button: {
                href: "#",
                class: "page-top__view-portal-toggler",
                svg_icon: '<svg class="page-top__view-icon page-top__view-icon--table" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="21" width="20" height="1" transform="rotate(-90 0.5 21)" fill="var(--view-table-icon-color)"/>
                  <rect x="5.5" y="21" width="20" height="1" transform="rotate(-90 5.5 21)" fill="var(--view-table-icon-color)"/>
                  <rect x="10.5" y="21" width="20" height="1" transform="rotate(-90 10.5 21)" fill="var(--view-table-icon-color)"/>
                  <rect x="15.5" y="21" width="20" height="1" transform="rotate(-90 15.5 21)" fill="var(--view-table-icon-color)"/>
                  <rect x="20.5" y="21" width="20" height="1" transform="rotate(-90 20.5 21)" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="0.5" width="20" height="1" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="5.5" width="20" height="1" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="10.5" width="20" height="1" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="15.5" width="20" height="1" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="20.5" width="20" height="1" fill="var(--view-table-icon-color)"/>
                  <rect x="1" y="1" width="20" height="20" stroke="var(--view-table-icon-color)"/>
                  </svg>
                '
              }|default({})|merge(page_top.sort_panel.view_portal.table)
            } %}
          </div>
        {% endif %}

        {% if page_top.sort_panel.pagination %}
          {% include "../../^molecules/pagination/pagination.twig" with {
            pagination: {
              class: "page-top__pagination",
              items: [{
                href: "",
                text: {
                  text: "1"
                },
                current_page: true
              }, {
                href: "#",
                text: {
                  text: "2"
                }
              }, {
                href: "#",
                text: {
                  text: "3"
                }
              }, {
                href: "#",
                text: {
                  text: "..."
                }
              }, {
                href: "#",
                text: {
                  text: "15"
                }
              }]
            }
          } %}
        {% endif %}

        {% if page_top.sort_panel.filter_btn %}
          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "page-top__filter-btn",
              text: {
                text: "Фильтры"
              },
              icon: {
                name: "sprite-mono.svg#filter"
              },
            }
          } %}
        {% endif %}

        {% if page_top.sort_panel.filter_btn_portal %}
          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "page-top__filter-btn-portal js-drawer-btn",
              text: {
                text: "Фильтр"
              },
              icon: {
                name: "sprite-mono.svg#filter"
              },
            }
          } %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>