.page-top {
  $this: &;

  margin-bottom: rem(40);

  @include media('600', max) {
    margin-bottom: rem(24);
  }

  &.basket-block-show {
    .basket-block {
      opacity: 1;
      visibility: visible;
      max-height: unset;
      padding-bottom: rem(40);
      margin-bottom: rem(56);
    }

    #{$this}__toggle-icon {
      transform: rotate(180deg);
    }
  }

  &--banner-stretched {
    #{$this}__banner {
      grid-column: 1 / -1;
    }
  }

  &--banner-title-and-btn {
    #{$this}__banner {
      grid-template-columns: auto 1fr;
    }
  }

  &__search-result {
    @include font-size(20, 30);

    font-weight: 600;
    margin-bottom: rem(32);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(10);
    margin-top: rem(32);

    @include media('1201', min) {
      grid-template-columns: repeat(12, 1fr);
    }

    @include media('1200', max) {
      margin-top: rem(16);
    }

    &:not(:last-child) {
      margin-bottom: rem(52);

      @include media('1200', max) {
        margin-bottom: rem(32);
      }
    }
  }

  &__banner {
    @include flex-center-between;

    flex-wrap: wrap;
    gap: rem(10) rem(20);
    min-height: rem(130);
    background-color: var(--pallette-biscay);
    border-radius: var(--bdrs10);
    color: var(--pallette-white);
    padding: rem(23) rem(33);
    background-image: url('../assets/images/page-top/decorative-element.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @include media('1201', min) {
      grid-column: span 8;
    }

    @include media('600', max) {
      padding: rem(21) rem(16);
      min-height: unset;
    }

    @include media('374', max) {
      padding: rem(16) rem(10);
      gap: rem(10);
    }

    &-btn {
      @include media('600', max) {
        display: none;
      }

      &-mobile {
        @include media('601', min) {
          display: none;
        }
      }
    }
  }

  &__title {
    @include flex-center-y;
    @include font-size(45, 61);

    flex-wrap: wrap;
    font-weight: 600;
    gap: rem(5) rem(20);

    @include media('600', max) {
      @include font-size(28, 42);

      column-gap: rem(8);
    }

    @include media('600', max) {
      display: block;
    }
  }

  &__list {
    @include font-size(14, 19);

    display: grid;
    row-gap: rem(12);
    font-weight: 600;

    @include media('600', max) {
      display: none;
    }

    &-item {
      @include flex-center-y;

      column-gap: rem(8);

      &::before {
        width: rem(18);
        height: rem(18);
        background-image: url('../assets/images/icons/bottle-wine.svg');
        background-repeat: no-repeat;
        content: '';
      }
    }
  }

  &__attention {
    @include font-size(14, 20);

    padding: rem(14) rem(15) rem(14) rem(50);
    color: var(--pallette-biscay);
    background-color: var(--pallette-athens-gray);
    border-radius: var(--bdrs10);
    background-image: url('../assets/images/icons/info-circle.svg');
    background-repeat: no-repeat;
    background-position: top rem(14) left rem(14);

    @include media('1201', min) {
      grid-column: span 4;
    }

    @include media('600', max) {
      margin-top: rem(22);
    }
  }

  &__sort-panel {
    @include flex-center-between;

    gap: rem(20) rem(36);
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__view,
  &__view-portal {
    @include flex-center-y;

    column-gap: rem(16);
    margin-left: auto;
    margin-right: rem(44);

    @include media('1600', max) {
      margin-right: 0;
    }

    @include media('1400', max) {
      margin-left: unset;
      column-gap: rem(10);
    }

    @include media('600', max) {
      display: none;
    }

    &-toggler {
      @include flex-center-column;
      @include font-size(10, 14);

      row-gap: rem(7);
      min-width: rem(60);
      min-height: rem(60);
      border-radius: var(--bdrs10);
      border: rem(1) solid var(--pallette-athens-gray-2);
      transition: border-color var(--transition300ms);

      &:disabled,
      &[aria-current='true'] {
        border-color: var(--pallette-biscay);
        border-width: rem(2);
        color: var(--pallette-biscay);
        cursor: default;

        #{$this}__view-icon {
          fill: var(--pallette-biscay);

          &--table {
            --view-table-icon-color: var(--pallette-biscay);

            fill: none;
          }
        }
      }

      &[aria-current='true'] {
        pointer-events: none;
        user-select: none;
      }

      @media (hover: hover) {
        &:hover {
          &:not(:disabled, [aria-current='true']) {
            border-color: var(--pallette-international-orange);
          }
        }
      }
    }

    &-text {
      @include font-size(14, 19);

      font-weight: 600;
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: var(--pallette-alto);

      &--table {
        --view-table-icon-color: var(--pallette-mercury);

        fill: none;
      }
    }
  }

  &__prev-btn {
    margin-top: rem(20);
    color: var(--pallette-biscay);

    @include media('600', max) {
      margin-top: rem(12);
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @include media('600', max) {
        margin-bottom: rem(16);
      }
    }
  }

  &__pagination {
    @include media('600', max) {
      display: none;
    }
  }

  &__filter-btn {
    @include flex-center;
    @include font-size(14, 21);

    font-weight: 600;
    color: var(--pallette-biscay);
    column-gap: rem(12);
    padding: rem(20) 0;
    width: 100%;
    border: rem(1) solid var(--pallette-athens-gray-2);
    border-right: 0;
    border-left: 0;

    .btn__icon {
      width: rem(20);
      height: rem(20);
      fill: currentcolor;
    }

    @include media('1201', min) {
      display: none;
    }
  }

  &__filter-btn-portal {
    @include flex-center-y;

    padding: rem(19) rem(69);
    font-weight: 600;
    column-gap: rem(10);
    color: var(--pallette-biscay);
    border: rem(1) solid currentcolor;
    border-radius: var(--bdrs10);

    .btn__icon {
      width: rem(20);
      height: rem(20);
      fill: currentcolor;
    }
  }

  &__smartfiltres {
    @include flex-center-between;

    gap: rem(10);
    margin-bottom: rem(30);

    &-start {
      display: flex;
      gap: rem(8);
      flex-wrap: wrap;
    }
  }

  &__toggle {
    @include font-size(18, 27);
    @include flex-center-y;

    column-gap: rem(10);
    font-weight: 600;
    color: var(--pallette-international-orange);

    &[disabled] {
      color: var(--pallette-alto);
      cursor: default;

      #{$this}__toggle-icon {
        fill: var(--pallette-mercury);
      }
    }

    &-wrap-icon {
      @include flex-center;

      width: rem(36);
      height: rem(36);
      border: rem(1) solid var(--pallette-mercury);
      border-radius: 50%;
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: var(--pallette-gray);
    }
  }
}
