.catalog-filter-drawer {
  --sl-overlay-background-color: rgba(57, 57, 57, 0.2);
  --padding: #{rem(24)};

  &::part(body) {
    padding: var(--padding);
  }

  .catalog-filter {
    &__item {
      &:first-child {
        border-top: 0;

        &::part(header) {
          padding-top: 0;
        }
      }
    }

    &__close {
      position: absolute;
      right: 0;
      display: flex;
      color: var(--pallette-gray);

      @include media('600', max) {
        right: rem(16);
        color: var(--pallette-mine-shaft);
      }

      &-icon {
        width: rem(20);
        height: rem(20);
        fill: currentcolor;

        @include media('600', max) {
          width: rem(15);
          height: rem(15);
        }
      }
    }
  }
}
