.product-card {
  $this: &;

  @include flex-column;
  position: relative;
  height: 100%;
  background-color: var(--pallette-white);
  border: rem(1) solid var(--pallette-seashell);
  border-radius: var(--bdrs15);

  &__header {
    @include flex-column;
    position: relative;
    padding: rem(16) rem(16) rem(4);
    background-color: var(--pallette-athens-gray);
    border-top-left-radius: var(--bdrs15);
    border-top-right-radius: var(--bdrs15);

    @include media('600', max) {
      padding: rem(24) rem(8) rem(4);
    }
  }

  &__body {
    @include flex-column;
    flex-grow: 1;
    padding: rem(24) rem(20) rem(20);

    @include media('600', max) {
      padding: rem(10) rem(8) rem(8);
    }

    &-end {
      margin-top: auto;
    }
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    gap: rem(4);
    margin-bottom: rem(10);

    @include media('600', max) {
      position: absolute;
      top: rem(8);
      flex-direction: column-reverse;
      margin-bottom: 0;
    }

    &-left {
      display: flex;
      flex-wrap: wrap;
      gap: rem(4) rem(8);

      @include media('600', max) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }

  &__tag {
    @include media('600', max) {
      @include font-size(10, 13);
    }
  }

  &__slider {
    row-gap: rem(42);

    img {
      height: rem(212);
      object-fit: contain;

      @include media('600', max) {
        height: rem(142);
      }
    }

    @include media('600', max) {
      row-gap: rem(16);
    }
  }

  &__rating {
    position: relative;
    z-index: 1;

    &--tile-card {
      @include font-size(12, 17);
      position: absolute;
      bottom: 0;
      z-index: 1;
      border-radius: var(--bdrs5) var(--bdrs5) 0 0;
      background-color: var(--pallette-white);

      @include media('600', max) {
        @include font-size(10, 13);
      }
    }

    &--list-card {
      display: none;
      margin-bottom: rem(15);
    }
  }

  &__title {
    @include font-size(18, 25);
    font-weight: 600;
    margin-bottom: rem(8);
    transition: color var(--transition300ms);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include media('600', max) {
      @include font-size(14, 21);
      margin-bottom: rem(2);
    }
  }

  &__text {
    @include font-size(14, 20);
    margin-bottom: rem(12);

    @include media('600', max) {
      @include font-size(12, 18);
      margin-bottom: rem(8);
    }
  }

  &__price {
    margin-bottom: rem(12);

    @include media('600', max) {
      margin-bottom: rem(15);
      column-gap: rem(8);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: rem(15);
    margin-top: auto;
  }

  &__btn {
    flex-grow: 1;

    @include media('600', max) {
      padding: rem(14) rem(25);
    }

    @include media('374', max) {
      font-size: rem(12);
    }
  }

  &__list {
    display: none;

    &-item {
      @include font-size(14, 19);
      display: flex;
      column-gap: rem(8);
    }

    &-term {
      font-weight: 600;
    }
  }

  &__favorite {
    @include media('600', max) {
      display: none;
    }
  }

  &__mobile-favorite {
    display: flex;
    position: absolute;
    top: rem(8);
    right: rem(8);
    z-index: 1;
    color: var(--pallette-biscay);

    @include media('601', min) {
      display: none;
    }

    .btn__icon {
      width: rem(18);
      height: rem(18);
      fill: currentColor;
    }
  }

  &__btns-block {
    @include flex-center-y;
    position: relative;
    column-gap: rem(8);
    margin-top: rem(12);

    > * {
      width: 50%;
    }

    &-btn {
      @include font-size(14, 20);
      font-weight: 600;
      color: var(--pallette-biscay);
      background-color: var(--pallette-athens-gray);
    }

    &-icon {
      width: rem(24);
      height: rem(24);
    }
  }
}
