<article class="product-card {{ product_card.class }}">
  <div class="product-card__header">
    <div class="product-card__tags">
      <div class="product-card__tags-left">
        {% if product_card.tags.percent %}
          {% include "../../@atoms/tag/tag.twig" with {
            tag: product_card.tags.percent|default({})|merge({
              class: "tag--percent product-card__tag"
            })
          } %}
        {% endif %}

        {% if product_card.tags.type %}
          {% include "../../@atoms/tag/tag.twig" with {
            tag: product_card.tags.type|default({})|merge({
              class: "tag--new product-card__tag"
            })
          } %}
        {% endif %}
      </div>
      {% if product_card.tags.volume %}
        <div class="product-card__tags-right">
          {% include "../../@atoms/tag/tag.twig" with {
            tag: product_card.tags.volume|default({})|merge({
              class: product_card.tags.volume.class ~ " product-card__tag"
            })
          } %}
        </div>
      {% endif %}
    </div>

    <div class="swiper product-slider product-card__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product-slider__slide">
          {% include "../../@atoms/image/image.twig" with {
            image: product_card.image|default({})|merge({
              sizes: {
                width: 320,
                height: 212
              },
              alt: "",
            })
          } %}
        </div>
        <div class="swiper-slide product-slider__slide">
          {% include "../../@atoms/image/image.twig" with {
            image: product_card.image|default({})|merge({
              sizes: {
                width: 320,
                height: 212
              },
              alt: "",
            })
          } %}
        </div>
      </div>
      <div class="product-slider__pagination"></div>
    </div>

    {% if product_card.rating %}
      {% include "../../@atoms/rating/rating.twig" with {
        rating: product_card.rating|default({})|merge({
          class: "product-card__rating product-card__rating--tile-card"
        })
      } %}
    {% endif %}

    {% include "../../@atoms/button/button.twig" with {
      button: {
        href: "#",
        class: "btn--favorite product-card__mobile-favorite",
        icons: [{
          class: "btn__icon--favorite",
          name: "sprite-mono.svg#heart"
        }, {
          class: "btn__icon--favorite-fill",
          name: "sprite-mono.svg#heart-fill"
        }],
        attrs: "aria-label='Добавить в избранное'"
      }
    } %}
  </div>

  <div class="product-card__body">
    <div class="product-card__body-start">
      {% if product_card.second_rating %}
        {% include "../../@atoms/rating/rating.twig" with {
          rating: product_card.rating|default({})|merge({
            class: "product-card__rating product-card__rating--list-card"
          })
        } %}
      {% endif %}

      {% include "../../@atoms/title/title.twig" with {
        title: product_card.title|default({})|merge({
          class: "product-card__title",
          link: {
            class: "btn btn--link product-card__title-link"
          }
        })
      } %}

      <div class="product-card__text">
        Франция
      </div>

      {% if product_card.list %}
        <dl class="product-card__list">
          {% for item in product_card.list.items %}
            <div class="product-card__list-item">
              <dt class="product-card__list-term">
                {{ item.term }}
              </dt>
              <dd class="product-card__list-descr">
                {{ item.descr }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      {% endif %}
    </div>

    <div class="product-card__body-end">
      {% include "../../@atoms/price_info/price_info.twig" with {
        price_info: product_card.price|default({})|merge({
          class: "product-card__price"
        })
      } %}

      <div class="product-card__inner">
        {% if product_card.basket_btn %}
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--btn btn--primary product-card__btn js-basket-btn",
              text: {
                text: "В корзину"
              }
            }
          } %}
        {% endif %}

        {% if product_card.quantity.type == 'portal' %}
          <div class="quantity-wrapper" {{ product_card.quantity.attrs }}>
            <div class="quantity-wrapper__item">
              <div class="quantity-wrapper__text">
                {% include "../../@atoms/icon/icon.twig" with {
                  icon: {
                    class: "quantity-wrapper__text-icon",
                    name: "sprite-multi.svg#wine-piece"
                  }
                } %}
                В штуках
              </div>
              {% include "../../@atoms/quantity/quantity.twig" with {
                quantity: {
                  class: "quantity--secondary",
                }
              } %}
            </div>
            <div class="quantity-wrapper__item">
              <div class="quantity-wrapper__text">
                {% include "../../@atoms/icon/icon.twig" with {
                  icon: {
                    class: "quantity-wrapper__text-icon",
                    name: "sprite-multi.svg#box"
                  }
                } %}
                В коробках
              </div>
              {% include "../../@atoms/quantity/quantity.twig" with {
                quantity: {
                  class: "quantity--secondary"
                }
              } %}
            </div>
          </div>
        {% else %}
          <div class="quantity-wrapper" hidden>
            <div class="quantity-wrapper__item">
              {% include "../../@atoms/quantity/quantity.twig" with {
                quantity: {
                  class: "quantity--secondary",
                }
              } %}
            </div>
          </div>
        {% endif %}

        {% if product_card.favorite_btn %}
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "btn--favorite btn--icon product-card__favorite",
              icons: [{
                class: "btn__icon--favorite",
                name: "sprite-mono.svg#heart"
              }, {
                class: "btn__icon--favorite-fill",
                name: "sprite-mono.svg#heart-fill"
              }],
              attrs: "aria-label='Добавить в избранное'"
            }
          } %}
        {% endif %}
      </div>
    </div>

    {% if product_card.btns %}
      <div class="product-card__btns-block">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--favorite product-card__btns-block-btn",
            icons: [{
              class: "btn__icon--favorite",
              name: "sprite-mono.svg#heart"
            }, {
              class: "btn__icon--favorite-fill",
              name: "sprite-mono.svg#heart-fill"
            }],
            text: {
              text: "Избранное"
            }
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn product-card__btns-block-btn",
            icon: {
              class: "product-card__btns-block-icon",
              name: "sprite-mono.svg#basket-shopping"
            },
            text: {
              text: "Удалить"
            }
          }
        } %}
      </div>
    {% endif %}
  </div>
</article>