.tabs {
  $this: &;

  &::part(active-tab-indicator) {
    border-bottom: none;
  }

  &::part(body) { // * todo: посмотреть, чтобы все было ок при адаптивной версии
    overflow: visible;
  }

  &::part(tabs) {
    padding: rem(4);
    flex-grow: unset;
    border: rem(1) solid var(--pallette-athens-gray-2);
    border-radius: var(--bdrs10);

    @include media('600', max) {
      flex-grow: 1;
    }
  }

  &__tab {
    @include media('600', max) {
      flex-grow: 1;
    }

    &::part(base) {
      @include font-size(16, 21);
      padding: rem(15) rem(24);
      font-weight: 600;
      border-radius: var(--bdrs10);
      color: inherit;

      @include media('600', max) {
        width: 100%;
        justify-content: center;
      }

      &:focus-visible {
        outline-color: var(--pallette-international-orange);
      }
    }

    &[active] {
      &::part(base) {
        background-color: var(--pallette-whisper);
      }
    }
  }

  &__panel {
    --padding: #{rem(28)} 0 0 0;

    @include media('600', max) {
      --padding: #{rem(24)} 0 0 0;
    }
  }
}
