.portal-header {
  $this: &;

  grid-area: header;
  margin-bottom: rem(30);

  .header__overlay,
  .search-box-dropdown {
    margin-left: var(--portal-sidebar-size);
    top: var(--portal-header-size);
  }

  &__container {
    @include flex-center-y;

    gap: rem(10) rem(20);
    min-height: rem(80);
  }

  &__title {
    @include font-size(28, 42);

    font-weight: 600;
    flex-grow: 1;
  }

  &__search-box {
    margin-right: rem(36);

    @include media('1600', max) {
      margin-right: 0;
    }

    &.search-box {
      flex-grow: 2;
    }

    .search-box__input {
      @include font-size(14, 21);
    }
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: rem(20);

    @include media('1600', max) {
      column-gap: rem(10);
    }
  }

  &__item {
    &--dropdown {
      position: relative;

      &::before {
        --margin: #{rem(23)};

        position: absolute;
        bottom: calc(var(--margin) * -1);
        left: 0;
        width: 100%;
        height: var(--margin);
        background-color: transparent;
        content: '';
      }

      &:hover,
      &:focus-within {
        .notification-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__btn {
    position: relative;

    @include flex-center;

    min-height: rem(50);
    min-width: rem(50);
    background-color: var(--pallette-athens-gray);
    border-radius: var(--bdrs15);

    &--active {
      &::before {
        position: absolute;
        top: calc(50px / 2 + 3px);
        left: calc(50px / 2 + 3px);
        width: rem(12);
        height: rem(12);
        background-color: var(--pallette-international-orange);
        border-radius: 50%;
        content: '';
      }
    }

    &-icon {
      width: rem(24);
      height: rem(24);
    }

    &-text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      @include font-size(10, 15);

      font-weight: 600;
      color: var(--pallette-biscay);
    }
  }
}
