<header class="header portal-header {{ portal_header.class }}">
  <div class="container portal-header__container">
    {% include "../../@atoms/title/title.twig" with {
      title: portal_header.title|default({})|merge({
        class: "portal-header__title"
      })
    } %}

    {% include "../../&organisms/search_box/search_box.twig" with {
      search_box: {
        class: "search-box--secondary search-box--tertiary portal-header__search-box js-search-box",
        dropdown: {
          class: "search-box-dropdown--portal",
          orders: true,
          point_sales: true
        },
        form: true,
        num_product_result: "Найдено 10 товаров",
        placeholder: "Введите ваш поисковый запрос",
        num_product_result_mobile: "Найдено 10 товаров",
      }
    } %}

    <nav class="portal-header__nav" aria-label="Мета">
      <ul class="portal-header__list">
        <li class="portal-header__item portal-header__item--dropdown">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "portal-header__btn portal-header__btn--active",
              icon: {
                class: "portal-header__btn-icon",
                name: "sprite-multi.svg#bell"
              },
              attrs: "aria-label='Уведомления'"
            }
          } %}

          {% include "../../^molecules/notification_dropdown/notification_dropdown.twig" %}
        </li>

        <li class="portal-header__item">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "portal-header__btn",
              icon: {
                class: "portal-header__btn-icon",
                name: "sprite-multi.svg#heart"
              },
              attrs: "aria-label='Избранное'"
            }
          } %}
        </li>

        <li class="portal-header__item">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              href: "#",
              class: "portal-header__btn",
              icon: {
                class: "portal-header__btn-icon",
                name: "sprite-multi.svg#basket"
              },
              attrs: "aria-label='Корзина'",
              text: {
                class: "portal-header__btn-text",
                text: "1000"
              }
            }
          } %}
        </li>
      </ul>
    </nav>

    {% include "../../^molecules/profile_dropdown/profile_dropdown.twig" %}
  </div>
</header>