.point-sale-card {
  $this: &;

  position: relative;
  display: grid;
  grid-template-columns: rem(174) 1fr;
  column-gap: rem(16);
  padding: rem(20);
  border: rem(1) solid var(--pallette-seashell);
  border-radius: var(--bdrs15);

  @media (hover: hover) {
    &:hover {
      #{$this}__title {
        color: var(--pallette-international-orange);
      }
    }
  }

  &__img {
    border-radius: var(--bdrs3);
  }

  &__title {
    @include font-size(16, 24);
    font-weight: 600;
    margin-bottom: rem(12);
    transition: color var(--transition300ms);
  }

  &__list {
    @include font-size(14, 21);
    display: grid;
    row-gap: rem(8);
    font-weight: 400;
  }

  &__item {
    display: flex;
    column-gap: rem(4);
  }

  &__term {
    font-weight: 600;
  }

  &__link {
    position: relative;
  }
}
