.search-box {
  $this: &;

  position: absolute;
  left: var(--container-padding);
  right: var(--container-padding);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  flex-grow: 1;
  background-color: var(--pallette-athens-gray);
  border-radius: var(--bdrs10);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition300ms);

  &--secondary {
    position: static;
    transform: unset;
    opacity: 1;
    visibility: visible;

    @include media('1200', max) {
      background-color: transparent;

      #{$this}__input {
        border: rem(1) solid var(--pallette-athens-gray-2);
      }
    }

    #{$this}__input {
      padding: rem(18) rem(320) rem(18) rem(48);

      @include media('1200', max) {
        padding: rem(18) rem(48);
      }

      @include media('600', max) {
        padding: rem(18) rem(40);
      }
    }

    #{$this}__num-product-result {
      @include font-size(14, 21);
    }
  }

  &--tertiary {
    background-color: var(--pallette-white);

    #{$this}__input {
      padding: rem(18) rem(220) rem(18) rem(48);
      border: rem(1) solid var(--pallette-athens-gray-2);
    }
  }

  &--fouternary {
    min-width: rem(288);
    background-color: var(--pallette-white);

    #{$this}__input {
      @include font-size(14, 21);
      padding: rem(14) rem(36);
      border: rem(1) solid var(--pallette-athens-gray-2);
    }

    #{$this}__icon {
      left: rem(10);
    }

    #{$this}__close {
      right: rem(10);
    }
  }

  &__form-control {
    position: relative;
  }

  &__input {
    @include font-size(16, 24);
    padding: rem(15) rem(220) rem(12) rem(48);
    border: none;

    @include media('1200', max) {
      padding: rem(15) rem(48) rem(12) rem(48);
    }

    @include media('600', max) {
      @include font-size(14, 21);
      padding: rem(10) rem(48);
    }
  }

  &__btn {
    position: absolute;
    left: rem(16);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    fill: var(--pallette-gray);

    .btn__icon {
      width: rem(20);
      height: rem(20);
    }
  }

  &__icon {
    position: absolute;
    left: rem(16);
    top: 50%;
    transform: translateY(-50%);
    width: rem(20);
    height: rem(20);
    fill: var(--pallette-gray);

    @include media('600', max) {
      left: rem(12);
    }
  }

  &__num-product-result {
    position: absolute;
    right: rem(56);
    top: 50%;
    transform: translateY(-50%);
    color: var(--pallette-gray);

    @include media('1200', max) {
      display: none;
    }

    &-mobile {
      @include font-size(12, 18);
      color: var(--pallette-gray);
      margin-top: rem(4);

      @include media('1201', min) {
        display: none;
      }
    }
  }

  &__close {
    position: absolute;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: var(--pallette-gray);

    &-icon {
      width: rem(16);
      height: rem(16);
      stroke: currentColor;
    }
  }
}

// dropdown
.search-box-dropdown {
  $this: &;

  position: fixed;
  top: var(--header-size);
  left: 0;
  right: 0;
  z-index: 1;
  transition: all var(--transition300ms);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  height: 100%;
  box-shadow: 0 rem(-1) 0 var(--pallette-mercury);

  &--portal {
    #{$this}__results {
      grid-template-columns: repeat(auto-fill, minmax(#{rem(366)}, 1fr));
      gap: rem(8);
    }

    #{$this}__container {
      padding: rem(24) 0 rem(100);
    }
  }

  &__container {
    @include font-size(16, 22);
    position: relative;
    z-index: 10;
    font-weight: 600;
    padding: rem(24) 0 rem(61);
    background-color: var(--pallette-white);

    @include media('1600', max) {
      padding: rem(24) 0 rem(90);
    }
  }

  &__popular {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);

    &:not(:last-child) {
      margin-bottom: rem(36);

      @include media('600', max) {
        margin-bottom: rem(32);
      }
    }

    &-item {
      display: flex;
    }

    &-btn {
      @include font-size(14, 20);
      font-weight: 600;
      padding: rem(10) rem(16);
      border-radius: var(--bdrs10);
      background-color: var(--pallette-athens-gray);
      transition: color var(--transition300ms), background-color var(--transition300ms);

      @media (hover: hover) {
        &:hover {
          background-color: var(--pallette-international-orange);
          color: var(--pallette-white);
        }
      }
    }
  }

  &__wrap {
    @include flex-center-between;
    flex-wrap: wrap;
    gap: rem(5);

    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  &__more {
    @include font-size(16, 22);
    color: var(--pallette-international-orange);

    @include media('600', max) {
      @include font-size(14, 20);
    }
  }

  &__results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(395)}, 1fr));
    gap: rem(10);

    &:not(:last-child) {
      margin-bottom: rem(32);
    }

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(10);
        }
      }
    }
  }

  &__point-sales {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(490)}, 1fr));
    gap: rem(10);
  }

  &__orders {
    @include flex-column;
    row-gap: rem(8);

    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
}
