.product-slider {
  @include flex-column;

  &__slide {
    @include flex-center;

    width: 100% !important;
  }

  &__pagination {
    @include flex-center-x;

    column-gap: rem(4);

    &-bullet {
      width: rem(20);
      height: rem(4);
      background-color: var(--pallette-mercury);
      border-radius: var(--bdrs3);

      &--active {
        background-color: var(--pallette-alto);
      }
    }
  }
}
