.toggle-group {
  display: flex;
  padding: rem(4);
  border: rem(1) solid var(--pallette-athens-gray-2);
  border-radius: var(--bdrs10);

  @include media('600', max) {
    width: 100%;
    padding: rem(3);

    > * {
      flex-grow: 1;
      justify-content: center;
    }
  }

  &--without-border {
    padding: 0;
    border: none;
  }

  &__btn {
    @include flex-center;
    @include font-size(16, 21);

    padding: rem(15) rem(24);
    font-weight: 600;
    border-radius: var(--bdrs10);
    text-align: center;

    &[aria-pressed='true'] {
      background-color: var(--pallette-whisper);
    }

    &[aria-current='page'] {
      background-color: var(--pallette-whisper);
    }
  }
}
