.navbar {
  @include font-size(12, 22);

  font-weight: 600;
  color: var(--pallette-silver);
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10) rem(16);
  background-color: var(--pallette-white);

  @include media('601', min) {
    display: none;
  }

  &__list {
    @include flex-center-between;

    column-gap: rem(10);
  }

  &__btn {
    @include flex-center-column;

    row-gap: rem(2);
    position: relative;

    &[aria-current='true'] {
      color: var(--pallette-biscay);

      &::before {
        position: absolute;
        top: rem(-2);
        width: rem(48);
        height: rem(24);
        background-color: rgba(50, 78, 115, 0.1);
        border-radius: rem(100);
        content: '';
      }
    }
  }

  &__icon {
    width: rem(18);
    height: rem(18);
    fill: currentcolor;
  }
}
