<nav class="navbar" aria-label="Мобильная">
  <ul class="navbar__list">
    <li class="navbar__item">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "navbar__btn",
          href: "#",
          text: {
            text: "Главная"
          },
          icon: {
            class: "navbar__icon",
            name: "sprite-mono.svg#house"
          },
          attrs: "aria-current='true'"
        }
      } %}
    </li>

    <li class="navbar__item">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "navbar__btn",
          href: "#",
          text: {
            text: "Каталог"
          },
          icon: {
            class: "navbar__icon",
            name: "sprite-mono.svg#squares"
          }
        }
      } %}
    </li>

    <li class="navbar__item">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "navbar__btn",
          href: "#",
          text: {
            text: "Корзина"
          },
          icon: {
            class: "navbar__icon",
            name: "sprite-mono.svg#cart-shopping"
          }
        }
      } %}
    </li>

    <li class="navbar__item">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "navbar__btn",
          href: "#",
          text: {
            text: "Акции"
          },
          icon: {
            class: "navbar__icon",
            name: "sprite-mono.svg#percent"
          }
        }
      } %}
    </li>

    <li class="navbar__item">
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "navbar__btn",
          href: "#",
          text: {
            text: "Профиль"
          },
          icon: {
            class: "navbar__icon",
            name: "sprite-mono.svg#user-profile"
          }
        }
      } %}
    </li>
  </ul>
</nav>